/*
Copyright 2026 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 25.1.1

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"reflect"
)

// AnalyticsApiService AnalyticsApi service
type AnalyticsApiService service

// Request for V1 GET /Analytics/Certificates/Count
type ApiGetAnalyticsCertificatesCountRequest struct {
	ctx                     context.Context
	ApiService              *AnalyticsApiService
	collectionId            *int32
	xKeyfactorRequestedWith *string
	query                   *string
	xKeyfactorApiVersion    *string
}

// Certificate collection identifier used to filter the count, 0 indicates the global collection
func (r ApiGetAnalyticsCertificatesCountRequest) CollectionId(collectionId int32) ApiGetAnalyticsCertificatesCountRequest {
	r.collectionId = &collectionId
	return r
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAnalyticsCertificatesCountRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAnalyticsCertificatesCountRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Query string for the certificates returned in the count
func (r ApiGetAnalyticsCertificatesCountRequest) Query(query string) ApiGetAnalyticsCertificatesCountRequest {
	r.query = &query
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAnalyticsCertificatesCountRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAnalyticsCertificatesCountRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Analytics/Certificates/Count request context
func (r ApiGetAnalyticsCertificatesCountRequest) Execute() (*AnalyticsAnalyticsCertificateCountResponse, *http.Response, error) {
	return r.ApiService.GetAnalyticsCertificatesCountExecute(r)
}

/*
Creates a new V1 GET /Analytics/Certificates/Count request.

GetAnalyticsCertificatesCount Returns the count of certificates according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAnalyticsCertificatesCountRequest
*/
func (a *AnalyticsApiService) NewGetAnalyticsCertificatesCountRequest(ctx context.Context) ApiGetAnalyticsCertificatesCountRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAnalyticsCertificatesCountRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Analytics/Certificates/Count
//
//	@return AnalyticsAnalyticsCertificateCountResponse
func (a *AnalyticsApiService) GetAnalyticsCertificatesCountExecute(r ApiGetAnalyticsCertificatesCountRequest) (*AnalyticsAnalyticsCertificateCountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsAnalyticsCertificateCountResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Analytics/Certificates/Count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.collectionId == nil {
		return localVarReturnValue, nil, reportError("collectionId is required and must be specified")
	}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.query != nil {
		parameterAddToQuery(localVarQueryParams, "query", r.query, "")
	}
	parameterAddToQuery(localVarQueryParams, "collectionId", r.collectionId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Analytics/Certificates/Count/Collections
type ApiGetAnalyticsCertificatesCountCollectionsRequest struct {
	ctx                     context.Context
	ApiService              *AnalyticsApiService
	xKeyfactorRequestedWith *string
	collectionIds           *[]int32
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAnalyticsCertificatesCountCollectionsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAnalyticsCertificatesCountCollectionsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetAnalyticsCertificatesCountCollectionsRequest) CollectionIds(collectionIds []int32) ApiGetAnalyticsCertificatesCountCollectionsRequest {
	r.collectionIds = &collectionIds
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAnalyticsCertificatesCountCollectionsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAnalyticsCertificatesCountCollectionsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Analytics/Certificates/Count/Collections request context
func (r ApiGetAnalyticsCertificatesCountCollectionsRequest) Execute() ([]AnalyticsAnalyticsCollectionsCountResponse, *http.Response, error) {
	return r.ApiService.GetAnalyticsCertificatesCountCollectionsExecute(r)
}

/*
Creates a new V1 GET /Analytics/Certificates/Count/Collections request.

GetAnalyticsCertificatesCountCollections Returns the count of certificates for a given list of collections

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAnalyticsCertificatesCountCollectionsRequest
*/
func (a *AnalyticsApiService) NewGetAnalyticsCertificatesCountCollectionsRequest(ctx context.Context) ApiGetAnalyticsCertificatesCountCollectionsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAnalyticsCertificatesCountCollectionsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Analytics/Certificates/Count/Collections
//
//	@return []AnalyticsAnalyticsCollectionsCountResponse
func (a *AnalyticsApiService) GetAnalyticsCertificatesCountCollectionsExecute(r ApiGetAnalyticsCertificatesCountCollectionsRequest) ([]AnalyticsAnalyticsCollectionsCountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsAnalyticsCollectionsCountResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Analytics/Certificates/Count/Collections"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.collectionIds != nil {
		t := *r.collectionIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToQuery(localVarQueryParams, "CollectionIds", s.Index(i), "multi")
			}
		} else {
			parameterAddToQuery(localVarQueryParams, "CollectionIds", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Analytics/Certificates/Count/Grouped
type ApiGetAnalyticsCertificatesCountGroupedRequest struct {
	ctx                     context.Context
	ApiService              *AnalyticsApiService
	groupByField            *string
	collectionId            *int32
	xKeyfactorRequestedWith *string
	query                   *string
	xKeyfactorApiVersion    *string
}

// The name of a certificate query parser to group certificates by
func (r ApiGetAnalyticsCertificatesCountGroupedRequest) GroupByField(groupByField string) ApiGetAnalyticsCertificatesCountGroupedRequest {
	r.groupByField = &groupByField
	return r
}

// Certificate collection identifier used to filter the count, 0 indicates the global collection
func (r ApiGetAnalyticsCertificatesCountGroupedRequest) CollectionId(collectionId int32) ApiGetAnalyticsCertificatesCountGroupedRequest {
	r.collectionId = &collectionId
	return r
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAnalyticsCertificatesCountGroupedRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAnalyticsCertificatesCountGroupedRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Query string for the certificates returned in the count
func (r ApiGetAnalyticsCertificatesCountGroupedRequest) Query(query string) ApiGetAnalyticsCertificatesCountGroupedRequest {
	r.query = &query
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAnalyticsCertificatesCountGroupedRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAnalyticsCertificatesCountGroupedRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Analytics/Certificates/Count/Grouped request context
func (r ApiGetAnalyticsCertificatesCountGroupedRequest) Execute() ([]AnalyticsAnalyticsCertificateCountWithNameResponse, *http.Response, error) {
	return r.ApiService.GetAnalyticsCertificatesCountGroupedExecute(r)
}

/*
Creates a new V1 GET /Analytics/Certificates/Count/Grouped request.

GetAnalyticsCertificatesCountGrouped Returns the grouped count of certificates according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAnalyticsCertificatesCountGroupedRequest
*/
func (a *AnalyticsApiService) NewGetAnalyticsCertificatesCountGroupedRequest(ctx context.Context) ApiGetAnalyticsCertificatesCountGroupedRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAnalyticsCertificatesCountGroupedRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Analytics/Certificates/Count/Grouped
//
//	@return []AnalyticsAnalyticsCertificateCountWithNameResponse
func (a *AnalyticsApiService) GetAnalyticsCertificatesCountGroupedExecute(r ApiGetAnalyticsCertificatesCountGroupedRequest) ([]AnalyticsAnalyticsCertificateCountWithNameResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsAnalyticsCertificateCountWithNameResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Analytics/Certificates/Count/Grouped"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.groupByField == nil {
		return localVarReturnValue, nil, reportError("groupByField is required and must be specified")
	}
	if r.collectionId == nil {
		return localVarReturnValue, nil, reportError("collectionId is required and must be specified")
	}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.query != nil {
		parameterAddToQuery(localVarQueryParams, "query", r.query, "")
	}
	parameterAddToQuery(localVarQueryParams, "groupByField", r.groupByField, "")
	parameterAddToQuery(localVarQueryParams, "collectionId", r.collectionId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Analytics/Certificates/Issuance
type ApiGetAnalyticsCertificatesIssuanceRequest struct {
	ctx                     context.Context
	ApiService              *AnalyticsApiService
	collectionId            *int32
	totalPeriods            *int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// The Id of the Collection to filter by, 0 indicates the global collection
func (r ApiGetAnalyticsCertificatesIssuanceRequest) CollectionId(collectionId int32) ApiGetAnalyticsCertificatesIssuanceRequest {
	r.collectionId = &collectionId
	return r
}

func (r ApiGetAnalyticsCertificatesIssuanceRequest) TotalPeriods(totalPeriods int32) ApiGetAnalyticsCertificatesIssuanceRequest {
	r.totalPeriods = &totalPeriods
	return r
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAnalyticsCertificatesIssuanceRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAnalyticsCertificatesIssuanceRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAnalyticsCertificatesIssuanceRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAnalyticsCertificatesIssuanceRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Analytics/Certificates/Issuance request context
func (r ApiGetAnalyticsCertificatesIssuanceRequest) Execute() (*AnalyticsAnalyticsCertificateCountWithPeriodResponse, *http.Response, error) {
	return r.ApiService.GetAnalyticsCertificatesIssuanceExecute(r)
}

/*
Creates a new V1 GET /Analytics/Certificates/Issuance request.

GetAnalyticsCertificatesIssuance Returns the count of certificates issued grouped by period

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAnalyticsCertificatesIssuanceRequest
*/
func (a *AnalyticsApiService) NewGetAnalyticsCertificatesIssuanceRequest(ctx context.Context) ApiGetAnalyticsCertificatesIssuanceRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAnalyticsCertificatesIssuanceRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Analytics/Certificates/Issuance
//
//	@return AnalyticsAnalyticsCertificateCountWithPeriodResponse
func (a *AnalyticsApiService) GetAnalyticsCertificatesIssuanceExecute(r ApiGetAnalyticsCertificatesIssuanceRequest) (*AnalyticsAnalyticsCertificateCountWithPeriodResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsAnalyticsCertificateCountWithPeriodResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Analytics/Certificates/Issuance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.collectionId == nil {
		return localVarReturnValue, nil, reportError("collectionId is required and must be specified")
	}
	if r.totalPeriods == nil {
		return localVarReturnValue, nil, reportError("totalPeriods is required and must be specified")
	}
	if *r.totalPeriods < 1 {
		return localVarReturnValue, nil, reportError("totalPeriods must be greater than 1")
	}
	if *r.totalPeriods > 52 {
		return localVarReturnValue, nil, reportError("totalPeriods must be less than 52")
	}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	parameterAddToQuery(localVarQueryParams, "collectionId", r.collectionId, "")
	parameterAddToQuery(localVarQueryParams, "TotalPeriods", r.totalPeriods, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Analytics/Certificates/Revocation
type ApiGetAnalyticsCertificatesRevocationRequest struct {
	ctx                     context.Context
	ApiService              *AnalyticsApiService
	collectionId            *int32
	totalPeriods            *int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// The Id of the Collection to filter by, 0 indicates the global collection
func (r ApiGetAnalyticsCertificatesRevocationRequest) CollectionId(collectionId int32) ApiGetAnalyticsCertificatesRevocationRequest {
	r.collectionId = &collectionId
	return r
}

func (r ApiGetAnalyticsCertificatesRevocationRequest) TotalPeriods(totalPeriods int32) ApiGetAnalyticsCertificatesRevocationRequest {
	r.totalPeriods = &totalPeriods
	return r
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAnalyticsCertificatesRevocationRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAnalyticsCertificatesRevocationRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAnalyticsCertificatesRevocationRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAnalyticsCertificatesRevocationRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Analytics/Certificates/Revocation request context
func (r ApiGetAnalyticsCertificatesRevocationRequest) Execute() (*AnalyticsAnalyticsCertificateCountWithPeriodResponse, *http.Response, error) {
	return r.ApiService.GetAnalyticsCertificatesRevocationExecute(r)
}

/*
Creates a new V1 GET /Analytics/Certificates/Revocation request.

GetAnalyticsCertificatesRevocation Returns the count of certificates revoked grouped by period

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAnalyticsCertificatesRevocationRequest
*/
func (a *AnalyticsApiService) NewGetAnalyticsCertificatesRevocationRequest(ctx context.Context) ApiGetAnalyticsCertificatesRevocationRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAnalyticsCertificatesRevocationRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Analytics/Certificates/Revocation
//
//	@return AnalyticsAnalyticsCertificateCountWithPeriodResponse
func (a *AnalyticsApiService) GetAnalyticsCertificatesRevocationExecute(r ApiGetAnalyticsCertificatesRevocationRequest) (*AnalyticsAnalyticsCertificateCountWithPeriodResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsAnalyticsCertificateCountWithPeriodResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Analytics/Certificates/Revocation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.collectionId == nil {
		return localVarReturnValue, nil, reportError("collectionId is required and must be specified")
	}
	if r.totalPeriods == nil {
		return localVarReturnValue, nil, reportError("totalPeriods is required and must be specified")
	}
	if *r.totalPeriods < 1 {
		return localVarReturnValue, nil, reportError("totalPeriods must be greater than 1")
	}
	if *r.totalPeriods > 52 {
		return localVarReturnValue, nil, reportError("totalPeriods must be less than 52")
	}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	parameterAddToQuery(localVarQueryParams, "collectionId", r.collectionId, "")
	parameterAddToQuery(localVarQueryParams, "TotalPeriods", r.totalPeriods, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Analytics/SSL/Networks/Endpoints
type ApiGetAnalyticsSSLNetworksEndpointsRequest struct {
	ctx                     context.Context
	ApiService              *AnalyticsApiService
	xKeyfactorRequestedWith *string
	networks                *[]string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAnalyticsSSLNetworksEndpointsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAnalyticsSSLNetworksEndpointsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetAnalyticsSSLNetworksEndpointsRequest) Networks(networks []string) ApiGetAnalyticsSSLNetworksEndpointsRequest {
	r.networks = &networks
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAnalyticsSSLNetworksEndpointsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAnalyticsSSLNetworksEndpointsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Analytics/SSL/Networks/Endpoints request context
func (r ApiGetAnalyticsSSLNetworksEndpointsRequest) Execute() ([]AnalyticsAnalyticsSSLNetworkEndpointCountResponse, *http.Response, error) {
	return r.ApiService.GetAnalyticsSSLNetworksEndpointsExecute(r)
}

/*
Creates a new V1 GET /Analytics/SSL/Networks/Endpoints request.

GetAnalyticsSSLNetworksEndpoints Returns the count of endpoints for a given list of networks (or all networks if none are provided)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAnalyticsSSLNetworksEndpointsRequest
*/
func (a *AnalyticsApiService) NewGetAnalyticsSSLNetworksEndpointsRequest(ctx context.Context) ApiGetAnalyticsSSLNetworksEndpointsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAnalyticsSSLNetworksEndpointsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Analytics/SSL/Networks/Endpoints
//
//	@return []AnalyticsAnalyticsSSLNetworkEndpointCountResponse
func (a *AnalyticsApiService) GetAnalyticsSSLNetworksEndpointsExecute(r ApiGetAnalyticsSSLNetworksEndpointsRequest) ([]AnalyticsAnalyticsSSLNetworkEndpointCountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsAnalyticsSSLNetworkEndpointCountResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Analytics/SSL/Networks/Endpoints"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.networks != nil {
		t := *r.networks
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToQuery(localVarQueryParams, "Networks", s.Index(i), "multi")
			}
		} else {
			parameterAddToQuery(localVarQueryParams, "Networks", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Analytics/SSL/Networks/Endpoints/Status
type ApiGetAnalyticsSSLNetworksEndpointsStatusRequest struct {
	ctx                     context.Context
	ApiService              *AnalyticsApiService
	xKeyfactorRequestedWith *string
	networks                *[]string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAnalyticsSSLNetworksEndpointsStatusRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAnalyticsSSLNetworksEndpointsStatusRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetAnalyticsSSLNetworksEndpointsStatusRequest) Networks(networks []string) ApiGetAnalyticsSSLNetworksEndpointsStatusRequest {
	r.networks = &networks
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAnalyticsSSLNetworksEndpointsStatusRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAnalyticsSSLNetworksEndpointsStatusRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Analytics/SSL/Networks/Endpoints/Status request context
func (r ApiGetAnalyticsSSLNetworksEndpointsStatusRequest) Execute() ([]AnalyticsAnalyticsSSLNetworkEndpointStatusCountResponse, *http.Response, error) {
	return r.ApiService.GetAnalyticsSSLNetworksEndpointsStatusExecute(r)
}

/*
Creates a new V1 GET /Analytics/SSL/Networks/Endpoints/Status request.

GetAnalyticsSSLNetworksEndpointsStatus Returns the count of endpoints grouped by status for a given list of networks (or all networks if none are provided)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAnalyticsSSLNetworksEndpointsStatusRequest
*/
func (a *AnalyticsApiService) NewGetAnalyticsSSLNetworksEndpointsStatusRequest(ctx context.Context) ApiGetAnalyticsSSLNetworksEndpointsStatusRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAnalyticsSSLNetworksEndpointsStatusRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Analytics/SSL/Networks/Endpoints/Status
//
//	@return []AnalyticsAnalyticsSSLNetworkEndpointStatusCountResponse
func (a *AnalyticsApiService) GetAnalyticsSSLNetworksEndpointsStatusExecute(r ApiGetAnalyticsSSLNetworksEndpointsStatusRequest) ([]AnalyticsAnalyticsSSLNetworkEndpointStatusCountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsAnalyticsSSLNetworkEndpointStatusCountResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Analytics/SSL/Networks/Endpoints/Status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.networks != nil {
		t := *r.networks
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToQuery(localVarQueryParams, "Networks", s.Index(i), "multi")
			}
		} else {
			parameterAddToQuery(localVarQueryParams, "Networks", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
