/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 25.1.1

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// CAConnectorApiService CAConnectorApi service
type CAConnectorApiService service

// Request for V1 POST /CertificateAuthority/CAConnectors
type ApiCreateCertificateAuthorityCAConnectorsRequest struct {
	ctx                                      context.Context
	ApiService                               *CAConnectorApiService
	xKeyfactorRequestedWith                  *string
	xKeyfactorApiVersion                     *string
	certificateAuthoritiesCAConnectorRequest *CertificateAuthoritiesCAConnectorRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateCertificateAuthorityCAConnectorsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateCertificateAuthorityCAConnectorsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateCertificateAuthorityCAConnectorsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateCertificateAuthorityCAConnectorsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// CA Connector object with the provided information.
func (r ApiCreateCertificateAuthorityCAConnectorsRequest) CertificateAuthoritiesCAConnectorRequest(certificateAuthoritiesCAConnectorRequest CertificateAuthoritiesCAConnectorRequest) ApiCreateCertificateAuthorityCAConnectorsRequest {
	r.certificateAuthoritiesCAConnectorRequest = &certificateAuthoritiesCAConnectorRequest
	return r
}

// Executes the V1 POST /CertificateAuthority/CAConnectors request context
func (r ApiCreateCertificateAuthorityCAConnectorsRequest) Execute() (*CertificateAuthoritiesCAConnectorResponse, *http.Response, error) {
	return r.ApiService.CreateCertificateAuthorityCAConnectorsExecute(r)
}

/*
Creates a new V1 POST /CertificateAuthority/CAConnectors request.

CreateCertificateAuthorityCAConnectors Creates a new CA Connector object

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateCertificateAuthorityCAConnectorsRequest
*/
func (a *CAConnectorApiService) NewCreateCertificateAuthorityCAConnectorsRequest(ctx context.Context) ApiCreateCertificateAuthorityCAConnectorsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateCertificateAuthorityCAConnectorsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 POST /CertificateAuthority/CAConnectors
//
//	@return CertificateAuthoritiesCAConnectorResponse
func (a *CAConnectorApiService) CreateCertificateAuthorityCAConnectorsExecute(r ApiCreateCertificateAuthorityCAConnectorsRequest) (*CertificateAuthoritiesCAConnectorResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CertificateAuthoritiesCAConnectorResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/CertificateAuthority/CAConnectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.certificateAuthoritiesCAConnectorRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 DELETE /CertificateAuthority/CAConnectors/{id}
type ApiDeleteCertificateAuthorityCAConnectorsByIdRequest struct {
	ctx                     context.Context
	ApiService              *CAConnectorApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteCertificateAuthorityCAConnectorsByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteCertificateAuthorityCAConnectorsByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteCertificateAuthorityCAConnectorsByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteCertificateAuthorityCAConnectorsByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 DELETE /CertificateAuthority/CAConnectors/{id} request context
func (r ApiDeleteCertificateAuthorityCAConnectorsByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteCertificateAuthorityCAConnectorsByIdExecute(r)
}

/*
Creates a new V1 DELETE /CertificateAuthority/CAConnectors/{id} request.

DeleteCertificateAuthorityCAConnectorsById Deletes a CA Connector with the specific ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The ID of the CA Connector
	@return ApiDeleteCertificateAuthorityCAConnectorsByIdRequest
*/
func (a *CAConnectorApiService) NewDeleteCertificateAuthorityCAConnectorsByIdRequest(ctx context.Context, id int32) ApiDeleteCertificateAuthorityCAConnectorsByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteCertificateAuthorityCAConnectorsByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *CAConnectorApiService) DeleteCertificateAuthorityCAConnectorsByIdExecute(r ApiDeleteCertificateAuthorityCAConnectorsByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/CertificateAuthority/CAConnectors/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for V1 GET /CertificateAuthority/CAConnectors
type ApiGetCertificateAuthorityCAConnectorsRequest struct {
	ctx                     context.Context
	ApiService              *CAConnectorApiService
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetCertificateAuthorityCAConnectorsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetCertificateAuthorityCAConnectorsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetCertificateAuthorityCAConnectorsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetCertificateAuthorityCAConnectorsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /CertificateAuthority/CAConnectors request context
func (r ApiGetCertificateAuthorityCAConnectorsRequest) Execute() ([]CertificateAuthoritiesCAConnectorResponse, *http.Response, error) {
	return r.ApiService.GetCertificateAuthorityCAConnectorsExecute(r)
}

/*
Creates a new V1 GET /CertificateAuthority/CAConnectors request.

GetCertificateAuthorityCAConnectors Returns all CA Connectors

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetCertificateAuthorityCAConnectorsRequest
*/
func (a *CAConnectorApiService) NewGetCertificateAuthorityCAConnectorsRequest(ctx context.Context) ApiGetCertificateAuthorityCAConnectorsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetCertificateAuthorityCAConnectorsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /CertificateAuthority/CAConnectors
//
//	@return []CertificateAuthoritiesCAConnectorResponse
func (a *CAConnectorApiService) GetCertificateAuthorityCAConnectorsExecute(r ApiGetCertificateAuthorityCAConnectorsRequest) ([]CertificateAuthoritiesCAConnectorResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CertificateAuthoritiesCAConnectorResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/CertificateAuthority/CAConnectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /CertificateAuthority/CAConnectors/{id}
type ApiGetCertificateAuthorityCAConnectorsByIdRequest struct {
	ctx                     context.Context
	ApiService              *CAConnectorApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetCertificateAuthorityCAConnectorsByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetCertificateAuthorityCAConnectorsByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetCertificateAuthorityCAConnectorsByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetCertificateAuthorityCAConnectorsByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /CertificateAuthority/CAConnectors/{id} request context
func (r ApiGetCertificateAuthorityCAConnectorsByIdRequest) Execute() (*CertificateAuthoritiesCAConnectorResponse, *http.Response, error) {
	return r.ApiService.GetCertificateAuthorityCAConnectorsByIdExecute(r)
}

/*
Creates a new V1 GET /CertificateAuthority/CAConnectors/{id} request.

GetCertificateAuthorityCAConnectorsById Returns a CA Connector with the specific ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The ID of the CA Connector
	@return ApiGetCertificateAuthorityCAConnectorsByIdRequest
*/
func (a *CAConnectorApiService) NewGetCertificateAuthorityCAConnectorsByIdRequest(ctx context.Context, id int32) ApiGetCertificateAuthorityCAConnectorsByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetCertificateAuthorityCAConnectorsByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request V1 GET /CertificateAuthority/CAConnectors/{id}
//
//	@return CertificateAuthoritiesCAConnectorResponse
func (a *CAConnectorApiService) GetCertificateAuthorityCAConnectorsByIdExecute(r ApiGetCertificateAuthorityCAConnectorsByIdRequest) (*CertificateAuthoritiesCAConnectorResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CertificateAuthoritiesCAConnectorResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/CertificateAuthority/CAConnectors/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 PUT /CertificateAuthority/CAConnectors/{id}
type ApiUpdateCertificateAuthorityCAConnectorsByIdRequest struct {
	ctx                                      context.Context
	ApiService                               *CAConnectorApiService
	id                                       int32
	xKeyfactorRequestedWith                  *string
	xKeyfactorApiVersion                     *string
	certificateAuthoritiesCAConnectorRequest *CertificateAuthoritiesCAConnectorRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateCertificateAuthorityCAConnectorsByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateCertificateAuthorityCAConnectorsByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateCertificateAuthorityCAConnectorsByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateCertificateAuthorityCAConnectorsByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// CA Connector object with the provided information.
func (r ApiUpdateCertificateAuthorityCAConnectorsByIdRequest) CertificateAuthoritiesCAConnectorRequest(certificateAuthoritiesCAConnectorRequest CertificateAuthoritiesCAConnectorRequest) ApiUpdateCertificateAuthorityCAConnectorsByIdRequest {
	r.certificateAuthoritiesCAConnectorRequest = &certificateAuthoritiesCAConnectorRequest
	return r
}

// Executes the V1 PUT /CertificateAuthority/CAConnectors/{id} request context
func (r ApiUpdateCertificateAuthorityCAConnectorsByIdRequest) Execute() (*CertificateAuthoritiesCAConnectorResponse, *http.Response, error) {
	return r.ApiService.UpdateCertificateAuthorityCAConnectorsByIdExecute(r)
}

/*
Creates a new V1 PUT /CertificateAuthority/CAConnectors/{id} request.

UpdateCertificateAuthorityCAConnectorsById Updates an existing CA Connector

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The ID of the CA Connector we want to update
	@return ApiUpdateCertificateAuthorityCAConnectorsByIdRequest
*/
func (a *CAConnectorApiService) NewUpdateCertificateAuthorityCAConnectorsByIdRequest(ctx context.Context, id int32) ApiUpdateCertificateAuthorityCAConnectorsByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateCertificateAuthorityCAConnectorsByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request V1 PUT /CertificateAuthority/CAConnectors/{id}
//
//	@return CertificateAuthoritiesCAConnectorResponse
func (a *CAConnectorApiService) UpdateCertificateAuthorityCAConnectorsByIdExecute(r ApiUpdateCertificateAuthorityCAConnectorsByIdRequest) (*CertificateAuthoritiesCAConnectorResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CertificateAuthoritiesCAConnectorResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/CertificateAuthority/CAConnectors/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.certificateAuthoritiesCAConnectorRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
