/*
Copyright 2026 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 25.1.1

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// TemplateApiService TemplateApi service
type TemplateApiService service

// Request for V1 POST /Templates/CADetails
type ApiCreateTemplatesCADetailsRequest struct {
	ctx                                   context.Context
	ApiService                            *TemplateApiService
	xKeyfactorRequestedWith               *string
	xKeyfactorApiVersion                  *string
	templatesTemplateDetailsCreateRequest *TemplatesTemplateDetailsCreateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateTemplatesCADetailsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateTemplatesCADetailsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateTemplatesCADetailsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateTemplatesCADetailsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Request object containing CA Details about the certificate template
func (r ApiCreateTemplatesCADetailsRequest) TemplatesTemplateDetailsCreateRequest(templatesTemplateDetailsCreateRequest TemplatesTemplateDetailsCreateRequest) ApiCreateTemplatesCADetailsRequest {
	r.templatesTemplateDetailsCreateRequest = &templatesTemplateDetailsCreateRequest
	return r
}

// Executes the V1 POST /Templates/CADetails request context
func (r ApiCreateTemplatesCADetailsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateTemplatesCADetailsExecute(r)
}

/*
Creates a new V1 POST /Templates/CADetails request.

CreateTemplatesCADetails Creates a Template with provided CA details

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateTemplatesCADetailsRequest
*/
func (a *TemplateApiService) NewCreateTemplatesCADetailsRequest(ctx context.Context) ApiCreateTemplatesCADetailsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateTemplatesCADetailsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *TemplateApiService) CreateTemplatesCADetailsExecute(r ApiCreateTemplatesCADetailsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates/CADetails"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	// body params
	localVarPostBody = r.templatesTemplateDetailsCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for V1 POST /Templates/CustomExtensions
type ApiCreateTemplatesCustomExtensionsRequest struct {
	ctx                                           context.Context
	ApiService                                    *TemplateApiService
	xKeyfactorRequestedWith                       *string
	xKeyfactorApiVersion                          *string
	templatesTemplateCertificateExtensionsRequest *TemplatesTemplateCertificateExtensionsRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateTemplatesCustomExtensionsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateTemplatesCustomExtensionsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateTemplatesCustomExtensionsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateTemplatesCustomExtensionsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Certificate extension object to create and the configuration tenant to add the extension to
func (r ApiCreateTemplatesCustomExtensionsRequest) TemplatesTemplateCertificateExtensionsRequest(templatesTemplateCertificateExtensionsRequest TemplatesTemplateCertificateExtensionsRequest) ApiCreateTemplatesCustomExtensionsRequest {
	r.templatesTemplateCertificateExtensionsRequest = &templatesTemplateCertificateExtensionsRequest
	return r
}

// Executes the V1 POST /Templates/CustomExtensions request context
func (r ApiCreateTemplatesCustomExtensionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateTemplatesCustomExtensionsExecute(r)
}

/*
Creates a new V1 POST /Templates/CustomExtensions request.

CreateTemplatesCustomExtensions Creates a new custom certificate extension on the EJBCA server instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateTemplatesCustomExtensionsRequest
*/
func (a *TemplateApiService) NewCreateTemplatesCustomExtensionsRequest(ctx context.Context) ApiCreateTemplatesCustomExtensionsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateTemplatesCustomExtensionsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *TemplateApiService) CreateTemplatesCustomExtensionsExecute(r ApiCreateTemplatesCustomExtensionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates/CustomExtensions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	// body params
	localVarPostBody = r.templatesTemplateCertificateExtensionsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for V1 POST /Templates/Import
type ApiCreateTemplatesImportRequest struct {
	ctx                                           context.Context
	ApiService                                    *TemplateApiService
	xKeyfactorRequestedWith                       *string
	xKeyfactorApiVersion                          *string
	configurationTenantConfigurationTenantRequest *ConfigurationTenantConfigurationTenantRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateTemplatesImportRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateTemplatesImportRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateTemplatesImportRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateTemplatesImportRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Configuration tenant to import from
func (r ApiCreateTemplatesImportRequest) ConfigurationTenantConfigurationTenantRequest(configurationTenantConfigurationTenantRequest ConfigurationTenantConfigurationTenantRequest) ApiCreateTemplatesImportRequest {
	r.configurationTenantConfigurationTenantRequest = &configurationTenantConfigurationTenantRequest
	return r
}

// Executes the V1 POST /Templates/Import request context
func (r ApiCreateTemplatesImportRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateTemplatesImportExecute(r)
}

/*
Creates a new V1 POST /Templates/Import request.

CreateTemplatesImport Imports templates from the provided configuration tenant

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateTemplatesImportRequest
*/
func (a *TemplateApiService) NewCreateTemplatesImportRequest(ctx context.Context) ApiCreateTemplatesImportRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateTemplatesImportRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *TemplateApiService) CreateTemplatesImportExecute(r ApiCreateTemplatesImportRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates/Import"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	// body params
	localVarPostBody = r.configurationTenantConfigurationTenantRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for V1 GET /Templates
type ApiGetTemplatesRequest struct {
	ctx                     context.Context
	ApiService              *TemplateApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetTemplatesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetTemplatesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetTemplatesRequest) QueryString(queryString string) ApiGetTemplatesRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetTemplatesRequest) PageReturned(pageReturned int32) ApiGetTemplatesRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetTemplatesRequest) ReturnLimit(returnLimit int32) ApiGetTemplatesRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetTemplatesRequest) SortField(sortField string) ApiGetTemplatesRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetTemplatesRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetTemplatesRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetTemplatesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetTemplatesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Templates request context
func (r ApiGetTemplatesRequest) Execute() ([]TemplatesTemplateCollectionRetrievalResponse, *http.Response, error) {
	return r.ApiService.GetTemplatesExecute(r)
}

/*
Creates a new V1 GET /Templates request.

GetTemplates Returns all certificate templates according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTemplatesRequest
*/
func (a *TemplateApiService) NewGetTemplatesRequest(ctx context.Context) ApiGetTemplatesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetTemplatesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Templates
//
//	@return []TemplatesTemplateCollectionRetrievalResponse
func (a *TemplateApiService) GetTemplatesExecute(r ApiGetTemplatesRequest) ([]TemplatesTemplateCollectionRetrievalResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []TemplatesTemplateCollectionRetrievalResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Templates/{id}
type ApiGetTemplatesByIdRequest struct {
	ctx                     context.Context
	ApiService              *TemplateApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetTemplatesByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetTemplatesByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetTemplatesByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetTemplatesByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Templates/{id} request context
func (r ApiGetTemplatesByIdRequest) Execute() (*TemplatesTemplateRetrievalResponse, *http.Response, error) {
	return r.ApiService.GetTemplatesByIdExecute(r)
}

/*
Creates a new V1 GET /Templates/{id} request.

GetTemplatesById Returns the certificate template associated with the provided id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor identifier of the certificate template
	@return ApiGetTemplatesByIdRequest
*/
func (a *TemplateApiService) NewGetTemplatesByIdRequest(ctx context.Context, id int32) ApiGetTemplatesByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetTemplatesByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request V1 GET /Templates/{id}
//
//	@return TemplatesTemplateRetrievalResponse
func (a *TemplateApiService) GetTemplatesByIdExecute(r ApiGetTemplatesByIdRequest) (*TemplatesTemplateRetrievalResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplatesTemplateRetrievalResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Templates/CADetails/{id}
type ApiGetTemplatesCADetailsByIdRequest struct {
	ctx                     context.Context
	ApiService              *TemplateApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetTemplatesCADetailsByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetTemplatesCADetailsByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetTemplatesCADetailsByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetTemplatesCADetailsByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Templates/CADetails/{id} request context
func (r ApiGetTemplatesCADetailsByIdRequest) Execute() (*TemplatesTemplateDetailsResponse, *http.Response, error) {
	return r.ApiService.GetTemplatesCADetailsByIdExecute(r)
}

/*
Creates a new V1 GET /Templates/CADetails/{id} request.

GetTemplatesCADetailsById Returns additional CA details of the certificate template associated with the provided id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor identifier of the certificate template
	@return ApiGetTemplatesCADetailsByIdRequest
*/
func (a *TemplateApiService) NewGetTemplatesCADetailsByIdRequest(ctx context.Context, id int32) ApiGetTemplatesCADetailsByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetTemplatesCADetailsByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request V1 GET /Templates/CADetails/{id}
//
//	@return TemplatesTemplateDetailsResponse
func (a *TemplateApiService) GetTemplatesCADetailsByIdExecute(r ApiGetTemplatesCADetailsByIdRequest) (*TemplatesTemplateDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplatesTemplateDetailsResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates/CADetails/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Templates/CustomExtensions
type ApiGetTemplatesCustomExtensionsRequest struct {
	ctx                     context.Context
	ApiService              *TemplateApiService
	xKeyfactorRequestedWith *string
	configTenant            *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetTemplatesCustomExtensionsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetTemplatesCustomExtensionsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Name of the configuration tenant
func (r ApiGetTemplatesCustomExtensionsRequest) ConfigTenant(configTenant string) ApiGetTemplatesCustomExtensionsRequest {
	r.configTenant = &configTenant
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetTemplatesCustomExtensionsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetTemplatesCustomExtensionsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Templates/CustomExtensions request context
func (r ApiGetTemplatesCustomExtensionsRequest) Execute() ([]TemplatesTemplateCertificateExtensionResponse, *http.Response, error) {
	return r.ApiService.GetTemplatesCustomExtensionsExecute(r)
}

/*
Creates a new V1 GET /Templates/CustomExtensions request.

GetTemplatesCustomExtensions Returns custom certificate extensions on an EJBCA server instance corresponding to the given configuration tenant

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTemplatesCustomExtensionsRequest
*/
func (a *TemplateApiService) NewGetTemplatesCustomExtensionsRequest(ctx context.Context) ApiGetTemplatesCustomExtensionsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetTemplatesCustomExtensionsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Templates/CustomExtensions
//
//	@return []TemplatesTemplateCertificateExtensionResponse
func (a *TemplateApiService) GetTemplatesCustomExtensionsExecute(r ApiGetTemplatesCustomExtensionsRequest) ([]TemplatesTemplateCertificateExtensionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []TemplatesTemplateCertificateExtensionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates/CustomExtensions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.configTenant != nil {
		parameterAddToQuery(localVarQueryParams, "configTenant", r.configTenant, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Templates/ExtendedKeyUsages
type ApiGetTemplatesExtendedKeyUsagesRequest struct {
	ctx                     context.Context
	ApiService              *TemplateApiService
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetTemplatesExtendedKeyUsagesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetTemplatesExtendedKeyUsagesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetTemplatesExtendedKeyUsagesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetTemplatesExtendedKeyUsagesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Templates/ExtendedKeyUsages request context
func (r ApiGetTemplatesExtendedKeyUsagesRequest) Execute() ([]TemplatesTemplateExtendedKeyUsageResponse, *http.Response, error) {
	return r.ApiService.GetTemplatesExtendedKeyUsagesExecute(r)
}

/*
Creates a new V1 GET /Templates/ExtendedKeyUsages request.

GetTemplatesExtendedKeyUsages Fetches all extended key usages known by Command.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTemplatesExtendedKeyUsagesRequest
*/
func (a *TemplateApiService) NewGetTemplatesExtendedKeyUsagesRequest(ctx context.Context) ApiGetTemplatesExtendedKeyUsagesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetTemplatesExtendedKeyUsagesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Templates/ExtendedKeyUsages
//
//	@return []TemplatesTemplateExtendedKeyUsageResponse
func (a *TemplateApiService) GetTemplatesExtendedKeyUsagesExecute(r ApiGetTemplatesExtendedKeyUsagesRequest) ([]TemplatesTemplateExtendedKeyUsageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []TemplatesTemplateExtendedKeyUsageResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates/ExtendedKeyUsages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Templates/Settings
type ApiGetTemplatesSettingsRequest struct {
	ctx                     context.Context
	ApiService              *TemplateApiService
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetTemplatesSettingsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetTemplatesSettingsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetTemplatesSettingsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetTemplatesSettingsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Templates/Settings request context
func (r ApiGetTemplatesSettingsRequest) Execute() (*TemplatesGlobalGlobalTemplateSettingsResponse, *http.Response, error) {
	return r.ApiService.GetTemplatesSettingsExecute(r)
}

/*
Creates a new V1 GET /Templates/Settings request.

GetTemplatesSettings Gets the global template settings.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTemplatesSettingsRequest

Deprecated
*/
func (a *TemplateApiService) NewGetTemplatesSettingsRequest(ctx context.Context) ApiGetTemplatesSettingsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetTemplatesSettingsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Templates/Settings
//
//	@return TemplatesGlobalGlobalTemplateSettingsResponse
//
// Deprecated
func (a *TemplateApiService) GetTemplatesSettingsExecute(r ApiGetTemplatesSettingsRequest) (*TemplatesGlobalGlobalTemplateSettingsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplatesGlobalGlobalTemplateSettingsResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates/Settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Templates/SubjectParts
type ApiGetTemplatesSubjectPartsRequest struct {
	ctx                     context.Context
	ApiService              *TemplateApiService
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetTemplatesSubjectPartsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetTemplatesSubjectPartsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetTemplatesSubjectPartsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetTemplatesSubjectPartsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Templates/SubjectParts request context
func (r ApiGetTemplatesSubjectPartsRequest) Execute() ([]EnrollmentPatternsValidSubjectPartResponse, *http.Response, error) {
	return r.ApiService.GetTemplatesSubjectPartsExecute(r)
}

/*
Creates a new V1 GET /Templates/SubjectParts request.

GetTemplatesSubjectParts Returns the valid subject parts possible for regular expressions.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTemplatesSubjectPartsRequest

Deprecated
*/
func (a *TemplateApiService) NewGetTemplatesSubjectPartsRequest(ctx context.Context) ApiGetTemplatesSubjectPartsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetTemplatesSubjectPartsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Templates/SubjectParts
//
//	@return []EnrollmentPatternsValidSubjectPartResponse
//
// Deprecated
func (a *TemplateApiService) GetTemplatesSubjectPartsExecute(r ApiGetTemplatesSubjectPartsRequest) ([]EnrollmentPatternsValidSubjectPartResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []EnrollmentPatternsValidSubjectPartResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates/SubjectParts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 PUT /Templates
type ApiUpdateTemplatesRequest struct {
	ctx                            context.Context
	ApiService                     *TemplateApiService
	xKeyfactorRequestedWith        *string
	xKeyfactorApiVersion           *string
	templatesTemplateUpdateRequest *TemplatesTemplateUpdateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateTemplatesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateTemplatesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateTemplatesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateTemplatesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Properties of the certificate template to be updated
func (r ApiUpdateTemplatesRequest) TemplatesTemplateUpdateRequest(templatesTemplateUpdateRequest TemplatesTemplateUpdateRequest) ApiUpdateTemplatesRequest {
	r.templatesTemplateUpdateRequest = &templatesTemplateUpdateRequest
	return r
}

// Executes the V1 PUT /Templates request context
func (r ApiUpdateTemplatesRequest) Execute() (*TemplatesTemplateRetrievalResponse, *http.Response, error) {
	return r.ApiService.UpdateTemplatesExecute(r)
}

/*
Creates a new V1 PUT /Templates request.

UpdateTemplates Updates a certificate template according to the provided properties

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateTemplatesRequest
*/
func (a *TemplateApiService) NewUpdateTemplatesRequest(ctx context.Context) ApiUpdateTemplatesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateTemplatesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 PUT /Templates
//
//	@return TemplatesTemplateRetrievalResponse
func (a *TemplateApiService) UpdateTemplatesExecute(r ApiUpdateTemplatesRequest) (*TemplatesTemplateRetrievalResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplatesTemplateRetrievalResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	// body params
	localVarPostBody = r.templatesTemplateUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 PUT /Templates/CADetails/{id}
type ApiUpdateTemplatesCADetailsByIdRequest struct {
	ctx                                   context.Context
	ApiService                            *TemplateApiService
	id                                    int32
	xKeyfactorRequestedWith               *string
	xKeyfactorApiVersion                  *string
	templatesTemplateDetailsUpdateRequest *TemplatesTemplateDetailsUpdateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateTemplatesCADetailsByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateTemplatesCADetailsByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateTemplatesCADetailsByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateTemplatesCADetailsByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Request object containing CA Details about the certificate template
func (r ApiUpdateTemplatesCADetailsByIdRequest) TemplatesTemplateDetailsUpdateRequest(templatesTemplateDetailsUpdateRequest TemplatesTemplateDetailsUpdateRequest) ApiUpdateTemplatesCADetailsByIdRequest {
	r.templatesTemplateDetailsUpdateRequest = &templatesTemplateDetailsUpdateRequest
	return r
}

// Executes the V1 PUT /Templates/CADetails/{id} request context
func (r ApiUpdateTemplatesCADetailsByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateTemplatesCADetailsByIdExecute(r)
}

/*
Creates a new V1 PUT /Templates/CADetails/{id} request.

UpdateTemplatesCADetailsById Sets CA details for a certificate template associated with the provided id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor identifier of the certificate template
	@return ApiUpdateTemplatesCADetailsByIdRequest
*/
func (a *TemplateApiService) NewUpdateTemplatesCADetailsByIdRequest(ctx context.Context, id int32) ApiUpdateTemplatesCADetailsByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateTemplatesCADetailsByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *TemplateApiService) UpdateTemplatesCADetailsByIdExecute(r ApiUpdateTemplatesCADetailsByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates/CADetails/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	// body params
	localVarPostBody = r.templatesTemplateDetailsUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for V1 PUT /Templates/CustomExtensions
type ApiUpdateTemplatesCustomExtensionsRequest struct {
	ctx                                           context.Context
	ApiService                                    *TemplateApiService
	xKeyfactorRequestedWith                       *string
	xKeyfactorApiVersion                          *string
	templatesTemplateCertificateExtensionsRequest *TemplatesTemplateCertificateExtensionsRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateTemplatesCustomExtensionsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateTemplatesCustomExtensionsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateTemplatesCustomExtensionsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateTemplatesCustomExtensionsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Certificate extension object to update and the configuration tenant to update the extension on
func (r ApiUpdateTemplatesCustomExtensionsRequest) TemplatesTemplateCertificateExtensionsRequest(templatesTemplateCertificateExtensionsRequest TemplatesTemplateCertificateExtensionsRequest) ApiUpdateTemplatesCustomExtensionsRequest {
	r.templatesTemplateCertificateExtensionsRequest = &templatesTemplateCertificateExtensionsRequest
	return r
}

// Executes the V1 PUT /Templates/CustomExtensions request context
func (r ApiUpdateTemplatesCustomExtensionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateTemplatesCustomExtensionsExecute(r)
}

/*
Creates a new V1 PUT /Templates/CustomExtensions request.

UpdateTemplatesCustomExtensions Edits an existing custom certificate extension on the EJBCA server instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateTemplatesCustomExtensionsRequest
*/
func (a *TemplateApiService) NewUpdateTemplatesCustomExtensionsRequest(ctx context.Context) ApiUpdateTemplatesCustomExtensionsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateTemplatesCustomExtensionsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *TemplateApiService) UpdateTemplatesCustomExtensionsExecute(r ApiUpdateTemplatesCustomExtensionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates/CustomExtensions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	// body params
	localVarPostBody = r.templatesTemplateCertificateExtensionsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for V1 PUT /Templates/Settings
type ApiUpdateTemplatesSettingsRequest struct {
	ctx                                          context.Context
	ApiService                                   *TemplateApiService
	xKeyfactorRequestedWith                      *string
	xKeyfactorApiVersion                         *string
	templatesGlobalGlobalTemplateSettingsRequest *TemplatesGlobalGlobalTemplateSettingsRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateTemplatesSettingsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateTemplatesSettingsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateTemplatesSettingsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateTemplatesSettingsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The new global template settings.
func (r ApiUpdateTemplatesSettingsRequest) TemplatesGlobalGlobalTemplateSettingsRequest(templatesGlobalGlobalTemplateSettingsRequest TemplatesGlobalGlobalTemplateSettingsRequest) ApiUpdateTemplatesSettingsRequest {
	r.templatesGlobalGlobalTemplateSettingsRequest = &templatesGlobalGlobalTemplateSettingsRequest
	return r
}

// Executes the V1 PUT /Templates/Settings request context
func (r ApiUpdateTemplatesSettingsRequest) Execute() (*TemplatesGlobalGlobalTemplateSettingsResponse, *http.Response, error) {
	return r.ApiService.UpdateTemplatesSettingsExecute(r)
}

/*
Creates a new V1 PUT /Templates/Settings request.

UpdateTemplatesSettings Replaces the existing global template settings.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateTemplatesSettingsRequest

Deprecated
*/
func (a *TemplateApiService) NewUpdateTemplatesSettingsRequest(ctx context.Context) ApiUpdateTemplatesSettingsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateTemplatesSettingsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 PUT /Templates/Settings
//
//	@return TemplatesGlobalGlobalTemplateSettingsResponse
//
// Deprecated
func (a *TemplateApiService) UpdateTemplatesSettingsExecute(r ApiUpdateTemplatesSettingsRequest) (*TemplatesGlobalGlobalTemplateSettingsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplatesGlobalGlobalTemplateSettingsResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Templates/Settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	// body params
	localVarPostBody = r.templatesGlobalGlobalTemplateSettingsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
