/*
Copyright 2026 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 25.1.1

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// WorkflowInstanceApiService WorkflowInstanceApi service
type WorkflowInstanceApiService service

// Request for V1 POST /Workflow/Instances/{instanceId}/Restart
type ApiCreateWorkflowInstancesInstanceIdRestartRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowInstanceApiService
	instanceId              string
	xKeyfactorRequestedWith *string
	version                 *int32
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateWorkflowInstancesInstanceIdRestartRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateWorkflowInstancesInstanceIdRestartRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// The version of the definition to restart the instance against. Defaults to the published version.
func (r ApiCreateWorkflowInstancesInstanceIdRestartRequest) Version(version int32) ApiCreateWorkflowInstancesInstanceIdRestartRequest {
	r.version = &version
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateWorkflowInstancesInstanceIdRestartRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateWorkflowInstancesInstanceIdRestartRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 POST /Workflow/Instances/{instanceId}/Restart request context
func (r ApiCreateWorkflowInstancesInstanceIdRestartRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateWorkflowInstancesInstanceIdRestartExecute(r)
}

/*
Creates a new V1 POST /Workflow/Instances/{instanceId}/Restart request.

CreateWorkflowInstancesInstanceIdRestart Restarts a failed instance against the specified definition version or the published version if no version is specified.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId The instance Id to restart.
	@return ApiCreateWorkflowInstancesInstanceIdRestartRequest
*/
func (a *WorkflowInstanceApiService) NewCreateWorkflowInstancesInstanceIdRestartRequest(ctx context.Context, instanceId string) ApiCreateWorkflowInstancesInstanceIdRestartRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateWorkflowInstancesInstanceIdRestartRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		instanceId: instanceId,
	}
}

// Executes the API request
func (a *WorkflowInstanceApiService) CreateWorkflowInstancesInstanceIdRestartExecute(r ApiCreateWorkflowInstancesInstanceIdRestartRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Instances/{instanceId}/Restart"
	localVarPath = strings.Replace(localVarPath, "{"+"instanceId"+"}", url.PathEscape(parameterValueToString(r.instanceId, "instanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.version != nil {
		parameterAddToQuery(localVarQueryParams, "version", r.version, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for V1 POST /Workflow/Instances/{instanceId}/Signals
type ApiCreateWorkflowInstancesInstanceIdSignalsRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowInstanceApiService
	instanceId              string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
	workflowsSignalRequest  *WorkflowsSignalRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateWorkflowInstancesInstanceIdSignalsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateWorkflowInstancesInstanceIdSignalsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateWorkflowInstancesInstanceIdSignalsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateWorkflowInstancesInstanceIdSignalsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The signal to receive.
func (r ApiCreateWorkflowInstancesInstanceIdSignalsRequest) WorkflowsSignalRequest(workflowsSignalRequest WorkflowsSignalRequest) ApiCreateWorkflowInstancesInstanceIdSignalsRequest {
	r.workflowsSignalRequest = &workflowsSignalRequest
	return r
}

// Executes the V1 POST /Workflow/Instances/{instanceId}/Signals request context
func (r ApiCreateWorkflowInstancesInstanceIdSignalsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateWorkflowInstancesInstanceIdSignalsExecute(r)
}

/*
Creates a new V1 POST /Workflow/Instances/{instanceId}/Signals request.

CreateWorkflowInstancesInstanceIdSignals Receives the given signal for the given instance.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId The instance that is receiving the signal.
	@return ApiCreateWorkflowInstancesInstanceIdSignalsRequest
*/
func (a *WorkflowInstanceApiService) NewCreateWorkflowInstancesInstanceIdSignalsRequest(ctx context.Context, instanceId string) ApiCreateWorkflowInstancesInstanceIdSignalsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateWorkflowInstancesInstanceIdSignalsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		instanceId: instanceId,
	}
}

// Executes the API request
func (a *WorkflowInstanceApiService) CreateWorkflowInstancesInstanceIdSignalsExecute(r ApiCreateWorkflowInstancesInstanceIdSignalsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Instances/{instanceId}/Signals"
	localVarPath = strings.Replace(localVarPath, "{"+"instanceId"+"}", url.PathEscape(parameterValueToString(r.instanceId, "instanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	// body params
	localVarPostBody = r.workflowsSignalRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for V1 POST /Workflow/Instances/{instanceId}/Stop
type ApiCreateWorkflowInstancesInstanceIdStopRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowInstanceApiService
	instanceId              string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateWorkflowInstancesInstanceIdStopRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateWorkflowInstancesInstanceIdStopRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateWorkflowInstancesInstanceIdStopRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateWorkflowInstancesInstanceIdStopRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 POST /Workflow/Instances/{instanceId}/Stop request context
func (r ApiCreateWorkflowInstancesInstanceIdStopRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateWorkflowInstancesInstanceIdStopExecute(r)
}

/*
Creates a new V1 POST /Workflow/Instances/{instanceId}/Stop request.

CreateWorkflowInstancesInstanceIdStop Rejects an instance, preventing it from continuing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId The Id of the instance to reject.
	@return ApiCreateWorkflowInstancesInstanceIdStopRequest
*/
func (a *WorkflowInstanceApiService) NewCreateWorkflowInstancesInstanceIdStopRequest(ctx context.Context, instanceId string) ApiCreateWorkflowInstancesInstanceIdStopRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateWorkflowInstancesInstanceIdStopRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		instanceId: instanceId,
	}
}

// Executes the API request
func (a *WorkflowInstanceApiService) CreateWorkflowInstancesInstanceIdStopExecute(r ApiCreateWorkflowInstancesInstanceIdStopRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Instances/{instanceId}/Stop"
	localVarPath = strings.Replace(localVarPath, "{"+"instanceId"+"}", url.PathEscape(parameterValueToString(r.instanceId, "instanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for V1 DELETE /Workflow/Instances/{instanceId}
type ApiDeleteWorkflowInstancesInstanceIdRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowInstanceApiService
	instanceId              string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteWorkflowInstancesInstanceIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteWorkflowInstancesInstanceIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteWorkflowInstancesInstanceIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteWorkflowInstancesInstanceIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 DELETE /Workflow/Instances/{instanceId} request context
func (r ApiDeleteWorkflowInstancesInstanceIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteWorkflowInstancesInstanceIdExecute(r)
}

/*
Creates a new V1 DELETE /Workflow/Instances/{instanceId} request.

DeleteWorkflowInstancesInstanceId Deletes the specified instance.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId The Id of the instance to be deleted.
	@return ApiDeleteWorkflowInstancesInstanceIdRequest
*/
func (a *WorkflowInstanceApiService) NewDeleteWorkflowInstancesInstanceIdRequest(ctx context.Context, instanceId string) ApiDeleteWorkflowInstancesInstanceIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteWorkflowInstancesInstanceIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		instanceId: instanceId,
	}
}

// Executes the API request
func (a *WorkflowInstanceApiService) DeleteWorkflowInstancesInstanceIdExecute(r ApiDeleteWorkflowInstancesInstanceIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Instances/{instanceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"instanceId"+"}", url.PathEscape(parameterValueToString(r.instanceId, "instanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for V1 GET /Workflow/Instances
type ApiGetWorkflowInstancesRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowInstanceApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowInstancesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowInstancesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetWorkflowInstancesRequest) QueryString(queryString string) ApiGetWorkflowInstancesRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetWorkflowInstancesRequest) PageReturned(pageReturned int32) ApiGetWorkflowInstancesRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetWorkflowInstancesRequest) ReturnLimit(returnLimit int32) ApiGetWorkflowInstancesRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetWorkflowInstancesRequest) SortField(sortField string) ApiGetWorkflowInstancesRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetWorkflowInstancesRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetWorkflowInstancesRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowInstancesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowInstancesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Workflow/Instances request context
func (r ApiGetWorkflowInstancesRequest) Execute() ([]WorkflowsInstanceQueryResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowInstancesExecute(r)
}

/*
Creates a new V1 GET /Workflow/Instances request.

GetWorkflowInstances Gets the workflow instances matching the query specifications.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowInstancesRequest
*/
func (a *WorkflowInstanceApiService) NewGetWorkflowInstancesRequest(ctx context.Context) ApiGetWorkflowInstancesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowInstancesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Workflow/Instances
//
//	@return []WorkflowsInstanceQueryResponse
func (a *WorkflowInstanceApiService) GetWorkflowInstancesExecute(r ApiGetWorkflowInstancesRequest) ([]WorkflowsInstanceQueryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []WorkflowsInstanceQueryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Instances"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Workflow/Instances/AssignedToMe
type ApiGetWorkflowInstancesAssignedToMeRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowInstanceApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowInstancesAssignedToMeRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowInstancesAssignedToMeRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetWorkflowInstancesAssignedToMeRequest) QueryString(queryString string) ApiGetWorkflowInstancesAssignedToMeRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetWorkflowInstancesAssignedToMeRequest) PageReturned(pageReturned int32) ApiGetWorkflowInstancesAssignedToMeRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetWorkflowInstancesAssignedToMeRequest) ReturnLimit(returnLimit int32) ApiGetWorkflowInstancesAssignedToMeRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetWorkflowInstancesAssignedToMeRequest) SortField(sortField string) ApiGetWorkflowInstancesAssignedToMeRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetWorkflowInstancesAssignedToMeRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetWorkflowInstancesAssignedToMeRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowInstancesAssignedToMeRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowInstancesAssignedToMeRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Workflow/Instances/AssignedToMe request context
func (r ApiGetWorkflowInstancesAssignedToMeRequest) Execute() ([]WorkflowsInstanceQueryResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowInstancesAssignedToMeExecute(r)
}

/*
Creates a new V1 GET /Workflow/Instances/AssignedToMe request.

GetWorkflowInstancesAssignedToMe Gets the workflow instances waiting on the user.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowInstancesAssignedToMeRequest
*/
func (a *WorkflowInstanceApiService) NewGetWorkflowInstancesAssignedToMeRequest(ctx context.Context) ApiGetWorkflowInstancesAssignedToMeRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowInstancesAssignedToMeRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Workflow/Instances/AssignedToMe
//
//	@return []WorkflowsInstanceQueryResponse
func (a *WorkflowInstanceApiService) GetWorkflowInstancesAssignedToMeExecute(r ApiGetWorkflowInstancesAssignedToMeRequest) ([]WorkflowsInstanceQueryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []WorkflowsInstanceQueryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Instances/AssignedToMe"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Workflow/Instances/{instanceId}
type ApiGetWorkflowInstancesInstanceIdRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowInstanceApiService
	instanceId              string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowInstancesInstanceIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowInstancesInstanceIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowInstancesInstanceIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowInstancesInstanceIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Workflow/Instances/{instanceId} request context
func (r ApiGetWorkflowInstancesInstanceIdRequest) Execute() (*WorkflowsInstanceResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowInstancesInstanceIdExecute(r)
}

/*
Creates a new V1 GET /Workflow/Instances/{instanceId} request.

GetWorkflowInstancesInstanceId Get information relevant for knowing where an instance is in its workflow.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId The System.Guid identifying the instance.
	@return ApiGetWorkflowInstancesInstanceIdRequest
*/
func (a *WorkflowInstanceApiService) NewGetWorkflowInstancesInstanceIdRequest(ctx context.Context, instanceId string) ApiGetWorkflowInstancesInstanceIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowInstancesInstanceIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		instanceId: instanceId,
	}
}

// Executes the API request V1 GET /Workflow/Instances/{instanceId}
//
//	@return WorkflowsInstanceResponse
func (a *WorkflowInstanceApiService) GetWorkflowInstancesInstanceIdExecute(r ApiGetWorkflowInstancesInstanceIdRequest) (*WorkflowsInstanceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowsInstanceResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Instances/{instanceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"instanceId"+"}", url.PathEscape(parameterValueToString(r.instanceId, "instanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Workflow/Instances/My
type ApiGetWorkflowInstancesMyRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowInstanceApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowInstancesMyRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowInstancesMyRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetWorkflowInstancesMyRequest) QueryString(queryString string) ApiGetWorkflowInstancesMyRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetWorkflowInstancesMyRequest) PageReturned(pageReturned int32) ApiGetWorkflowInstancesMyRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetWorkflowInstancesMyRequest) ReturnLimit(returnLimit int32) ApiGetWorkflowInstancesMyRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetWorkflowInstancesMyRequest) SortField(sortField string) ApiGetWorkflowInstancesMyRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetWorkflowInstancesMyRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetWorkflowInstancesMyRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowInstancesMyRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowInstancesMyRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Workflow/Instances/My request context
func (r ApiGetWorkflowInstancesMyRequest) Execute() ([]WorkflowsInstanceQueryResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowInstancesMyExecute(r)
}

/*
Creates a new V1 GET /Workflow/Instances/My request.

GetWorkflowInstancesMy Gets the workflow instances started by the user.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowInstancesMyRequest
*/
func (a *WorkflowInstanceApiService) NewGetWorkflowInstancesMyRequest(ctx context.Context) ApiGetWorkflowInstancesMyRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowInstancesMyRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Workflow/Instances/My
//
//	@return []WorkflowsInstanceQueryResponse
func (a *WorkflowInstanceApiService) GetWorkflowInstancesMyExecute(r ApiGetWorkflowInstancesMyRequest) ([]WorkflowsInstanceQueryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []WorkflowsInstanceQueryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Instances/My"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
