/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 25.1.1

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// StatusApiService StatusApi service
type StatusApiService service

// Request for V1 GET /Status/Endpoints
type ApiGetStatusEndpointsRequest struct {
	ctx                     context.Context
	ApiService              *StatusApiService
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetStatusEndpointsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetStatusEndpointsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetStatusEndpointsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetStatusEndpointsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Status/Endpoints request context
func (r ApiGetStatusEndpointsRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.GetStatusEndpointsExecute(r)
}

/*
Creates a new V1 GET /Status/Endpoints request.

GetStatusEndpoints Returns all endpoints to which the requesting identity has access

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetStatusEndpointsRequest
*/
func (a *StatusApiService) NewGetStatusEndpointsRequest(ctx context.Context) ApiGetStatusEndpointsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetStatusEndpointsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Status/Endpoints
//
//	@return []string
func (a *StatusApiService) GetStatusEndpointsExecute(r ApiGetStatusEndpointsRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []string
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Status/Endpoints"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Status/HealthCheck
type ApiGetStatusHealthCheckRequest struct {
	ctx                     context.Context
	ApiService              *StatusApiService
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetStatusHealthCheckRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetStatusHealthCheckRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetStatusHealthCheckRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetStatusHealthCheckRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Status/HealthCheck request context
func (r ApiGetStatusHealthCheckRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetStatusHealthCheckExecute(r)
}

/*
Creates a new V1 GET /Status/HealthCheck request.

GetStatusHealthCheck Returns the current status of the API's ability to connect to the database.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetStatusHealthCheckRequest
*/
func (a *StatusApiService) NewGetStatusHealthCheckRequest(ctx context.Context) ApiGetStatusHealthCheckRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetStatusHealthCheckRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *StatusApiService) GetStatusHealthCheckExecute(r ApiGetStatusHealthCheckRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Status/HealthCheck"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
