/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 25.1.1

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// MonitoringApiService MonitoringApi service
type MonitoringApiService service

// Request for V1 POST /Monitoring/ResolveOCSP
type ApiCreateMonitoringResolveOCSPRequest struct {
	ctx                             context.Context
	ApiService                      *MonitoringApiService
	xKeyfactorRequestedWith         *string
	xKeyfactorApiVersion            *string
	monitoringOCSPParametersRequest *MonitoringOCSPParametersRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateMonitoringResolveOCSPRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateMonitoringResolveOCSPRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateMonitoringResolveOCSPRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateMonitoringResolveOCSPRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information for the new endpoint
func (r ApiCreateMonitoringResolveOCSPRequest) MonitoringOCSPParametersRequest(monitoringOCSPParametersRequest MonitoringOCSPParametersRequest) ApiCreateMonitoringResolveOCSPRequest {
	r.monitoringOCSPParametersRequest = &monitoringOCSPParametersRequest
	return r
}

// Executes the V1 POST /Monitoring/ResolveOCSP request context
func (r ApiCreateMonitoringResolveOCSPRequest) Execute() (*MonitoringOCSPParametersResponse, *http.Response, error) {
	return r.ApiService.CreateMonitoringResolveOCSPExecute(r)
}

/*
Creates a new V1 POST /Monitoring/ResolveOCSP request.

CreateMonitoringResolveOCSP Resolve the Certificate authority given

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateMonitoringResolveOCSPRequest
*/
func (a *MonitoringApiService) NewCreateMonitoringResolveOCSPRequest(ctx context.Context) ApiCreateMonitoringResolveOCSPRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateMonitoringResolveOCSPRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 POST /Monitoring/ResolveOCSP
//
//	@return MonitoringOCSPParametersResponse
func (a *MonitoringApiService) CreateMonitoringResolveOCSPExecute(r ApiCreateMonitoringResolveOCSPRequest) (*MonitoringOCSPParametersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MonitoringOCSPParametersResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Monitoring/ResolveOCSP"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.monitoringOCSPParametersRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 POST /Monitoring/Revocation
type ApiCreateMonitoringRevocationRequest struct {
	ctx                                           context.Context
	ApiService                                    *MonitoringApiService
	xKeyfactorRequestedWith                       *string
	forceSave                                     *bool
	xKeyfactorApiVersion                          *string
	monitoringRevocationMonitoringCreationRequest *MonitoringRevocationMonitoringCreationRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateMonitoringRevocationRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateMonitoringRevocationRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Bypass testing the connection to either the CRL or the OCSP endpoint
func (r ApiCreateMonitoringRevocationRequest) ForceSave(forceSave bool) ApiCreateMonitoringRevocationRequest {
	r.forceSave = &forceSave
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateMonitoringRevocationRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateMonitoringRevocationRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information for the new endpoint
func (r ApiCreateMonitoringRevocationRequest) MonitoringRevocationMonitoringCreationRequest(monitoringRevocationMonitoringCreationRequest MonitoringRevocationMonitoringCreationRequest) ApiCreateMonitoringRevocationRequest {
	r.monitoringRevocationMonitoringCreationRequest = &monitoringRevocationMonitoringCreationRequest
	return r
}

// Executes the V1 POST /Monitoring/Revocation request context
func (r ApiCreateMonitoringRevocationRequest) Execute() (*MonitoringRevocationMonitoringDefinitionResponse, *http.Response, error) {
	return r.ApiService.CreateMonitoringRevocationExecute(r)
}

/*
Creates a new V1 POST /Monitoring/Revocation request.

CreateMonitoringRevocation Add a revocation monitoring endpoint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateMonitoringRevocationRequest
*/
func (a *MonitoringApiService) NewCreateMonitoringRevocationRequest(ctx context.Context) ApiCreateMonitoringRevocationRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateMonitoringRevocationRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 POST /Monitoring/Revocation
//
//	@return MonitoringRevocationMonitoringDefinitionResponse
func (a *MonitoringApiService) CreateMonitoringRevocationExecute(r ApiCreateMonitoringRevocationRequest) (*MonitoringRevocationMonitoringDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MonitoringRevocationMonitoringDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Monitoring/Revocation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.forceSave != nil {
		parameterAddToQuery(localVarQueryParams, "forceSave", r.forceSave, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.monitoringRevocationMonitoringCreationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 POST /Monitoring/Revocation/CRL/Test
type ApiCreateMonitoringRevocationCRLTestRequest struct {
	ctx                                           context.Context
	ApiService                                    *MonitoringApiService
	xKeyfactorRequestedWith                       *string
	xKeyfactorApiVersion                          *string
	cSSCMSDataModelModelsMonitoringCRLTestRequest *CSSCMSDataModelModelsMonitoringCRLTestRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateMonitoringRevocationCRLTestRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateMonitoringRevocationCRLTestRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateMonitoringRevocationCRLTestRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateMonitoringRevocationCRLTestRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The CRL being tested.
func (r ApiCreateMonitoringRevocationCRLTestRequest) CSSCMSDataModelModelsMonitoringCRLTestRequest(cSSCMSDataModelModelsMonitoringCRLTestRequest CSSCMSDataModelModelsMonitoringCRLTestRequest) ApiCreateMonitoringRevocationCRLTestRequest {
	r.cSSCMSDataModelModelsMonitoringCRLTestRequest = &cSSCMSDataModelModelsMonitoringCRLTestRequest
	return r
}

// Executes the V1 POST /Monitoring/Revocation/CRL/Test request context
func (r ApiCreateMonitoringRevocationCRLTestRequest) Execute() (*CSSCMSDataModelModelsMonitoringCRLTestResponse, *http.Response, error) {
	return r.ApiService.CreateMonitoringRevocationCRLTestExecute(r)
}

/*
Creates a new V1 POST /Monitoring/Revocation/CRL/Test request.

CreateMonitoringRevocationCRLTest Validates the connection info for the CRL provided by the model.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateMonitoringRevocationCRLTestRequest
*/
func (a *MonitoringApiService) NewCreateMonitoringRevocationCRLTestRequest(ctx context.Context) ApiCreateMonitoringRevocationCRLTestRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateMonitoringRevocationCRLTestRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 POST /Monitoring/Revocation/CRL/Test
//
//	@return CSSCMSDataModelModelsMonitoringCRLTestResponse
func (a *MonitoringApiService) CreateMonitoringRevocationCRLTestExecute(r ApiCreateMonitoringRevocationCRLTestRequest) (*CSSCMSDataModelModelsMonitoringCRLTestResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsMonitoringCRLTestResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Monitoring/Revocation/CRL/Test"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsMonitoringCRLTestRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 POST /Monitoring/Revocation/OCSP/Test
type ApiCreateMonitoringRevocationOCSPTestRequest struct {
	ctx                                            context.Context
	ApiService                                     *MonitoringApiService
	xKeyfactorRequestedWith                        *string
	xKeyfactorApiVersion                           *string
	cSSCMSDataModelModelsMonitoringOCSPTestRequest *CSSCMSDataModelModelsMonitoringOCSPTestRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateMonitoringRevocationOCSPTestRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateMonitoringRevocationOCSPTestRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateMonitoringRevocationOCSPTestRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateMonitoringRevocationOCSPTestRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The OCSP endpoint being tested.
func (r ApiCreateMonitoringRevocationOCSPTestRequest) CSSCMSDataModelModelsMonitoringOCSPTestRequest(cSSCMSDataModelModelsMonitoringOCSPTestRequest CSSCMSDataModelModelsMonitoringOCSPTestRequest) ApiCreateMonitoringRevocationOCSPTestRequest {
	r.cSSCMSDataModelModelsMonitoringOCSPTestRequest = &cSSCMSDataModelModelsMonitoringOCSPTestRequest
	return r
}

// Executes the V1 POST /Monitoring/Revocation/OCSP/Test request context
func (r ApiCreateMonitoringRevocationOCSPTestRequest) Execute() (*CSSCMSDataModelModelsMonitoringOCSPTestResponse, *http.Response, error) {
	return r.ApiService.CreateMonitoringRevocationOCSPTestExecute(r)
}

/*
Creates a new V1 POST /Monitoring/Revocation/OCSP/Test request.

CreateMonitoringRevocationOCSPTest Validates the connection info for the OCSP endpoint provided by the model.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateMonitoringRevocationOCSPTestRequest
*/
func (a *MonitoringApiService) NewCreateMonitoringRevocationOCSPTestRequest(ctx context.Context) ApiCreateMonitoringRevocationOCSPTestRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateMonitoringRevocationOCSPTestRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 POST /Monitoring/Revocation/OCSP/Test
//
//	@return CSSCMSDataModelModelsMonitoringOCSPTestResponse
func (a *MonitoringApiService) CreateMonitoringRevocationOCSPTestExecute(r ApiCreateMonitoringRevocationOCSPTestRequest) (*CSSCMSDataModelModelsMonitoringOCSPTestResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsMonitoringOCSPTestResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Monitoring/Revocation/OCSP/Test"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsMonitoringOCSPTestRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 POST /Monitoring/Revocation/Test
type ApiCreateMonitoringRevocationTestRequest struct {
	ctx                                            context.Context
	ApiService                                     *MonitoringApiService
	xKeyfactorRequestedWith                        *string
	xKeyfactorApiVersion                           *string
	monitoringRevocationMonitoringAlertTestRequest *MonitoringRevocationMonitoringAlertTestRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateMonitoringRevocationTestRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateMonitoringRevocationTestRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateMonitoringRevocationTestRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateMonitoringRevocationTestRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information about the revocation monitoring alert test
func (r ApiCreateMonitoringRevocationTestRequest) MonitoringRevocationMonitoringAlertTestRequest(monitoringRevocationMonitoringAlertTestRequest MonitoringRevocationMonitoringAlertTestRequest) ApiCreateMonitoringRevocationTestRequest {
	r.monitoringRevocationMonitoringAlertTestRequest = &monitoringRevocationMonitoringAlertTestRequest
	return r
}

// Executes the V1 POST /Monitoring/Revocation/Test request context
func (r ApiCreateMonitoringRevocationTestRequest) Execute() (*MonitoringRevocationMonitoringAlertTestResponse, *http.Response, error) {
	return r.ApiService.CreateMonitoringRevocationTestExecute(r)
}

/*
Creates a new V1 POST /Monitoring/Revocation/Test request.

CreateMonitoringRevocationTest Test Alert

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateMonitoringRevocationTestRequest

Deprecated
*/
func (a *MonitoringApiService) NewCreateMonitoringRevocationTestRequest(ctx context.Context) ApiCreateMonitoringRevocationTestRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateMonitoringRevocationTestRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 POST /Monitoring/Revocation/Test
//
//	@return MonitoringRevocationMonitoringAlertTestResponse
//
// Deprecated
func (a *MonitoringApiService) CreateMonitoringRevocationTestExecute(r ApiCreateMonitoringRevocationTestRequest) (*MonitoringRevocationMonitoringAlertTestResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MonitoringRevocationMonitoringAlertTestResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Monitoring/Revocation/Test"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.monitoringRevocationMonitoringAlertTestRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 POST /Monitoring/Revocation/TestAll
type ApiCreateMonitoringRevocationTestAllRequest struct {
	ctx                                               context.Context
	ApiService                                        *MonitoringApiService
	xKeyfactorRequestedWith                           *string
	xKeyfactorApiVersion                              *string
	monitoringRevocationMonitoringAlertTestAllRequest *MonitoringRevocationMonitoringAlertTestAllRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateMonitoringRevocationTestAllRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateMonitoringRevocationTestAllRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateMonitoringRevocationTestAllRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateMonitoringRevocationTestAllRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information about the revocation monitoring alert test
func (r ApiCreateMonitoringRevocationTestAllRequest) MonitoringRevocationMonitoringAlertTestAllRequest(monitoringRevocationMonitoringAlertTestAllRequest MonitoringRevocationMonitoringAlertTestAllRequest) ApiCreateMonitoringRevocationTestAllRequest {
	r.monitoringRevocationMonitoringAlertTestAllRequest = &monitoringRevocationMonitoringAlertTestAllRequest
	return r
}

// Executes the V1 POST /Monitoring/Revocation/TestAll request context
func (r ApiCreateMonitoringRevocationTestAllRequest) Execute() (*MonitoringRevocationMonitoringAlertTestResponse, *http.Response, error) {
	return r.ApiService.CreateMonitoringRevocationTestAllExecute(r)
}

/*
Creates a new V1 POST /Monitoring/Revocation/TestAll request.

CreateMonitoringRevocationTestAll Test All Alerts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateMonitoringRevocationTestAllRequest

Deprecated
*/
func (a *MonitoringApiService) NewCreateMonitoringRevocationTestAllRequest(ctx context.Context) ApiCreateMonitoringRevocationTestAllRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateMonitoringRevocationTestAllRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 POST /Monitoring/Revocation/TestAll
//
//	@return MonitoringRevocationMonitoringAlertTestResponse
//
// Deprecated
func (a *MonitoringApiService) CreateMonitoringRevocationTestAllExecute(r ApiCreateMonitoringRevocationTestAllRequest) (*MonitoringRevocationMonitoringAlertTestResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MonitoringRevocationMonitoringAlertTestResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Monitoring/Revocation/TestAll"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.monitoringRevocationMonitoringAlertTestAllRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 DELETE /Monitoring/Revocation/{id}
type ApiDeleteMonitoringRevocationByIdRequest struct {
	ctx                     context.Context
	ApiService              *MonitoringApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteMonitoringRevocationByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteMonitoringRevocationByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteMonitoringRevocationByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteMonitoringRevocationByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 DELETE /Monitoring/Revocation/{id} request context
func (r ApiDeleteMonitoringRevocationByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMonitoringRevocationByIdExecute(r)
}

/*
Creates a new V1 DELETE /Monitoring/Revocation/{id} request.

DeleteMonitoringRevocationById Delete a revocation monitoring endpoint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Id for the revocation monitoring endpoint
	@return ApiDeleteMonitoringRevocationByIdRequest
*/
func (a *MonitoringApiService) NewDeleteMonitoringRevocationByIdRequest(ctx context.Context, id int32) ApiDeleteMonitoringRevocationByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteMonitoringRevocationByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *MonitoringApiService) DeleteMonitoringRevocationByIdExecute(r ApiDeleteMonitoringRevocationByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Monitoring/Revocation/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for V1 GET /Monitoring/Revocation
type ApiGetMonitoringRevocationRequest struct {
	ctx                     context.Context
	ApiService              *MonitoringApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetMonitoringRevocationRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetMonitoringRevocationRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetMonitoringRevocationRequest) QueryString(queryString string) ApiGetMonitoringRevocationRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetMonitoringRevocationRequest) PageReturned(pageReturned int32) ApiGetMonitoringRevocationRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetMonitoringRevocationRequest) ReturnLimit(returnLimit int32) ApiGetMonitoringRevocationRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetMonitoringRevocationRequest) SortField(sortField string) ApiGetMonitoringRevocationRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetMonitoringRevocationRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetMonitoringRevocationRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetMonitoringRevocationRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetMonitoringRevocationRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Monitoring/Revocation request context
func (r ApiGetMonitoringRevocationRequest) Execute() ([]MonitoringRevocationMonitoringDefinitionResponse, *http.Response, error) {
	return r.ApiService.GetMonitoringRevocationExecute(r)
}

/*
Creates a new V1 GET /Monitoring/Revocation request.

GetMonitoringRevocation Gets all revocation monitoring endpoints according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetMonitoringRevocationRequest
*/
func (a *MonitoringApiService) NewGetMonitoringRevocationRequest(ctx context.Context) ApiGetMonitoringRevocationRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetMonitoringRevocationRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Monitoring/Revocation
//
//	@return []MonitoringRevocationMonitoringDefinitionResponse
func (a *MonitoringApiService) GetMonitoringRevocationExecute(r ApiGetMonitoringRevocationRequest) ([]MonitoringRevocationMonitoringDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []MonitoringRevocationMonitoringDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Monitoring/Revocation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Monitoring/Revocation/{id}
type ApiGetMonitoringRevocationByIdRequest struct {
	ctx                     context.Context
	ApiService              *MonitoringApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetMonitoringRevocationByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetMonitoringRevocationByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetMonitoringRevocationByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetMonitoringRevocationByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Monitoring/Revocation/{id} request context
func (r ApiGetMonitoringRevocationByIdRequest) Execute() (*MonitoringRevocationMonitoringDefinitionResponse, *http.Response, error) {
	return r.ApiService.GetMonitoringRevocationByIdExecute(r)
}

/*
Creates a new V1 GET /Monitoring/Revocation/{id} request.

GetMonitoringRevocationById Get a revocation monitoring endpoint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Id for the endpoint to get
	@return ApiGetMonitoringRevocationByIdRequest
*/
func (a *MonitoringApiService) NewGetMonitoringRevocationByIdRequest(ctx context.Context, id int32) ApiGetMonitoringRevocationByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetMonitoringRevocationByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request V1 GET /Monitoring/Revocation/{id}
//
//	@return MonitoringRevocationMonitoringDefinitionResponse
func (a *MonitoringApiService) GetMonitoringRevocationByIdExecute(r ApiGetMonitoringRevocationByIdRequest) (*MonitoringRevocationMonitoringDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MonitoringRevocationMonitoringDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Monitoring/Revocation/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 PUT /Monitoring/Revocation
type ApiUpdateMonitoringRevocationRequest struct {
	ctx                                         context.Context
	ApiService                                  *MonitoringApiService
	xKeyfactorRequestedWith                     *string
	forceSave                                   *bool
	xKeyfactorApiVersion                        *string
	monitoringRevocationMonitoringUpdateRequest *MonitoringRevocationMonitoringUpdateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateMonitoringRevocationRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateMonitoringRevocationRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Bypass testing the connection to either the CRL or the OCSP endpoint
func (r ApiUpdateMonitoringRevocationRequest) ForceSave(forceSave bool) ApiUpdateMonitoringRevocationRequest {
	r.forceSave = &forceSave
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateMonitoringRevocationRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateMonitoringRevocationRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information for the endpoint
func (r ApiUpdateMonitoringRevocationRequest) MonitoringRevocationMonitoringUpdateRequest(monitoringRevocationMonitoringUpdateRequest MonitoringRevocationMonitoringUpdateRequest) ApiUpdateMonitoringRevocationRequest {
	r.monitoringRevocationMonitoringUpdateRequest = &monitoringRevocationMonitoringUpdateRequest
	return r
}

// Executes the V1 PUT /Monitoring/Revocation request context
func (r ApiUpdateMonitoringRevocationRequest) Execute() (*MonitoringRevocationMonitoringDefinitionResponse, *http.Response, error) {
	return r.ApiService.UpdateMonitoringRevocationExecute(r)
}

/*
Creates a new V1 PUT /Monitoring/Revocation request.

UpdateMonitoringRevocation Edit a revocation monitoring endpoint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateMonitoringRevocationRequest
*/
func (a *MonitoringApiService) NewUpdateMonitoringRevocationRequest(ctx context.Context) ApiUpdateMonitoringRevocationRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateMonitoringRevocationRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 PUT /Monitoring/Revocation
//
//	@return MonitoringRevocationMonitoringDefinitionResponse
func (a *MonitoringApiService) UpdateMonitoringRevocationExecute(r ApiUpdateMonitoringRevocationRequest) (*MonitoringRevocationMonitoringDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MonitoringRevocationMonitoringDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Monitoring/Revocation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.forceSave != nil {
		parameterAddToQuery(localVarQueryParams, "forceSave", r.forceSave, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.monitoringRevocationMonitoringUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 PUT /Monitoring/Revocation/Schedule
type ApiUpdateMonitoringRevocationScheduleRequest struct {
	ctx                                                 context.Context
	ApiService                                          *MonitoringApiService
	xKeyfactorRequestedWith                             *string
	xKeyfactorApiVersion                                *string
	monitoringRevocationMonitoringUpdateScheduleRequest *MonitoringRevocationMonitoringUpdateScheduleRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateMonitoringRevocationScheduleRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateMonitoringRevocationScheduleRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateMonitoringRevocationScheduleRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateMonitoringRevocationScheduleRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The information for the updating the schedule.
func (r ApiUpdateMonitoringRevocationScheduleRequest) MonitoringRevocationMonitoringUpdateScheduleRequest(monitoringRevocationMonitoringUpdateScheduleRequest MonitoringRevocationMonitoringUpdateScheduleRequest) ApiUpdateMonitoringRevocationScheduleRequest {
	r.monitoringRevocationMonitoringUpdateScheduleRequest = &monitoringRevocationMonitoringUpdateScheduleRequest
	return r
}

// Executes the V1 PUT /Monitoring/Revocation/Schedule request context
func (r ApiUpdateMonitoringRevocationScheduleRequest) Execute() (*MonitoringRevocationMonitoringDefinitionResponse, *http.Response, error) {
	return r.ApiService.UpdateMonitoringRevocationScheduleExecute(r)
}

/*
Creates a new V1 PUT /Monitoring/Revocation/Schedule request.

UpdateMonitoringRevocationSchedule Edit a revocation monitoring's schedule.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateMonitoringRevocationScheduleRequest
*/
func (a *MonitoringApiService) NewUpdateMonitoringRevocationScheduleRequest(ctx context.Context) ApiUpdateMonitoringRevocationScheduleRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateMonitoringRevocationScheduleRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 PUT /Monitoring/Revocation/Schedule
//
//	@return MonitoringRevocationMonitoringDefinitionResponse
func (a *MonitoringApiService) UpdateMonitoringRevocationScheduleExecute(r ApiUpdateMonitoringRevocationScheduleRequest) (*MonitoringRevocationMonitoringDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MonitoringRevocationMonitoringDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Monitoring/Revocation/Schedule"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.monitoringRevocationMonitoringUpdateScheduleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
