/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 25.1.1

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// ServerGroupApiService ServerGroupApi service
type ServerGroupApiService service

// Request for V1 POST /SSH/ServerGroups
type ApiCreateSSHServerGroupsRequest struct {
	ctx                                                            context.Context
	ApiService                                                     *ServerGroupApiService
	xKeyfactorRequestedWith                                        *string
	xKeyfactorApiVersion                                           *string
	cSSCMSDataModelModelsSSHServerGroupsServerGroupCreationRequest *CSSCMSDataModelModelsSSHServerGroupsServerGroupCreationRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateSSHServerGroupsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateSSHServerGroupsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateSSHServerGroupsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateSSHServerGroupsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Server group properties to be applied to the new group
func (r ApiCreateSSHServerGroupsRequest) CSSCMSDataModelModelsSSHServerGroupsServerGroupCreationRequest(cSSCMSDataModelModelsSSHServerGroupsServerGroupCreationRequest CSSCMSDataModelModelsSSHServerGroupsServerGroupCreationRequest) ApiCreateSSHServerGroupsRequest {
	r.cSSCMSDataModelModelsSSHServerGroupsServerGroupCreationRequest = &cSSCMSDataModelModelsSSHServerGroupsServerGroupCreationRequest
	return r
}

// Executes the V1 POST /SSH/ServerGroups request context
func (r ApiCreateSSHServerGroupsRequest) Execute() (*CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse, *http.Response, error) {
	return r.ApiService.CreateSSHServerGroupsExecute(r)
}

/*
Creates a new V1 POST /SSH/ServerGroups request.

CreateSSHServerGroups Creates a server group with the provided properties

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateSSHServerGroupsRequest
*/
func (a *ServerGroupApiService) NewCreateSSHServerGroupsRequest(ctx context.Context) ApiCreateSSHServerGroupsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateSSHServerGroupsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 POST /SSH/ServerGroups
//
//	@return CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse
func (a *ServerGroupApiService) CreateSSHServerGroupsExecute(r ApiCreateSSHServerGroupsRequest) (*CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSH/ServerGroups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsSSHServerGroupsServerGroupCreationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 POST /SSH/ServerGroups/Access
type ApiCreateSSHServerGroupsAccessRequest struct {
	ctx                                                    context.Context
	ApiService                                             *ServerGroupApiService
	xKeyfactorRequestedWith                                *string
	xKeyfactorApiVersion                                   *string
	cSSCMSDataModelModelsSSHAccessServerGroupAccessRequest *CSSCMSDataModelModelsSSHAccessServerGroupAccessRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateSSHServerGroupsAccessRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateSSHServerGroupsAccessRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateSSHServerGroupsAccessRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateSSHServerGroupsAccessRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiCreateSSHServerGroupsAccessRequest) CSSCMSDataModelModelsSSHAccessServerGroupAccessRequest(cSSCMSDataModelModelsSSHAccessServerGroupAccessRequest CSSCMSDataModelModelsSSHAccessServerGroupAccessRequest) ApiCreateSSHServerGroupsAccessRequest {
	r.cSSCMSDataModelModelsSSHAccessServerGroupAccessRequest = &cSSCMSDataModelModelsSSHAccessServerGroupAccessRequest
	return r
}

// Executes the V1 POST /SSH/ServerGroups/Access request context
func (r ApiCreateSSHServerGroupsAccessRequest) Execute() (*CSSCMSDataModelModelsSSHAccessServerGroupAccessResponse, *http.Response, error) {
	return r.ApiService.CreateSSHServerGroupsAccessExecute(r)
}

/*
Creates a new V1 POST /SSH/ServerGroups/Access request.

CreateSSHServerGroupsAccess Add access rules to the server group

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateSSHServerGroupsAccessRequest
*/
func (a *ServerGroupApiService) NewCreateSSHServerGroupsAccessRequest(ctx context.Context) ApiCreateSSHServerGroupsAccessRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateSSHServerGroupsAccessRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 POST /SSH/ServerGroups/Access
//
//	@return CSSCMSDataModelModelsSSHAccessServerGroupAccessResponse
func (a *ServerGroupApiService) CreateSSHServerGroupsAccessExecute(r ApiCreateSSHServerGroupsAccessRequest) (*CSSCMSDataModelModelsSSHAccessServerGroupAccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsSSHAccessServerGroupAccessResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSH/ServerGroups/Access"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsSSHAccessServerGroupAccessRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 DELETE /SSH/ServerGroups/Access
type ApiDeleteSSHServerGroupsAccessRequest struct {
	ctx                                                    context.Context
	ApiService                                             *ServerGroupApiService
	xKeyfactorRequestedWith                                *string
	xKeyfactorApiVersion                                   *string
	cSSCMSDataModelModelsSSHAccessServerGroupAccessRequest *CSSCMSDataModelModelsSSHAccessServerGroupAccessRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteSSHServerGroupsAccessRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteSSHServerGroupsAccessRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteSSHServerGroupsAccessRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteSSHServerGroupsAccessRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiDeleteSSHServerGroupsAccessRequest) CSSCMSDataModelModelsSSHAccessServerGroupAccessRequest(cSSCMSDataModelModelsSSHAccessServerGroupAccessRequest CSSCMSDataModelModelsSSHAccessServerGroupAccessRequest) ApiDeleteSSHServerGroupsAccessRequest {
	r.cSSCMSDataModelModelsSSHAccessServerGroupAccessRequest = &cSSCMSDataModelModelsSSHAccessServerGroupAccessRequest
	return r
}

// Executes the V1 DELETE /SSH/ServerGroups/Access request context
func (r ApiDeleteSSHServerGroupsAccessRequest) Execute() (*CSSCMSDataModelModelsSSHAccessServerGroupAccessResponse, *http.Response, error) {
	return r.ApiService.DeleteSSHServerGroupsAccessExecute(r)
}

/*
Creates a new V1 DELETE /SSH/ServerGroups/Access request.

DeleteSSHServerGroupsAccess Removes access mappings for the specified server group

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDeleteSSHServerGroupsAccessRequest
*/
func (a *ServerGroupApiService) NewDeleteSSHServerGroupsAccessRequest(ctx context.Context) ApiDeleteSSHServerGroupsAccessRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteSSHServerGroupsAccessRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 DELETE /SSH/ServerGroups/Access
//
//	@return CSSCMSDataModelModelsSSHAccessServerGroupAccessResponse
func (a *ServerGroupApiService) DeleteSSHServerGroupsAccessExecute(r ApiDeleteSSHServerGroupsAccessRequest) (*CSSCMSDataModelModelsSSHAccessServerGroupAccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsSSHAccessServerGroupAccessResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSH/ServerGroups/Access"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsSSHAccessServerGroupAccessRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 DELETE /SSH/ServerGroups/{id}
type ApiDeleteSSHServerGroupsByIdRequest struct {
	ctx                     context.Context
	ApiService              *ServerGroupApiService
	id                      string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteSSHServerGroupsByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteSSHServerGroupsByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteSSHServerGroupsByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteSSHServerGroupsByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 DELETE /SSH/ServerGroups/{id} request context
func (r ApiDeleteSSHServerGroupsByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteSSHServerGroupsByIdExecute(r)
}

/*
Creates a new V1 DELETE /SSH/ServerGroups/{id} request.

DeleteSSHServerGroupsById Deletes a ServerGroup associated with the provided identifier

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor identifer of the ServerGroup to be deleted
	@return ApiDeleteSSHServerGroupsByIdRequest
*/
func (a *ServerGroupApiService) NewDeleteSSHServerGroupsByIdRequest(ctx context.Context, id string) ApiDeleteSSHServerGroupsByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteSSHServerGroupsByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *ServerGroupApiService) DeleteSSHServerGroupsByIdExecute(r ApiDeleteSSHServerGroupsByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSH/ServerGroups/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for V1 GET /SSH/ServerGroups
type ApiGetSSHServerGroupsRequest struct {
	ctx                     context.Context
	ApiService              *ServerGroupApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSSHServerGroupsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSSHServerGroupsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetSSHServerGroupsRequest) QueryString(queryString string) ApiGetSSHServerGroupsRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetSSHServerGroupsRequest) PageReturned(pageReturned int32) ApiGetSSHServerGroupsRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetSSHServerGroupsRequest) ReturnLimit(returnLimit int32) ApiGetSSHServerGroupsRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetSSHServerGroupsRequest) SortField(sortField string) ApiGetSSHServerGroupsRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetSSHServerGroupsRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetSSHServerGroupsRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSSHServerGroupsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSSHServerGroupsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /SSH/ServerGroups request context
func (r ApiGetSSHServerGroupsRequest) Execute() ([]CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse, *http.Response, error) {
	return r.ApiService.GetSSHServerGroupsExecute(r)
}

/*
Creates a new V1 GET /SSH/ServerGroups request.

GetSSHServerGroups Returns all server groups according to the provided filter parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSSHServerGroupsRequest
*/
func (a *ServerGroupApiService) NewGetSSHServerGroupsRequest(ctx context.Context) ApiGetSSHServerGroupsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSSHServerGroupsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /SSH/ServerGroups
//
//	@return []CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse
func (a *ServerGroupApiService) GetSSHServerGroupsExecute(r ApiGetSSHServerGroupsRequest) ([]CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSH/ServerGroups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /SSH/ServerGroups/Access/{id}
type ApiGetSSHServerGroupsAccessByIdRequest struct {
	ctx                     context.Context
	ApiService              *ServerGroupApiService
	id                      string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSSHServerGroupsAccessByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSSHServerGroupsAccessByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSSHServerGroupsAccessByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSSHServerGroupsAccessByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /SSH/ServerGroups/Access/{id} request context
func (r ApiGetSSHServerGroupsAccessByIdRequest) Execute() (*CSSCMSDataModelModelsSSHAccessServerGroupAccessResponse, *http.Response, error) {
	return r.ApiService.GetSSHServerGroupsAccessByIdExecute(r)
}

/*
Creates a new V1 GET /SSH/ServerGroups/Access/{id} request.

GetSSHServerGroupsAccessById Retrieves logons and users with access to those logons for an existing server group

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Id of the existing server group
	@return ApiGetSSHServerGroupsAccessByIdRequest
*/
func (a *ServerGroupApiService) NewGetSSHServerGroupsAccessByIdRequest(ctx context.Context, id string) ApiGetSSHServerGroupsAccessByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSSHServerGroupsAccessByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request V1 GET /SSH/ServerGroups/Access/{id}
//
//	@return CSSCMSDataModelModelsSSHAccessServerGroupAccessResponse
func (a *ServerGroupApiService) GetSSHServerGroupsAccessByIdExecute(r ApiGetSSHServerGroupsAccessByIdRequest) (*CSSCMSDataModelModelsSSHAccessServerGroupAccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsSSHAccessServerGroupAccessResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSH/ServerGroups/Access/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /SSH/ServerGroups/{id}
type ApiGetSSHServerGroupsByIdRequest struct {
	ctx                     context.Context
	ApiService              *ServerGroupApiService
	id                      string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSSHServerGroupsByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSSHServerGroupsByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSSHServerGroupsByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSSHServerGroupsByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /SSH/ServerGroups/{id} request context
func (r ApiGetSSHServerGroupsByIdRequest) Execute() (*CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse, *http.Response, error) {
	return r.ApiService.GetSSHServerGroupsByIdExecute(r)
}

/*
Creates a new V1 GET /SSH/ServerGroups/{id} request.

GetSSHServerGroupsById Returns a ServerGroup associated with the provided identifier

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor identifier of the ServerGroup
	@return ApiGetSSHServerGroupsByIdRequest
*/
func (a *ServerGroupApiService) NewGetSSHServerGroupsByIdRequest(ctx context.Context, id string) ApiGetSSHServerGroupsByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSSHServerGroupsByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request V1 GET /SSH/ServerGroups/{id}
//
//	@return CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse
func (a *ServerGroupApiService) GetSSHServerGroupsByIdExecute(r ApiGetSSHServerGroupsByIdRequest) (*CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSH/ServerGroups/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /SSH/ServerGroups/{name}
type ApiGetSSHServerGroupsNameRequest struct {
	ctx                     context.Context
	ApiService              *ServerGroupApiService
	name                    string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSSHServerGroupsNameRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSSHServerGroupsNameRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSSHServerGroupsNameRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSSHServerGroupsNameRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /SSH/ServerGroups/{name} request context
func (r ApiGetSSHServerGroupsNameRequest) Execute() (*CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse, *http.Response, error) {
	return r.ApiService.GetSSHServerGroupsNameExecute(r)
}

/*
Creates a new V1 GET /SSH/ServerGroups/{name} request.

GetSSHServerGroupsName Returns a ServerGroup associated with the provided identifier

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name name of the ServerGroup
	@return ApiGetSSHServerGroupsNameRequest
*/
func (a *ServerGroupApiService) NewGetSSHServerGroupsNameRequest(ctx context.Context, name string) ApiGetSSHServerGroupsNameRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSSHServerGroupsNameRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		name: name,
	}
}

// Executes the API request V1 GET /SSH/ServerGroups/{name}
//
//	@return CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse
func (a *ServerGroupApiService) GetSSHServerGroupsNameExecute(r ApiGetSSHServerGroupsNameRequest) (*CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSH/ServerGroups/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 PUT /SSH/ServerGroups
type ApiUpdateSSHServerGroupsRequest struct {
	ctx                                                          context.Context
	ApiService                                                   *ServerGroupApiService
	xKeyfactorRequestedWith                                      *string
	xKeyfactorApiVersion                                         *string
	cSSCMSDataModelModelsSSHServerGroupsServerGroupUpdateRequest *CSSCMSDataModelModelsSSHServerGroupsServerGroupUpdateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateSSHServerGroupsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateSSHServerGroupsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateSSHServerGroupsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateSSHServerGroupsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Server group properties to be applied to the existing group
func (r ApiUpdateSSHServerGroupsRequest) CSSCMSDataModelModelsSSHServerGroupsServerGroupUpdateRequest(cSSCMSDataModelModelsSSHServerGroupsServerGroupUpdateRequest CSSCMSDataModelModelsSSHServerGroupsServerGroupUpdateRequest) ApiUpdateSSHServerGroupsRequest {
	r.cSSCMSDataModelModelsSSHServerGroupsServerGroupUpdateRequest = &cSSCMSDataModelModelsSSHServerGroupsServerGroupUpdateRequest
	return r
}

// Executes the V1 PUT /SSH/ServerGroups request context
func (r ApiUpdateSSHServerGroupsRequest) Execute() (*CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse, *http.Response, error) {
	return r.ApiService.UpdateSSHServerGroupsExecute(r)
}

/*
Creates a new V1 PUT /SSH/ServerGroups request.

UpdateSSHServerGroups Updates an existing server group with the provided properties

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateSSHServerGroupsRequest
*/
func (a *ServerGroupApiService) NewUpdateSSHServerGroupsRequest(ctx context.Context) ApiUpdateSSHServerGroupsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateSSHServerGroupsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 PUT /SSH/ServerGroups
//
//	@return CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse
func (a *ServerGroupApiService) UpdateSSHServerGroupsExecute(r ApiUpdateSSHServerGroupsRequest) (*CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsSSHServerGroupsServerGroupResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSH/ServerGroups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsSSHServerGroupsServerGroupUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
