/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 24.4.2

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// SecurityClaimsApiService SecurityClaimsApi service
type SecurityClaimsApiService service

// Request for POST /Security/Claims
type ApiCreateSecurityClaimsRequest struct {
	ctx                                                            context.Context
	ApiService                                                     *SecurityClaimsApiService
	xKeyfactorRequestedWith                                        *string
	xKeyfactorApiVersion                                           *string
	securityRoleClaimDefinitionsRoleClaimDefinitionCreationRequest *SecurityRoleClaimDefinitionsRoleClaimDefinitionCreationRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateSecurityClaimsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateSecurityClaimsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateSecurityClaimsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateSecurityClaimsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Claim Definition Creation Request
func (r ApiCreateSecurityClaimsRequest) SecurityRoleClaimDefinitionsRoleClaimDefinitionCreationRequest(securityRoleClaimDefinitionsRoleClaimDefinitionCreationRequest SecurityRoleClaimDefinitionsRoleClaimDefinitionCreationRequest) ApiCreateSecurityClaimsRequest {
	r.securityRoleClaimDefinitionsRoleClaimDefinitionCreationRequest = &securityRoleClaimDefinitionsRoleClaimDefinitionCreationRequest
	return r
}

func (r ApiCreateSecurityClaimsRequest) Execute() (*SecurityRoleClaimDefinitionsRoleClaimDefinitionResponse, *http.Response, error) {
	return r.ApiService.CreateSecurityClaimsExecute(r)
}

/*
CreateSecurityClaims Adds a new claim definition to the system.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateSecurityClaimsRequest
*/
func (a *SecurityClaimsApiService) CreateSecurityClaims(ctx context.Context) ApiCreateSecurityClaimsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateSecurityClaimsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Security/Claims
//
//	@return SecurityRoleClaimDefinitionsRoleClaimDefinitionResponse
func (a *SecurityClaimsApiService) CreateSecurityClaimsExecute(r ApiCreateSecurityClaimsRequest) (*SecurityRoleClaimDefinitionsRoleClaimDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SecurityRoleClaimDefinitionsRoleClaimDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Claims"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.securityRoleClaimDefinitionsRoleClaimDefinitionCreationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for DELETE /Security/Claims/{id}
type ApiDeleteSecurityClaimsByIdRequest struct {
	ctx                     context.Context
	ApiService              *SecurityClaimsApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteSecurityClaimsByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteSecurityClaimsByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteSecurityClaimsByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteSecurityClaimsByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiDeleteSecurityClaimsByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteSecurityClaimsByIdExecute(r)
}

/*
DeleteSecurityClaimsById Removes a claim definition from the system.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id the Keyfactor identifier of the claim definition to delete
	@return ApiDeleteSecurityClaimsByIdRequest
*/
func (a *SecurityClaimsApiService) DeleteSecurityClaimsById(ctx context.Context, id int32) ApiDeleteSecurityClaimsByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteSecurityClaimsByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *SecurityClaimsApiService) DeleteSecurityClaimsByIdExecute(r ApiDeleteSecurityClaimsByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Claims/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for GET /Security/Claims
type ApiGetSecurityClaimsRequest struct {
	ctx                     context.Context
	ApiService              *SecurityClaimsApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSecurityClaimsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSecurityClaimsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetSecurityClaimsRequest) QueryString(queryString string) ApiGetSecurityClaimsRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetSecurityClaimsRequest) PageReturned(pageReturned int32) ApiGetSecurityClaimsRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetSecurityClaimsRequest) ReturnLimit(returnLimit int32) ApiGetSecurityClaimsRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetSecurityClaimsRequest) SortField(sortField string) ApiGetSecurityClaimsRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetSecurityClaimsRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetSecurityClaimsRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSecurityClaimsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSecurityClaimsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSecurityClaimsRequest) Execute() ([]SecurityRoleClaimDefinitionsRoleClaimDefinitionQueryResponse, *http.Response, error) {
	return r.ApiService.GetSecurityClaimsExecute(r)
}

/*
GetSecurityClaims Returns all claim definitions according to the provided filter and output parameters.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSecurityClaimsRequest
*/
func (a *SecurityClaimsApiService) GetSecurityClaims(ctx context.Context) ApiGetSecurityClaimsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSecurityClaimsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /Security/Claims
//
//	@return []SecurityRoleClaimDefinitionsRoleClaimDefinitionQueryResponse
func (a *SecurityClaimsApiService) GetSecurityClaimsExecute(r ApiGetSecurityClaimsRequest) ([]SecurityRoleClaimDefinitionsRoleClaimDefinitionQueryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SecurityRoleClaimDefinitionsRoleClaimDefinitionQueryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Claims"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Security/Claims/{id}
type ApiGetSecurityClaimsByIdRequest struct {
	ctx                     context.Context
	ApiService              *SecurityClaimsApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSecurityClaimsByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSecurityClaimsByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSecurityClaimsByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSecurityClaimsByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSecurityClaimsByIdRequest) Execute() (*SecurityRoleClaimDefinitionsRoleClaimDefinitionResponse, *http.Response, error) {
	return r.ApiService.GetSecurityClaimsByIdExecute(r)
}

/*
GetSecurityClaimsById Returns a single claim definition that matches the id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id claim definition identifier
	@return ApiGetSecurityClaimsByIdRequest
*/
func (a *SecurityClaimsApiService) GetSecurityClaimsById(ctx context.Context, id int32) ApiGetSecurityClaimsByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSecurityClaimsByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /Security/Claims/{id}
//
//	@return SecurityRoleClaimDefinitionsRoleClaimDefinitionResponse
func (a *SecurityClaimsApiService) GetSecurityClaimsByIdExecute(r ApiGetSecurityClaimsByIdRequest) (*SecurityRoleClaimDefinitionsRoleClaimDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SecurityRoleClaimDefinitionsRoleClaimDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Claims/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Security/Claims/Roles
type ApiGetSecurityClaimsRolesRequest struct {
	ctx                          context.Context
	ApiService                   *SecurityClaimsApiService
	claimType                    *CSSCMSCoreEnumsClaimType
	claimValue                   *string
	providerAuthenticationScheme *string
	xKeyfactorRequestedWith      *string
	xKeyfactorApiVersion         *string
}

func (r ApiGetSecurityClaimsRolesRequest) ClaimType(claimType CSSCMSCoreEnumsClaimType) ApiGetSecurityClaimsRolesRequest {
	r.claimType = &claimType
	return r
}

func (r ApiGetSecurityClaimsRolesRequest) ClaimValue(claimValue string) ApiGetSecurityClaimsRolesRequest {
	r.claimValue = &claimValue
	return r
}

func (r ApiGetSecurityClaimsRolesRequest) ProviderAuthenticationScheme(providerAuthenticationScheme string) ApiGetSecurityClaimsRolesRequest {
	r.providerAuthenticationScheme = &providerAuthenticationScheme
	return r
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSecurityClaimsRolesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSecurityClaimsRolesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSecurityClaimsRolesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSecurityClaimsRolesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSecurityClaimsRolesRequest) Execute() ([]SecurityRoleClaimDefinitionsSecurityRoleForClaimResponse, *http.Response, error) {
	return r.ApiService.GetSecurityClaimsRolesExecute(r)
}

/*
GetSecurityClaimsRoles Returns a list of roles granted by the claim with the provided id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSecurityClaimsRolesRequest
*/
func (a *SecurityClaimsApiService) GetSecurityClaimsRoles(ctx context.Context) ApiGetSecurityClaimsRolesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSecurityClaimsRolesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /Security/Claims/Roles
//
//	@return []SecurityRoleClaimDefinitionsSecurityRoleForClaimResponse
func (a *SecurityClaimsApiService) GetSecurityClaimsRolesExecute(r ApiGetSecurityClaimsRolesRequest) ([]SecurityRoleClaimDefinitionsSecurityRoleForClaimResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SecurityRoleClaimDefinitionsSecurityRoleForClaimResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Claims/Roles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.claimType == nil {
		return localVarReturnValue, nil, reportError("claimType is required and must be specified")
	}
	if r.claimValue == nil {
		return localVarReturnValue, nil, reportError("claimValue is required and must be specified")
	}
	if strlen(*r.claimValue) < 0 {
		return localVarReturnValue, nil, reportError("claimValue must have at least 0 elements")
	}
	if strlen(*r.claimValue) > 512 {
		return localVarReturnValue, nil, reportError("claimValue must have less than 512 elements")
	}
	if r.providerAuthenticationScheme == nil {
		return localVarReturnValue, nil, reportError("providerAuthenticationScheme is required and must be specified")
	}
	if strlen(*r.providerAuthenticationScheme) < 0 {
		return localVarReturnValue, nil, reportError("providerAuthenticationScheme must have at least 0 elements")
	}
	if strlen(*r.providerAuthenticationScheme) > 512 {
		return localVarReturnValue, nil, reportError("providerAuthenticationScheme must have less than 512 elements")
	}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	parameterAddToQuery(localVarQueryParams, "ClaimType", r.claimType, "")
	parameterAddToQuery(localVarQueryParams, "ClaimValue", r.claimValue, "")
	parameterAddToQuery(localVarQueryParams, "ProviderAuthenticationScheme", r.providerAuthenticationScheme, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for PUT /Security/Claims
type ApiUpdateSecurityClaimsRequest struct {
	ctx                                                          context.Context
	ApiService                                                   *SecurityClaimsApiService
	xKeyfactorRequestedWith                                      *string
	xKeyfactorApiVersion                                         *string
	securityRoleClaimDefinitionsRoleClaimDefinitionUpdateRequest *SecurityRoleClaimDefinitionsRoleClaimDefinitionUpdateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateSecurityClaimsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateSecurityClaimsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateSecurityClaimsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateSecurityClaimsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Claim Definition Update Request
func (r ApiUpdateSecurityClaimsRequest) SecurityRoleClaimDefinitionsRoleClaimDefinitionUpdateRequest(securityRoleClaimDefinitionsRoleClaimDefinitionUpdateRequest SecurityRoleClaimDefinitionsRoleClaimDefinitionUpdateRequest) ApiUpdateSecurityClaimsRequest {
	r.securityRoleClaimDefinitionsRoleClaimDefinitionUpdateRequest = &securityRoleClaimDefinitionsRoleClaimDefinitionUpdateRequest
	return r
}

func (r ApiUpdateSecurityClaimsRequest) Execute() (*SecurityRoleClaimDefinitionsRoleClaimDefinitionResponse, *http.Response, error) {
	return r.ApiService.UpdateSecurityClaimsExecute(r)
}

/*
UpdateSecurityClaims Updates an existing claim definition.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateSecurityClaimsRequest
*/
func (a *SecurityClaimsApiService) UpdateSecurityClaims(ctx context.Context) ApiUpdateSecurityClaimsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateSecurityClaimsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request PUT /Security/Claims
//
//	@return SecurityRoleClaimDefinitionsRoleClaimDefinitionResponse
func (a *SecurityClaimsApiService) UpdateSecurityClaimsExecute(r ApiUpdateSecurityClaimsRequest) (*SecurityRoleClaimDefinitionsRoleClaimDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SecurityRoleClaimDefinitionsRoleClaimDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Claims"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.securityRoleClaimDefinitionsRoleClaimDefinitionUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
