/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 24.4.2

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// ComponentInstallationApiService ComponentInstallationApi service
type ComponentInstallationApiService service

// Request for DELETE /ComponentInstallation/{id}
type ApiDeleteComponentInstallationByIdRequest struct {
	ctx                     context.Context
	ApiService              *ComponentInstallationApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteComponentInstallationByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteComponentInstallationByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteComponentInstallationByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteComponentInstallationByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiDeleteComponentInstallationByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteComponentInstallationByIdExecute(r)
}

/*
DeleteComponentInstallationById Deletes the Keyfactor component installation whose ID is provided.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor component installation identifier
	@return ApiDeleteComponentInstallationByIdRequest
*/
func (a *ComponentInstallationApiService) NewDeleteComponentInstallationByIdRequest(ctx context.Context, id int32) ApiDeleteComponentInstallationByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteComponentInstallationByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *ComponentInstallationApiService) DeleteComponentInstallationByIdExecute(r ApiDeleteComponentInstallationByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/ComponentInstallation/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id < 1 {
		return nil, reportError("id must be greater than 1")
	}
	if r.id > 2147483647 {
		return nil, reportError("id must be less than 2147483647")
	}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for GET /ComponentInstallation
type ApiGetComponentInstallationRequest struct {
	ctx                     context.Context
	ApiService              *ComponentInstallationApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetComponentInstallationRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetComponentInstallationRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetComponentInstallationRequest) QueryString(queryString string) ApiGetComponentInstallationRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetComponentInstallationRequest) PageReturned(pageReturned int32) ApiGetComponentInstallationRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetComponentInstallationRequest) ReturnLimit(returnLimit int32) ApiGetComponentInstallationRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetComponentInstallationRequest) SortField(sortField string) ApiGetComponentInstallationRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetComponentInstallationRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetComponentInstallationRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetComponentInstallationRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetComponentInstallationRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetComponentInstallationRequest) Execute() ([]ComponentInstallationComponentInstallationResponse, *http.Response, error) {
	return r.ApiService.GetComponentInstallationExecute(r)
}

/*
GetComponentInstallation Returns all Keyfactor component installations.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetComponentInstallationRequest
*/
func (a *ComponentInstallationApiService) NewGetComponentInstallationRequest(ctx context.Context) ApiGetComponentInstallationRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetComponentInstallationRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /ComponentInstallation
//
//	@return []ComponentInstallationComponentInstallationResponse
func (a *ComponentInstallationApiService) GetComponentInstallationExecute(r ApiGetComponentInstallationRequest) ([]ComponentInstallationComponentInstallationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ComponentInstallationComponentInstallationResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/ComponentInstallation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
