/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 24.4.2

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// WorkflowDefinitionApiService WorkflowDefinitionApi service
type WorkflowDefinitionApiService service

// Request for POST /Workflow/Definitions
type ApiCreateWorkflowDefinitionsRequest struct {
	ctx                              context.Context
	ApiService                       *WorkflowDefinitionApiService
	xKeyfactorRequestedWith          *string
	force                            *bool
	xKeyfactorApiVersion             *string
	workflowsDefinitionCreateRequest *WorkflowsDefinitionCreateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateWorkflowDefinitionsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateWorkflowDefinitionsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Whether to force the creation of this definition in the case that it would run workflows immediately.
func (r ApiCreateWorkflowDefinitionsRequest) Force(force bool) ApiCreateWorkflowDefinitionsRequest {
	r.force = &force
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateWorkflowDefinitionsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateWorkflowDefinitionsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// A Workflows.DefinitionCreateRequest with the display name, description, key and type of the definition.
func (r ApiCreateWorkflowDefinitionsRequest) WorkflowsDefinitionCreateRequest(workflowsDefinitionCreateRequest WorkflowsDefinitionCreateRequest) ApiCreateWorkflowDefinitionsRequest {
	r.workflowsDefinitionCreateRequest = &workflowsDefinitionCreateRequest
	return r
}

func (r ApiCreateWorkflowDefinitionsRequest) Execute() (*WorkflowsDefinitionResponse, *http.Response, error) {
	return r.ApiService.CreateWorkflowDefinitionsExecute(r)
}

/*
CreateWorkflowDefinitions Creates a new base definition without any steps.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateWorkflowDefinitionsRequest
*/
func (a *WorkflowDefinitionApiService) BuildCreateWorkflowDefinitionsRequest(ctx context.Context) ApiCreateWorkflowDefinitionsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateWorkflowDefinitionsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Workflow/Definitions
//
//	@return WorkflowsDefinitionResponse
func (a *WorkflowDefinitionApiService) CreateWorkflowDefinitionsExecute(r ApiCreateWorkflowDefinitionsRequest) (*WorkflowsDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowsDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.force != nil {
		parameterAddToQuery(localVarQueryParams, "force", r.force, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.workflowsDefinitionCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /Workflow/Definitions/{definitionId}/Publish
type ApiCreateWorkflowDefinitionsDefinitionIdPublishRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowDefinitionApiService
	definitionId            string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateWorkflowDefinitionsDefinitionIdPublishRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateWorkflowDefinitionsDefinitionIdPublishRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateWorkflowDefinitionsDefinitionIdPublishRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateWorkflowDefinitionsDefinitionIdPublishRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiCreateWorkflowDefinitionsDefinitionIdPublishRequest) Execute() (*WorkflowsDefinitionResponse, *http.Response, error) {
	return r.ApiService.CreateWorkflowDefinitionsDefinitionIdPublishExecute(r)
}

/*
CreateWorkflowDefinitionsDefinitionIdPublish Makes the most recent version of a Workflow Definition the published version.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param definitionId The Workflow Definition Id.
	@return ApiCreateWorkflowDefinitionsDefinitionIdPublishRequest
*/
func (a *WorkflowDefinitionApiService) BuildCreateWorkflowDefinitionsDefinitionIdPublishRequest(ctx context.Context, definitionId string) ApiCreateWorkflowDefinitionsDefinitionIdPublishRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateWorkflowDefinitionsDefinitionIdPublishRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		definitionId: definitionId,
	}
}

// Executes the API request POST /Workflow/Definitions/{definitionId}/Publish
//
//	@return WorkflowsDefinitionResponse
func (a *WorkflowDefinitionApiService) CreateWorkflowDefinitionsDefinitionIdPublishExecute(r ApiCreateWorkflowDefinitionsDefinitionIdPublishRequest) (*WorkflowsDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowsDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions/{definitionId}/Publish"
	localVarPath = strings.Replace(localVarPath, "{"+"definitionId"+"}", url.PathEscape(parameterValueToString(r.definitionId, "definitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /Workflow/Definitions/{definitionId}/Publish/{version}
type ApiCreateWorkflowDefinitionsDefinitionIdPublishVersionRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowDefinitionApiService
	definitionId            string
	version                 int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateWorkflowDefinitionsDefinitionIdPublishVersionRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateWorkflowDefinitionsDefinitionIdPublishVersionRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateWorkflowDefinitionsDefinitionIdPublishVersionRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateWorkflowDefinitionsDefinitionIdPublishVersionRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiCreateWorkflowDefinitionsDefinitionIdPublishVersionRequest) Execute() (*WorkflowsDefinitionResponse, *http.Response, error) {
	return r.ApiService.CreateWorkflowDefinitionsDefinitionIdPublishVersionExecute(r)
}

/*
CreateWorkflowDefinitionsDefinitionIdPublishVersion Makes the specified version of a Workflow Definition the published version.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param definitionId The Workflow Definition Id.
	@param version The Workflow Version Id.
	@return ApiCreateWorkflowDefinitionsDefinitionIdPublishVersionRequest
*/
func (a *WorkflowDefinitionApiService) BuildCreateWorkflowDefinitionsDefinitionIdPublishVersionRequest(ctx context.Context, definitionId string, version int32) ApiCreateWorkflowDefinitionsDefinitionIdPublishVersionRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateWorkflowDefinitionsDefinitionIdPublishVersionRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		definitionId: definitionId,
		version:      version,
	}
}

// Executes the API request POST /Workflow/Definitions/{definitionId}/Publish/{version}
//
//	@return WorkflowsDefinitionResponse
func (a *WorkflowDefinitionApiService) CreateWorkflowDefinitionsDefinitionIdPublishVersionExecute(r ApiCreateWorkflowDefinitionsDefinitionIdPublishVersionRequest) (*WorkflowsDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowsDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions/{definitionId}/Publish/{version}"
	localVarPath = strings.Replace(localVarPath, "{"+"definitionId"+"}", url.PathEscape(parameterValueToString(r.definitionId, "definitionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for DELETE /Workflow/Definitions/{definitionId}
type ApiDeleteWorkflowDefinitionsDefinitionIdRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowDefinitionApiService
	definitionId            string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteWorkflowDefinitionsDefinitionIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteWorkflowDefinitionsDefinitionIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteWorkflowDefinitionsDefinitionIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteWorkflowDefinitionsDefinitionIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiDeleteWorkflowDefinitionsDefinitionIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteWorkflowDefinitionsDefinitionIdExecute(r)
}

/*
DeleteWorkflowDefinitionsDefinitionId Deletes the definition matching the given Id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param definitionId The Workflow Definition Id.
	@return ApiDeleteWorkflowDefinitionsDefinitionIdRequest
*/
func (a *WorkflowDefinitionApiService) BuildDeleteWorkflowDefinitionsDefinitionIdRequest(ctx context.Context, definitionId string) ApiDeleteWorkflowDefinitionsDefinitionIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteWorkflowDefinitionsDefinitionIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		definitionId: definitionId,
	}
}

// Executes the API request
func (a *WorkflowDefinitionApiService) DeleteWorkflowDefinitionsDefinitionIdExecute(r ApiDeleteWorkflowDefinitionsDefinitionIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions/{definitionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"definitionId"+"}", url.PathEscape(parameterValueToString(r.definitionId, "definitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for GET /Workflow/Definitions
type ApiGetWorkflowDefinitionsRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowDefinitionApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowDefinitionsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowDefinitionsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetWorkflowDefinitionsRequest) QueryString(queryString string) ApiGetWorkflowDefinitionsRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetWorkflowDefinitionsRequest) PageReturned(pageReturned int32) ApiGetWorkflowDefinitionsRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetWorkflowDefinitionsRequest) ReturnLimit(returnLimit int32) ApiGetWorkflowDefinitionsRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetWorkflowDefinitionsRequest) SortField(sortField string) ApiGetWorkflowDefinitionsRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetWorkflowDefinitionsRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetWorkflowDefinitionsRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowDefinitionsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowDefinitionsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetWorkflowDefinitionsRequest) Execute() ([]WorkflowsDefinitionQueryResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowDefinitionsExecute(r)
}

/*
GetWorkflowDefinitions Gets the Definitions matching the query specifications.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowDefinitionsRequest
*/
func (a *WorkflowDefinitionApiService) BuildGetWorkflowDefinitionsRequest(ctx context.Context) ApiGetWorkflowDefinitionsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowDefinitionsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /Workflow/Definitions
//
//	@return []WorkflowsDefinitionQueryResponse
func (a *WorkflowDefinitionApiService) GetWorkflowDefinitionsExecute(r ApiGetWorkflowDefinitionsRequest) ([]WorkflowsDefinitionQueryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []WorkflowsDefinitionQueryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Workflow/Definitions/{definitionId}
type ApiGetWorkflowDefinitionsDefinitionIdRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowDefinitionApiService
	definitionId            string
	xKeyfactorRequestedWith *string
	definitionVersion       *int32
	exportable              *bool
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowDefinitionsDefinitionIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowDefinitionsDefinitionIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// The version to retrieve. If this value is not specified, the latest version will be returned.
func (r ApiGetWorkflowDefinitionsDefinitionIdRequest) DefinitionVersion(definitionVersion int32) ApiGetWorkflowDefinitionsDefinitionIdRequest {
	r.definitionVersion = &definitionVersion
	return r
}

// Indicates if the response should be cleansed of role ids for export.
func (r ApiGetWorkflowDefinitionsDefinitionIdRequest) Exportable(exportable bool) ApiGetWorkflowDefinitionsDefinitionIdRequest {
	r.exportable = &exportable
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowDefinitionsDefinitionIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowDefinitionsDefinitionIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetWorkflowDefinitionsDefinitionIdRequest) Execute() (*WorkflowsDefinitionResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowDefinitionsDefinitionIdExecute(r)
}

/*
GetWorkflowDefinitionsDefinitionId Gets a workflow definition.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param definitionId The Id of the definition to retrieve.
	@return ApiGetWorkflowDefinitionsDefinitionIdRequest
*/
func (a *WorkflowDefinitionApiService) BuildGetWorkflowDefinitionsDefinitionIdRequest(ctx context.Context, definitionId string) ApiGetWorkflowDefinitionsDefinitionIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowDefinitionsDefinitionIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		definitionId: definitionId,
	}
}

// Executes the API request GET /Workflow/Definitions/{definitionId}
//
//	@return WorkflowsDefinitionResponse
func (a *WorkflowDefinitionApiService) GetWorkflowDefinitionsDefinitionIdExecute(r ApiGetWorkflowDefinitionsDefinitionIdRequest) (*WorkflowsDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowsDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions/{definitionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"definitionId"+"}", url.PathEscape(parameterValueToString(r.definitionId, "definitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.definitionVersion != nil {
		parameterAddToQuery(localVarQueryParams, "definitionVersion", r.definitionVersion, "")
	}
	if r.exportable != nil {
		parameterAddToQuery(localVarQueryParams, "exportable", r.exportable, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Workflow/Definitions/Steps
type ApiGetWorkflowDefinitionsStepsRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowDefinitionApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowDefinitionsStepsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowDefinitionsStepsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetWorkflowDefinitionsStepsRequest) QueryString(queryString string) ApiGetWorkflowDefinitionsStepsRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetWorkflowDefinitionsStepsRequest) PageReturned(pageReturned int32) ApiGetWorkflowDefinitionsStepsRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetWorkflowDefinitionsStepsRequest) ReturnLimit(returnLimit int32) ApiGetWorkflowDefinitionsStepsRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetWorkflowDefinitionsStepsRequest) SortField(sortField string) ApiGetWorkflowDefinitionsStepsRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetWorkflowDefinitionsStepsRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetWorkflowDefinitionsStepsRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowDefinitionsStepsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowDefinitionsStepsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetWorkflowDefinitionsStepsRequest) Execute() ([]WorkflowsAvailableStepQueryResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowDefinitionsStepsExecute(r)
}

/*
GetWorkflowDefinitionsSteps Gets the result set of available steps for a given query.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowDefinitionsStepsRequest
*/
func (a *WorkflowDefinitionApiService) BuildGetWorkflowDefinitionsStepsRequest(ctx context.Context) ApiGetWorkflowDefinitionsStepsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowDefinitionsStepsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /Workflow/Definitions/Steps
//
//	@return []WorkflowsAvailableStepQueryResponse
func (a *WorkflowDefinitionApiService) GetWorkflowDefinitionsStepsExecute(r ApiGetWorkflowDefinitionsStepsRequest) ([]WorkflowsAvailableStepQueryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []WorkflowsAvailableStepQueryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions/Steps"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Workflow/Definitions/Steps/{extensionName}
type ApiGetWorkflowDefinitionsStepsExtensionNameRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowDefinitionApiService
	extensionName           string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowDefinitionsStepsExtensionNameRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowDefinitionsStepsExtensionNameRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowDefinitionsStepsExtensionNameRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowDefinitionsStepsExtensionNameRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetWorkflowDefinitionsStepsExtensionNameRequest) Execute() (*WorkflowsAvailableStepResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowDefinitionsStepsExtensionNameExecute(r)
}

/*
GetWorkflowDefinitionsStepsExtensionName Gets the schema of a given step with the specified extension name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param extensionName The extension name of a specific step in the step schema.
	@return ApiGetWorkflowDefinitionsStepsExtensionNameRequest
*/
func (a *WorkflowDefinitionApiService) BuildGetWorkflowDefinitionsStepsExtensionNameRequest(ctx context.Context, extensionName string) ApiGetWorkflowDefinitionsStepsExtensionNameRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowDefinitionsStepsExtensionNameRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		extensionName: extensionName,
	}
}

// Executes the API request GET /Workflow/Definitions/Steps/{extensionName}
//
//	@return WorkflowsAvailableStepResponse
func (a *WorkflowDefinitionApiService) GetWorkflowDefinitionsStepsExtensionNameExecute(r ApiGetWorkflowDefinitionsStepsExtensionNameRequest) (*WorkflowsAvailableStepResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowsAvailableStepResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions/Steps/{extensionName}"
	localVarPath = strings.Replace(localVarPath, "{"+"extensionName"+"}", url.PathEscape(parameterValueToString(r.extensionName, "extensionName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Workflow/Definitions/Types
type ApiGetWorkflowDefinitionsTypesRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowDefinitionApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowDefinitionsTypesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowDefinitionsTypesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetWorkflowDefinitionsTypesRequest) QueryString(queryString string) ApiGetWorkflowDefinitionsTypesRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetWorkflowDefinitionsTypesRequest) PageReturned(pageReturned int32) ApiGetWorkflowDefinitionsTypesRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetWorkflowDefinitionsTypesRequest) ReturnLimit(returnLimit int32) ApiGetWorkflowDefinitionsTypesRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetWorkflowDefinitionsTypesRequest) SortField(sortField string) ApiGetWorkflowDefinitionsTypesRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetWorkflowDefinitionsTypesRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetWorkflowDefinitionsTypesRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowDefinitionsTypesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowDefinitionsTypesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetWorkflowDefinitionsTypesRequest) Execute() ([]WorkflowsWorkflowTypeQueryResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowDefinitionsTypesExecute(r)
}

/*
GetWorkflowDefinitionsTypes Performs a query against the workflow types in the system.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowDefinitionsTypesRequest
*/
func (a *WorkflowDefinitionApiService) BuildGetWorkflowDefinitionsTypesRequest(ctx context.Context) ApiGetWorkflowDefinitionsTypesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowDefinitionsTypesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /Workflow/Definitions/Types
//
//	@return []WorkflowsWorkflowTypeQueryResponse
func (a *WorkflowDefinitionApiService) GetWorkflowDefinitionsTypesExecute(r ApiGetWorkflowDefinitionsTypesRequest) ([]WorkflowsWorkflowTypeQueryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []WorkflowsWorkflowTypeQueryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions/Types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for PUT /Workflow/Definitions/{definitionId}
type ApiUpdateWorkflowDefinitionsDefinitionIdRequest struct {
	ctx                              context.Context
	ApiService                       *WorkflowDefinitionApiService
	definitionId                     string
	xKeyfactorRequestedWith          *string
	force                            *bool
	xKeyfactorApiVersion             *string
	workflowsDefinitionUpdateRequest *WorkflowsDefinitionUpdateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateWorkflowDefinitionsDefinitionIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateWorkflowDefinitionsDefinitionIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Whether to force the update of this definition in the case that it would run workflows immediately.
func (r ApiUpdateWorkflowDefinitionsDefinitionIdRequest) Force(force bool) ApiUpdateWorkflowDefinitionsDefinitionIdRequest {
	r.force = &force
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateWorkflowDefinitionsDefinitionIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateWorkflowDefinitionsDefinitionIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The Workflows.DefinitionUpdateRequest holding the updated DisplayName and Description.
func (r ApiUpdateWorkflowDefinitionsDefinitionIdRequest) WorkflowsDefinitionUpdateRequest(workflowsDefinitionUpdateRequest WorkflowsDefinitionUpdateRequest) ApiUpdateWorkflowDefinitionsDefinitionIdRequest {
	r.workflowsDefinitionUpdateRequest = &workflowsDefinitionUpdateRequest
	return r
}

func (r ApiUpdateWorkflowDefinitionsDefinitionIdRequest) Execute() (*WorkflowsDefinitionResponse, *http.Response, error) {
	return r.ApiService.UpdateWorkflowDefinitionsDefinitionIdExecute(r)
}

/*
UpdateWorkflowDefinitionsDefinitionId Updates the existing definition's DisplayName and Description.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param definitionId The Id of the definition to update.
	@return ApiUpdateWorkflowDefinitionsDefinitionIdRequest
*/
func (a *WorkflowDefinitionApiService) BuildUpdateWorkflowDefinitionsDefinitionIdRequest(ctx context.Context, definitionId string) ApiUpdateWorkflowDefinitionsDefinitionIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateWorkflowDefinitionsDefinitionIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		definitionId: definitionId,
	}
}

// Executes the API request PUT /Workflow/Definitions/{definitionId}
//
//	@return WorkflowsDefinitionResponse
func (a *WorkflowDefinitionApiService) UpdateWorkflowDefinitionsDefinitionIdExecute(r ApiUpdateWorkflowDefinitionsDefinitionIdRequest) (*WorkflowsDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowsDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions/{definitionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"definitionId"+"}", url.PathEscape(parameterValueToString(r.definitionId, "definitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.force != nil {
		parameterAddToQuery(localVarQueryParams, "force", r.force, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.workflowsDefinitionUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for PUT /Workflow/Definitions/{definitionId}/Status
type ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowDefinitionApiService
	definitionId            string
	xKeyfactorRequestedWith *string
	force                   *bool
	xKeyfactorApiVersion    *string
	body                    *bool
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Whether to force the status to update.
func (r ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest) Force(force bool) ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest {
	r.force = &force
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The status to be updated.
func (r ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest) Body(body bool) ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest {
	r.body = &body
	return r
}

func (r ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateWorkflowDefinitionsDefinitionIdStatusExecute(r)
}

/*
UpdateWorkflowDefinitionsDefinitionIdStatus Updates the definition status matching the given Id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param definitionId The Workflow Definition Id.
	@return ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest
*/
func (a *WorkflowDefinitionApiService) BuildUpdateWorkflowDefinitionsDefinitionIdStatusRequest(ctx context.Context, definitionId string) ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		definitionId: definitionId,
	}
}

// Executes the API request
func (a *WorkflowDefinitionApiService) UpdateWorkflowDefinitionsDefinitionIdStatusExecute(r ApiUpdateWorkflowDefinitionsDefinitionIdStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions/{definitionId}/Status"
	localVarPath = strings.Replace(localVarPath, "{"+"definitionId"+"}", url.PathEscape(parameterValueToString(r.definitionId, "definitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.force != nil {
		parameterAddToQuery(localVarQueryParams, "force", r.force, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for PUT /Workflow/Definitions/{definitionId}/Steps
type ApiUpdateWorkflowDefinitionsDefinitionIdStepsRequest struct {
	ctx                            context.Context
	ApiService                     *WorkflowDefinitionApiService
	definitionId                   string
	xKeyfactorRequestedWith        *string
	xKeyfactorApiVersion           *string
	workflowsDefinitionStepRequest *[]WorkflowsDefinitionStepRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateWorkflowDefinitionsDefinitionIdStepsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateWorkflowDefinitionsDefinitionIdStepsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateWorkflowDefinitionsDefinitionIdStepsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateWorkflowDefinitionsDefinitionIdStepsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// A collection of Workflows.DefinitionStepRequest defining the steps to set on the definition.
func (r ApiUpdateWorkflowDefinitionsDefinitionIdStepsRequest) WorkflowsDefinitionStepRequest(workflowsDefinitionStepRequest []WorkflowsDefinitionStepRequest) ApiUpdateWorkflowDefinitionsDefinitionIdStepsRequest {
	r.workflowsDefinitionStepRequest = &workflowsDefinitionStepRequest
	return r
}

func (r ApiUpdateWorkflowDefinitionsDefinitionIdStepsRequest) Execute() (*WorkflowsDefinitionResponse, *http.Response, error) {
	return r.ApiService.UpdateWorkflowDefinitionsDefinitionIdStepsExecute(r)
}

/*
UpdateWorkflowDefinitionsDefinitionIdSteps Sets the provided steps on the latest version of the definition.

If the latest version is also the published version, a new version will be created and the steps will be set on that new version.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param definitionId The Id of the definition.
	@return ApiUpdateWorkflowDefinitionsDefinitionIdStepsRequest
*/
func (a *WorkflowDefinitionApiService) BuildUpdateWorkflowDefinitionsDefinitionIdStepsRequest(ctx context.Context, definitionId string) ApiUpdateWorkflowDefinitionsDefinitionIdStepsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateWorkflowDefinitionsDefinitionIdStepsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		definitionId: definitionId,
	}
}

// Executes the API request PUT /Workflow/Definitions/{definitionId}/Steps
//
//	@return WorkflowsDefinitionResponse
func (a *WorkflowDefinitionApiService) UpdateWorkflowDefinitionsDefinitionIdStepsExecute(r ApiUpdateWorkflowDefinitionsDefinitionIdStepsRequest) (*WorkflowsDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowsDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions/{definitionId}/Steps"
	localVarPath = strings.Replace(localVarPath, "{"+"definitionId"+"}", url.PathEscape(parameterValueToString(r.definitionId, "definitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.workflowsDefinitionStepRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
