/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 24.4.2

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// SslApiService SslApi service
type SslApiService service

// Request for POST /SSL/NetworkRanges
type ApiCreateSSLNetworkRangesRequest struct {
	ctx                                          context.Context
	ApiService                                   *SslApiService
	xKeyfactorRequestedWith                      *string
	xKeyfactorApiVersion                         *string
	cSSCMSDataModelModelsSSLNetworkRangesRequest *CSSCMSDataModelModelsSSLNetworkRangesRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateSSLNetworkRangesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateSSLNetworkRangesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateSSLNetworkRangesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateSSLNetworkRangesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Network definition identifier and the ranges to be added
func (r ApiCreateSSLNetworkRangesRequest) CSSCMSDataModelModelsSSLNetworkRangesRequest(cSSCMSDataModelModelsSSLNetworkRangesRequest CSSCMSDataModelModelsSSLNetworkRangesRequest) ApiCreateSSLNetworkRangesRequest {
	r.cSSCMSDataModelModelsSSLNetworkRangesRequest = &cSSCMSDataModelModelsSSLNetworkRangesRequest
	return r
}

func (r ApiCreateSSLNetworkRangesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateSSLNetworkRangesExecute(r)
}

/*
CreateSSLNetworkRanges Adds the provided network range definitions to the associated network definition

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateSSLNetworkRangesRequest
*/
func (a *SslApiService) BuildCreateSSLNetworkRangesRequest(ctx context.Context) ApiCreateSSLNetworkRangesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateSSLNetworkRangesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *SslApiService) CreateSSLNetworkRangesExecute(r ApiCreateSSLNetworkRangesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/NetworkRanges"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsSSLNetworkRangesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for POST /SSL/NetworkRanges/Validate
type ApiCreateSSLNetworkRangesValidateRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
	requestBody             *[]string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateSSLNetworkRangesValidateRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateSSLNetworkRangesValidateRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateSSLNetworkRangesValidateRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateSSLNetworkRangesValidateRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// List of the network range definitions to verify
func (r ApiCreateSSLNetworkRangesValidateRequest) RequestBody(requestBody []string) ApiCreateSSLNetworkRangesValidateRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiCreateSSLNetworkRangesValidateRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateSSLNetworkRangesValidateExecute(r)
}

/*
CreateSSLNetworkRangesValidate Validates the format (using regular expressions) of the provided network range definitions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateSSLNetworkRangesValidateRequest
*/
func (a *SslApiService) BuildCreateSSLNetworkRangesValidateRequest(ctx context.Context) ApiCreateSSLNetworkRangesValidateRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateSSLNetworkRangesValidateRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *SslApiService) CreateSSLNetworkRangesValidateExecute(r ApiCreateSSLNetworkRangesValidateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/NetworkRanges/Validate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for POST /SSL/Networks
type ApiCreateSSLNetworksRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
	sslCreateNetworkRequest *SslCreateNetworkRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateSSLNetworksRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateSSLNetworksRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateSSLNetworksRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateSSLNetworksRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Properties of the network definition to be created
func (r ApiCreateSSLNetworksRequest) SslCreateNetworkRequest(sslCreateNetworkRequest SslCreateNetworkRequest) ApiCreateSSLNetworksRequest {
	r.sslCreateNetworkRequest = &sslCreateNetworkRequest
	return r
}

func (r ApiCreateSSLNetworksRequest) Execute() (*SslNetworkResponse, *http.Response, error) {
	return r.ApiService.CreateSSLNetworksExecute(r)
}

/*
CreateSSLNetworks Creates a network definition according to the provided properties

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateSSLNetworksRequest
*/
func (a *SslApiService) BuildCreateSSLNetworksRequest(ctx context.Context) ApiCreateSSLNetworksRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateSSLNetworksRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /SSL/Networks
//
//	@return SslNetworkResponse
func (a *SslApiService) CreateSSLNetworksExecute(r ApiCreateSSLNetworksRequest) (*SslNetworkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SslNetworkResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Networks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.sslCreateNetworkRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /SSL/Networks/{id}/Reset
type ApiCreateSSLNetworksByIdResetRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	id                      string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateSSLNetworksByIdResetRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateSSLNetworksByIdResetRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateSSLNetworksByIdResetRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateSSLNetworksByIdResetRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiCreateSSLNetworksByIdResetRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateSSLNetworksByIdResetExecute(r)
}

/*
CreateSSLNetworksByIdReset Resets all SSL scans associated with a network

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor network identifier
	@return ApiCreateSSLNetworksByIdResetRequest
*/
func (a *SslApiService) BuildCreateSSLNetworksByIdResetRequest(ctx context.Context, id string) ApiCreateSSLNetworksByIdResetRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateSSLNetworksByIdResetRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *SslApiService) CreateSSLNetworksByIdResetExecute(r ApiCreateSSLNetworksByIdResetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Networks/{id}/Reset"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for POST /SSL/Networks/{id}/Scan
type ApiCreateSSLNetworksByIdScanRequest struct {
	ctx                                             context.Context
	ApiService                                      *SslApiService
	id                                              string
	xKeyfactorRequestedWith                         *string
	xKeyfactorApiVersion                            *string
	cSSCMSDataModelModelsSSLImmediateSslScanRequest *CSSCMSDataModelModelsSSLImmediateSslScanRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateSSLNetworksByIdScanRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateSSLNetworksByIdScanRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateSSLNetworksByIdScanRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateSSLNetworksByIdScanRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Request for an immediate SSL Scan
func (r ApiCreateSSLNetworksByIdScanRequest) CSSCMSDataModelModelsSSLImmediateSslScanRequest(cSSCMSDataModelModelsSSLImmediateSslScanRequest CSSCMSDataModelModelsSSLImmediateSslScanRequest) ApiCreateSSLNetworksByIdScanRequest {
	r.cSSCMSDataModelModelsSSLImmediateSslScanRequest = &cSSCMSDataModelModelsSSLImmediateSslScanRequest
	return r
}

func (r ApiCreateSSLNetworksByIdScanRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateSSLNetworksByIdScanExecute(r)
}

/*
CreateSSLNetworksByIdScan Starts an SSL Scan for the network according to the associated network definition

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor network identifier
	@return ApiCreateSSLNetworksByIdScanRequest
*/
func (a *SslApiService) BuildCreateSSLNetworksByIdScanRequest(ctx context.Context, id string) ApiCreateSSLNetworksByIdScanRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateSSLNetworksByIdScanRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *SslApiService) CreateSSLNetworksByIdScanExecute(r ApiCreateSSLNetworksByIdScanRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Networks/{id}/Scan"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsSSLImmediateSslScanRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for DELETE /SSL/NetworkRanges/{id}
type ApiDeleteSSLNetworkRangesByIdRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	id                      string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteSSLNetworkRangesByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteSSLNetworkRangesByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteSSLNetworkRangesByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteSSLNetworkRangesByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiDeleteSSLNetworkRangesByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteSSLNetworkRangesByIdExecute(r)
}

/*
DeleteSSLNetworkRangesById Removes all network range definitions from the associated network definition

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor network definition identifier
	@return ApiDeleteSSLNetworkRangesByIdRequest
*/
func (a *SslApiService) BuildDeleteSSLNetworkRangesByIdRequest(ctx context.Context, id string) ApiDeleteSSLNetworkRangesByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteSSLNetworkRangesByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *SslApiService) DeleteSSLNetworkRangesByIdExecute(r ApiDeleteSSLNetworkRangesByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/NetworkRanges/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for DELETE /SSL/Networks/{id}
type ApiDeleteSSLNetworksByIdRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	id                      string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteSSLNetworksByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteSSLNetworksByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteSSLNetworksByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteSSLNetworksByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiDeleteSSLNetworksByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteSSLNetworksByIdExecute(r)
}

/*
DeleteSSLNetworksById Removes a network definition according to the provided identifier

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor network identifier
	@return ApiDeleteSSLNetworksByIdRequest
*/
func (a *SslApiService) BuildDeleteSSLNetworksByIdRequest(ctx context.Context, id string) ApiDeleteSSLNetworksByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteSSLNetworksByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *SslApiService) DeleteSSLNetworksByIdExecute(r ApiDeleteSSLNetworksByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Networks/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for GET /SSL
type ApiGetSSLRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSSLRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSSLRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetSSLRequest) QueryString(queryString string) ApiGetSSLRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetSSLRequest) PageReturned(pageReturned int32) ApiGetSSLRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetSSLRequest) ReturnLimit(returnLimit int32) ApiGetSSLRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetSSLRequest) SortField(sortField string) ApiGetSSLRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetSSLRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetSSLRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSSLRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSSLRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSSLRequest) Execute() ([]CSSCMSDataModelModelsSSLSslScanResult, *http.Response, error) {
	return r.ApiService.GetSSLExecute(r)
}

/*
GetSSL Returns a list of the endpoint scan results according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSSLRequest
*/
func (a *SslApiService) BuildGetSSLRequest(ctx context.Context) ApiGetSSLRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSSLRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /SSL
//
//	@return []CSSCMSDataModelModelsSSLSslScanResult
func (a *SslApiService) GetSSLExecute(r ApiGetSSLRequest) ([]CSSCMSDataModelModelsSSLSslScanResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CSSCMSDataModelModelsSSLSslScanResult
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /SSL/Endpoints/{id}
type ApiGetSSLEndpointsByIdRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	id                      string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSSLEndpointsByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSSLEndpointsByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSSLEndpointsByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSSLEndpointsByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSSLEndpointsByIdRequest) Execute() (*CSSCMSDataModelModelsSSLEndpoint, *http.Response, error) {
	return r.ApiService.GetSSLEndpointsByIdExecute(r)
}

/*
GetSSLEndpointsById Returns the details of the associated scanning endpoint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor identifier of the endpoint
	@return ApiGetSSLEndpointsByIdRequest
*/
func (a *SslApiService) BuildGetSSLEndpointsByIdRequest(ctx context.Context, id string) ApiGetSSLEndpointsByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSSLEndpointsByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /SSL/Endpoints/{id}
//
//	@return CSSCMSDataModelModelsSSLEndpoint
func (a *SslApiService) GetSSLEndpointsByIdExecute(r ApiGetSSLEndpointsByIdRequest) (*CSSCMSDataModelModelsSSLEndpoint, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsSSLEndpoint
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Endpoints/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /SSL/Endpoints/{id}/History
type ApiGetSSLEndpointsByIdHistoryRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	id                      string
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSSLEndpointsByIdHistoryRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSSLEndpointsByIdHistoryRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetSSLEndpointsByIdHistoryRequest) QueryString(queryString string) ApiGetSSLEndpointsByIdHistoryRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetSSLEndpointsByIdHistoryRequest) PageReturned(pageReturned int32) ApiGetSSLEndpointsByIdHistoryRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetSSLEndpointsByIdHistoryRequest) ReturnLimit(returnLimit int32) ApiGetSSLEndpointsByIdHistoryRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetSSLEndpointsByIdHistoryRequest) SortField(sortField string) ApiGetSSLEndpointsByIdHistoryRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetSSLEndpointsByIdHistoryRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetSSLEndpointsByIdHistoryRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSSLEndpointsByIdHistoryRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSSLEndpointsByIdHistoryRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSSLEndpointsByIdHistoryRequest) Execute() ([]CSSCMSDataModelModelsSSLEndpointHistoryResponse, *http.Response, error) {
	return r.ApiService.GetSSLEndpointsByIdHistoryExecute(r)
}

/*
GetSSLEndpointsByIdHistory Returns a list of the scan results for the provided endpoint according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor identifier of the endpoint
	@return ApiGetSSLEndpointsByIdHistoryRequest
*/
func (a *SslApiService) BuildGetSSLEndpointsByIdHistoryRequest(ctx context.Context, id string) ApiGetSSLEndpointsByIdHistoryRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSSLEndpointsByIdHistoryRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /SSL/Endpoints/{id}/History
//
//	@return []CSSCMSDataModelModelsSSLEndpointHistoryResponse
func (a *SslApiService) GetSSLEndpointsByIdHistoryExecute(r ApiGetSSLEndpointsByIdHistoryRequest) ([]CSSCMSDataModelModelsSSLEndpointHistoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CSSCMSDataModelModelsSSLEndpointHistoryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Endpoints/{id}/History"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /SSL/NetworkRanges/{id}
type ApiGetSSLNetworkRangesByIdRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	id                      string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSSLNetworkRangesByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSSLNetworkRangesByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSSLNetworkRangesByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSSLNetworkRangesByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSSLNetworkRangesByIdRequest) Execute() ([]CSSCMSDataModelModelsSSLNetworkDefinition, *http.Response, error) {
	return r.ApiService.GetSSLNetworkRangesByIdExecute(r)
}

/*
GetSSLNetworkRangesById Returns the network range definitions for the provided network definition

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor network identifier
	@return ApiGetSSLNetworkRangesByIdRequest
*/
func (a *SslApiService) BuildGetSSLNetworkRangesByIdRequest(ctx context.Context, id string) ApiGetSSLNetworkRangesByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSSLNetworkRangesByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /SSL/NetworkRanges/{id}
//
//	@return []CSSCMSDataModelModelsSSLNetworkDefinition
func (a *SslApiService) GetSSLNetworkRangesByIdExecute(r ApiGetSSLNetworkRangesByIdRequest) ([]CSSCMSDataModelModelsSSLNetworkDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CSSCMSDataModelModelsSSLNetworkDefinition
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/NetworkRanges/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /SSL/Networks
type ApiGetSSLNetworksRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSSLNetworksRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSSLNetworksRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Contents of the query (ex: field1 -eq value1 AND field2 -gt value2)
func (r ApiGetSSLNetworksRequest) QueryString(queryString string) ApiGetSSLNetworksRequest {
	r.queryString = &queryString
	return r
}

// The current page within the result set to be returned
func (r ApiGetSSLNetworksRequest) PageReturned(pageReturned int32) ApiGetSSLNetworksRequest {
	r.pageReturned = &pageReturned
	return r
}

// Maximum number of records to be returned in a single call
func (r ApiGetSSLNetworksRequest) ReturnLimit(returnLimit int32) ApiGetSSLNetworksRequest {
	r.returnLimit = &returnLimit
	return r
}

// Field by which the results should be sorted (view results via Management Portal for sortable columns)
func (r ApiGetSSLNetworksRequest) SortField(sortField string) ApiGetSSLNetworksRequest {
	r.sortField = &sortField
	return r
}

// Field sort direction [0&#x3D;ascending, 1&#x3D;descending]
func (r ApiGetSSLNetworksRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetSSLNetworksRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSSLNetworksRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSSLNetworksRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSSLNetworksRequest) Execute() ([]SslNetworkQueryResponse, *http.Response, error) {
	return r.ApiService.GetSSLNetworksExecute(r)
}

/*
GetSSLNetworks Returns all defined SSL networks according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSSLNetworksRequest
*/
func (a *SslApiService) BuildGetSSLNetworksRequest(ctx context.Context) ApiGetSSLNetworksRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSSLNetworksRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /SSL/Networks
//
//	@return []SslNetworkQueryResponse
func (a *SslApiService) GetSSLNetworksExecute(r ApiGetSSLNetworksRequest) ([]SslNetworkQueryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SslNetworkQueryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Networks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /SSL/Networks/{id}/Parts
type ApiGetSSLNetworksByIdPartsRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	id                      string
	xKeyfactorRequestedWith *string
	jobType                 *KeyfactorOrchestratorsCommonEnumsSslJobType
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSSLNetworksByIdPartsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSSLNetworksByIdPartsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetSSLNetworksByIdPartsRequest) JobType(jobType KeyfactorOrchestratorsCommonEnumsSslJobType) ApiGetSSLNetworksByIdPartsRequest {
	r.jobType = &jobType
	return r
}

func (r ApiGetSSLNetworksByIdPartsRequest) QueryString(queryString string) ApiGetSSLNetworksByIdPartsRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetSSLNetworksByIdPartsRequest) PageReturned(pageReturned int32) ApiGetSSLNetworksByIdPartsRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetSSLNetworksByIdPartsRequest) ReturnLimit(returnLimit int32) ApiGetSSLNetworksByIdPartsRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetSSLNetworksByIdPartsRequest) SortField(sortField string) ApiGetSSLNetworksByIdPartsRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetSSLNetworksByIdPartsRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetSSLNetworksByIdPartsRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSSLNetworksByIdPartsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSSLNetworksByIdPartsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSSLNetworksByIdPartsRequest) Execute() ([]CSSCMSDataModelModelsSSLDisplayScanJobPart, *http.Response, error) {
	return r.ApiService.GetSSLNetworksByIdPartsExecute(r)
}

/*
GetSSLNetworksByIdParts Returns the scan job components comprising the entire scan job to be executed

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor network definition identifier
	@return ApiGetSSLNetworksByIdPartsRequest
*/
func (a *SslApiService) BuildGetSSLNetworksByIdPartsRequest(ctx context.Context, id string) ApiGetSSLNetworksByIdPartsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSSLNetworksByIdPartsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /SSL/Networks/{id}/Parts
//
//	@return []CSSCMSDataModelModelsSSLDisplayScanJobPart
func (a *SslApiService) GetSSLNetworksByIdPartsExecute(r ApiGetSSLNetworksByIdPartsRequest) ([]CSSCMSDataModelModelsSSLDisplayScanJobPart, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CSSCMSDataModelModelsSSLDisplayScanJobPart
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Networks/{id}/Parts"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.jobType != nil {
		parameterAddToQuery(localVarQueryParams, "JobType", r.jobType, "")
	}
	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /SSL/Networks/{identifier}
type ApiGetSSLNetworksIdentifierRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	identifier              string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSSLNetworksIdentifierRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSSLNetworksIdentifierRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSSLNetworksIdentifierRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSSLNetworksIdentifierRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSSLNetworksIdentifierRequest) Execute() (*SslNetworkResponse, *http.Response, error) {
	return r.ApiService.GetSSLNetworksIdentifierExecute(r)
}

/*
GetSSLNetworksIdentifier Returns a defined SSL network according to the provided name

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param identifier Identifier (Guid or Name) of the defined network
	@return ApiGetSSLNetworksIdentifierRequest
*/
func (a *SslApiService) BuildGetSSLNetworksIdentifierRequest(ctx context.Context, identifier string) ApiGetSSLNetworksIdentifierRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSSLNetworksIdentifierRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		identifier: identifier,
	}
}

// Executes the API request GET /SSL/Networks/{identifier}
//
//	@return SslNetworkResponse
func (a *SslApiService) GetSSLNetworksIdentifierExecute(r ApiGetSSLNetworksIdentifierRequest) (*SslNetworkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SslNetworkResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Networks/{identifier}"
	localVarPath = strings.Replace(localVarPath, "{"+"identifier"+"}", url.PathEscape(parameterValueToString(r.identifier, "identifier")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /SSL/Parts/{id}
type ApiGetSSLPartsByIdRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	id                      string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSSLPartsByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSSLPartsByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSSLPartsByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSSLPartsByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSSLPartsByIdRequest) Execute() (*CSSCMSDataModelModelsSSLScanJobPart, *http.Response, error) {
	return r.ApiService.GetSSLPartsByIdExecute(r)
}

/*
GetSSLPartsById Returns the execution details of the associated network scan job part

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor identifier of the scan job part
	@return ApiGetSSLPartsByIdRequest
*/
func (a *SslApiService) BuildGetSSLPartsByIdRequest(ctx context.Context, id string) ApiGetSSLPartsByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSSLPartsByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /SSL/Parts/{id}
//
//	@return CSSCMSDataModelModelsSSLScanJobPart
func (a *SslApiService) GetSSLPartsByIdExecute(r ApiGetSSLPartsByIdRequest) (*CSSCMSDataModelModelsSSLScanJobPart, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsSSLScanJobPart
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Parts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for PUT /SSL/Endpoints/MonitorAll
type ApiUpdateSSLEndpointsMonitorAllRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	xKeyfactorRequestedWith *string
	query                   *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateSSLEndpointsMonitorAllRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateSSLEndpointsMonitorAllRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Query to filter the endpoints for which the status should be set
func (r ApiUpdateSSLEndpointsMonitorAllRequest) Query(query string) ApiUpdateSSLEndpointsMonitorAllRequest {
	r.query = &query
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateSSLEndpointsMonitorAllRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateSSLEndpointsMonitorAllRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiUpdateSSLEndpointsMonitorAllRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateSSLEndpointsMonitorAllExecute(r)
}

/*
UpdateSSLEndpointsMonitorAll Sets all endpoints matching the provided query as 'monitored'

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateSSLEndpointsMonitorAllRequest
*/
func (a *SslApiService) BuildUpdateSSLEndpointsMonitorAllRequest(ctx context.Context) ApiUpdateSSLEndpointsMonitorAllRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateSSLEndpointsMonitorAllRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *SslApiService) UpdateSSLEndpointsMonitorAllExecute(r ApiUpdateSSLEndpointsMonitorAllRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Endpoints/MonitorAll"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.query != nil {
		parameterAddToQuery(localVarQueryParams, "query", r.query, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for PUT /SSL/Endpoints/MonitorStatus
type ApiUpdateSSLEndpointsMonitorStatusRequest struct {
	ctx                                           context.Context
	ApiService                                    *SslApiService
	xKeyfactorRequestedWith                       *string
	xKeyfactorApiVersion                          *string
	cSSCMSDataModelModelsSSLEndpointStatusRequest *[]CSSCMSDataModelModelsSSLEndpointStatusRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateSSLEndpointsMonitorStatusRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateSSLEndpointsMonitorStatusRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateSSLEndpointsMonitorStatusRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateSSLEndpointsMonitorStatusRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Endpoints and statuses to be set for each
func (r ApiUpdateSSLEndpointsMonitorStatusRequest) CSSCMSDataModelModelsSSLEndpointStatusRequest(cSSCMSDataModelModelsSSLEndpointStatusRequest []CSSCMSDataModelModelsSSLEndpointStatusRequest) ApiUpdateSSLEndpointsMonitorStatusRequest {
	r.cSSCMSDataModelModelsSSLEndpointStatusRequest = &cSSCMSDataModelModelsSSLEndpointStatusRequest
	return r
}

func (r ApiUpdateSSLEndpointsMonitorStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateSSLEndpointsMonitorStatusExecute(r)
}

/*
UpdateSSLEndpointsMonitorStatus Sets the monitored status according to the provided endpoint and boolean status

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateSSLEndpointsMonitorStatusRequest
*/
func (a *SslApiService) BuildUpdateSSLEndpointsMonitorStatusRequest(ctx context.Context) ApiUpdateSSLEndpointsMonitorStatusRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateSSLEndpointsMonitorStatusRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *SslApiService) UpdateSSLEndpointsMonitorStatusExecute(r ApiUpdateSSLEndpointsMonitorStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Endpoints/MonitorStatus"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsSSLEndpointStatusRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for PUT /SSL/Endpoints/ReviewAll
type ApiUpdateSSLEndpointsReviewAllRequest struct {
	ctx                     context.Context
	ApiService              *SslApiService
	xKeyfactorRequestedWith *string
	query                   *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateSSLEndpointsReviewAllRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateSSLEndpointsReviewAllRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Query to filter the endpoints for which the status should be set
func (r ApiUpdateSSLEndpointsReviewAllRequest) Query(query string) ApiUpdateSSLEndpointsReviewAllRequest {
	r.query = &query
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateSSLEndpointsReviewAllRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateSSLEndpointsReviewAllRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiUpdateSSLEndpointsReviewAllRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateSSLEndpointsReviewAllExecute(r)
}

/*
UpdateSSLEndpointsReviewAll Sets all endpoints matching the provided query as 'reviewed'

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateSSLEndpointsReviewAllRequest
*/
func (a *SslApiService) BuildUpdateSSLEndpointsReviewAllRequest(ctx context.Context) ApiUpdateSSLEndpointsReviewAllRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateSSLEndpointsReviewAllRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *SslApiService) UpdateSSLEndpointsReviewAllExecute(r ApiUpdateSSLEndpointsReviewAllRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Endpoints/ReviewAll"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.query != nil {
		parameterAddToQuery(localVarQueryParams, "query", r.query, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for PUT /SSL/Endpoints/ReviewStatus
type ApiUpdateSSLEndpointsReviewStatusRequest struct {
	ctx                                           context.Context
	ApiService                                    *SslApiService
	xKeyfactorRequestedWith                       *string
	xKeyfactorApiVersion                          *string
	cSSCMSDataModelModelsSSLEndpointStatusRequest *[]CSSCMSDataModelModelsSSLEndpointStatusRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateSSLEndpointsReviewStatusRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateSSLEndpointsReviewStatusRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateSSLEndpointsReviewStatusRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateSSLEndpointsReviewStatusRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Endpoints and statuses for each
func (r ApiUpdateSSLEndpointsReviewStatusRequest) CSSCMSDataModelModelsSSLEndpointStatusRequest(cSSCMSDataModelModelsSSLEndpointStatusRequest []CSSCMSDataModelModelsSSLEndpointStatusRequest) ApiUpdateSSLEndpointsReviewStatusRequest {
	r.cSSCMSDataModelModelsSSLEndpointStatusRequest = &cSSCMSDataModelModelsSSLEndpointStatusRequest
	return r
}

func (r ApiUpdateSSLEndpointsReviewStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateSSLEndpointsReviewStatusExecute(r)
}

/*
UpdateSSLEndpointsReviewStatus Sets the reviewed status according to the provided endpoint and boolean status

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateSSLEndpointsReviewStatusRequest
*/
func (a *SslApiService) BuildUpdateSSLEndpointsReviewStatusRequest(ctx context.Context) ApiUpdateSSLEndpointsReviewStatusRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateSSLEndpointsReviewStatusRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *SslApiService) UpdateSSLEndpointsReviewStatusExecute(r ApiUpdateSSLEndpointsReviewStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/SSL/Endpoints/ReviewStatus"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsSSLEndpointStatusRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for PUT /SSL/NetworkRanges
type ApiUpdateSSLNetworkRangesRequest struct {
	ctx                                          context.Context
	ApiService                                   *SslApiService
	xKeyfactorRequestedWith                      *string
	xKeyfactorApiVersion                         *string
	cSSCMSDataModelModelsSSLNetworkRangesRequest *CSSCMSDataModelModelsSSLNetworkRangesRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateSSLNetworkRangesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateSSLNetworkRangesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateSSLNetworkRangesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateSSLNetworkRangesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Network range defitions and the network to which they should be set
func (r ApiUpdateSSLNetworkRangesRequest) CSSCMSDataModelModelsSSLNetworkRangesRequest(cSSCMSDataModelModelsSSLNetworkRangesRequest CSSCMSDataModelModelsSSLNetworkRangesRequest) ApiUpdateSSLNetworkRangesRequest {
	r.cSSCMSDataModelModelsSSLNetworkRangesRequest = &cSSCMSDataModelModelsSSLNetworkRangesRequest
	return r
}

func (r ApiUpdateSSLNetworkRangesRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateSSLNetworkRangesExecute(r)
}

/*
UpdateSSLNetworkRanges Configures network range definitions for the provided network

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateSSLNetworkRangesRequest
*/
func (a *SslApiService) BuildUpdateSSLNetworkRangesRequest(ctx context.Context) ApiUpdateSSLNetworkRangesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateSSLNetworkRangesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *SslApiService) UpdateSSLNetworkRangesExecute(r ApiUpdateSSLNetworkRangesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

[...]
