/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 24.4.2

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// OrchestratorJobApiService OrchestratorJobApi service
type OrchestratorJobApiService service

// Request for POST /OrchestratorJobs/Acknowledge
type ApiCreateOrchestratorJobsAcknowledgeRequest struct {
	ctx                                   context.Context
	ApiService                            *OrchestratorJobApiService
	xKeyfactorRequestedWith               *string
	xKeyfactorApiVersion                  *string
	orchestratorJobsAcknowledgeJobRequest *OrchestratorJobsAcknowledgeJobRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateOrchestratorJobsAcknowledgeRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateOrchestratorJobsAcknowledgeRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateOrchestratorJobsAcknowledgeRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateOrchestratorJobsAcknowledgeRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information to identify the jobs to acknowledge, either a query or a list of job identifiers
func (r ApiCreateOrchestratorJobsAcknowledgeRequest) OrchestratorJobsAcknowledgeJobRequest(orchestratorJobsAcknowledgeJobRequest OrchestratorJobsAcknowledgeJobRequest) ApiCreateOrchestratorJobsAcknowledgeRequest {
	r.orchestratorJobsAcknowledgeJobRequest = &orchestratorJobsAcknowledgeJobRequest
	return r
}

func (r ApiCreateOrchestratorJobsAcknowledgeRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateOrchestratorJobsAcknowledgeExecute(r)
}

/*
CreateOrchestratorJobsAcknowledge Acknowledges orchestrator jobs based on the provided information

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateOrchestratorJobsAcknowledgeRequest
*/
func (a *OrchestratorJobApiService) NewCreateOrchestratorJobsAcknowledgeRequest(ctx context.Context) ApiCreateOrchestratorJobsAcknowledgeRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateOrchestratorJobsAcknowledgeRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *OrchestratorJobApiService) CreateOrchestratorJobsAcknowledgeExecute(r ApiCreateOrchestratorJobsAcknowledgeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/OrchestratorJobs/Acknowledge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.orchestratorJobsAcknowledgeJobRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for POST /OrchestratorJobs/Custom
type ApiCreateOrchestratorJobsCustomRequest struct {
	ctx                                                     context.Context
	ApiService                                              *OrchestratorJobApiService
	xKeyfactorRequestedWith                                 *string
	xKeyfactorApiVersion                                    *string
	cSSCMSDataModelModelsOrchestratorJobsScheduleJobRequest *CSSCMSDataModelModelsOrchestratorJobsScheduleJobRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateOrchestratorJobsCustomRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateOrchestratorJobsCustomRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateOrchestratorJobsCustomRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateOrchestratorJobsCustomRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information to use to schedule the job, including the type of custom job, agent to use, and job-specific parameters.
func (r ApiCreateOrchestratorJobsCustomRequest) CSSCMSDataModelModelsOrchestratorJobsScheduleJobRequest(cSSCMSDataModelModelsOrchestratorJobsScheduleJobRequest CSSCMSDataModelModelsOrchestratorJobsScheduleJobRequest) ApiCreateOrchestratorJobsCustomRequest {
	r.cSSCMSDataModelModelsOrchestratorJobsScheduleJobRequest = &cSSCMSDataModelModelsOrchestratorJobsScheduleJobRequest
	return r
}

func (r ApiCreateOrchestratorJobsCustomRequest) Execute() (*OrchestratorJobsJobResponse, *http.Response, error) {
	return r.ApiService.CreateOrchestratorJobsCustomExecute(r)
}

/*
CreateOrchestratorJobsCustom Schedules a job for a custom JobType on the agent using the provided information

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateOrchestratorJobsCustomRequest
*/
func (a *OrchestratorJobApiService) NewCreateOrchestratorJobsCustomRequest(ctx context.Context) ApiCreateOrchestratorJobsCustomRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateOrchestratorJobsCustomRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /OrchestratorJobs/Custom
//
//	@return OrchestratorJobsJobResponse
func (a *OrchestratorJobApiService) CreateOrchestratorJobsCustomExecute(r ApiCreateOrchestratorJobsCustomRequest) (*OrchestratorJobsJobResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrchestratorJobsJobResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/OrchestratorJobs/Custom"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsOrchestratorJobsScheduleJobRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /OrchestratorJobs/Custom/Bulk
type ApiCreateOrchestratorJobsCustomBulkRequest struct {
	ctx                                                         context.Context
	ApiService                                                  *OrchestratorJobApiService
	xKeyfactorRequestedWith                                     *string
	xKeyfactorApiVersion                                        *string
	cSSCMSDataModelModelsOrchestratorJobsScheduleBulkJobRequest *CSSCMSDataModelModelsOrchestratorJobsScheduleBulkJobRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateOrchestratorJobsCustomBulkRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateOrchestratorJobsCustomBulkRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateOrchestratorJobsCustomBulkRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateOrchestratorJobsCustomBulkRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information to use to schedule the jobs, including the type of custom job, agents to use, and job-specific parameters.
func (r ApiCreateOrchestratorJobsCustomBulkRequest) CSSCMSDataModelModelsOrchestratorJobsScheduleBulkJobRequest(cSSCMSDataModelModelsOrchestratorJobsScheduleBulkJobRequest CSSCMSDataModelModelsOrchestratorJobsScheduleBulkJobRequest) ApiCreateOrchestratorJobsCustomBulkRequest {
	r.cSSCMSDataModelModelsOrchestratorJobsScheduleBulkJobRequest = &cSSCMSDataModelModelsOrchestratorJobsScheduleBulkJobRequest
	return r
}

func (r ApiCreateOrchestratorJobsCustomBulkRequest) Execute() (*OrchestratorJobsBulkJobResponse, *http.Response, error) {
	return r.ApiService.CreateOrchestratorJobsCustomBulkExecute(r)
}

/*
CreateOrchestratorJobsCustomBulk Schedules the same job for a custom JobType on the specified agents using the provided information

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateOrchestratorJobsCustomBulkRequest
*/
func (a *OrchestratorJobApiService) NewCreateOrchestratorJobsCustomBulkRequest(ctx context.Context) ApiCreateOrchestratorJobsCustomBulkRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateOrchestratorJobsCustomBulkRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /OrchestratorJobs/Custom/Bulk
//
//	@return OrchestratorJobsBulkJobResponse
func (a *OrchestratorJobApiService) CreateOrchestratorJobsCustomBulkExecute(r ApiCreateOrchestratorJobsCustomBulkRequest) (*OrchestratorJobsBulkJobResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrchestratorJobsBulkJobResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/OrchestratorJobs/Custom/Bulk"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsOrchestratorJobsScheduleBulkJobRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /OrchestratorJobs/Reschedule
type ApiCreateOrchestratorJobsRescheduleRequest struct {
	ctx                                  context.Context
	ApiService                           *OrchestratorJobApiService
	xKeyfactorRequestedWith              *string
	xKeyfactorApiVersion                 *string
	orchestratorJobsRescheduleJobRequest *OrchestratorJobsRescheduleJobRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateOrchestratorJobsRescheduleRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateOrchestratorJobsRescheduleRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateOrchestratorJobsRescheduleRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateOrchestratorJobsRescheduleRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information to identify the jobs to reschedule, either a query or a list of job identifiers
func (r ApiCreateOrchestratorJobsRescheduleRequest) OrchestratorJobsRescheduleJobRequest(orchestratorJobsRescheduleJobRequest OrchestratorJobsRescheduleJobRequest) ApiCreateOrchestratorJobsRescheduleRequest {
	r.orchestratorJobsRescheduleJobRequest = &orchestratorJobsRescheduleJobRequest
	return r
}

func (r ApiCreateOrchestratorJobsRescheduleRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateOrchestratorJobsRescheduleExecute(r)
}

/*
CreateOrchestratorJobsReschedule Reschedules orchestrator jobs based on the provided information

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateOrchestratorJobsRescheduleRequest
*/
func (a *OrchestratorJobApiService) NewCreateOrchestratorJobsRescheduleRequest(ctx context.Context) ApiCreateOrchestratorJobsRescheduleRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateOrchestratorJobsRescheduleRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *OrchestratorJobApiService) CreateOrchestratorJobsRescheduleExecute(r ApiCreateOrchestratorJobsRescheduleRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/OrchestratorJobs/Reschedule"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.orchestratorJobsRescheduleJobRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for POST /OrchestratorJobs/Unschedule
type ApiCreateOrchestratorJobsUnscheduleRequest struct {
	ctx                                  context.Context
	ApiService                           *OrchestratorJobApiService
	xKeyfactorRequestedWith              *string
	xKeyfactorApiVersion                 *string
	orchestratorJobsUnscheduleJobRequest *OrchestratorJobsUnscheduleJobRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateOrchestratorJobsUnscheduleRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateOrchestratorJobsUnscheduleRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateOrchestratorJobsUnscheduleRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateOrchestratorJobsUnscheduleRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information to identify the orchestrator jobs to unschedule, either a query or a list of job identifiers
func (r ApiCreateOrchestratorJobsUnscheduleRequest) OrchestratorJobsUnscheduleJobRequest(orchestratorJobsUnscheduleJobRequest OrchestratorJobsUnscheduleJobRequest) ApiCreateOrchestratorJobsUnscheduleRequest {
	r.orchestratorJobsUnscheduleJobRequest = &orchestratorJobsUnscheduleJobRequest
	return r
}

func (r ApiCreateOrchestratorJobsUnscheduleRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateOrchestratorJobsUnscheduleExecute(r)
}

/*
CreateOrchestratorJobsUnschedule Unschedules orchestrator jobs based on the provided information

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateOrchestratorJobsUnscheduleRequest
*/
func (a *OrchestratorJobApiService) NewCreateOrchestratorJobsUnscheduleRequest(ctx context.Context) ApiCreateOrchestratorJobsUnscheduleRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateOrchestratorJobsUnscheduleRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *OrchestratorJobApiService) CreateOrchestratorJobsUnscheduleExecute(r ApiCreateOrchestratorJobsUnscheduleRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/OrchestratorJobs/Unschedule"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.orchestratorJobsUnscheduleJobRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for GET /OrchestratorJobs/JobHistory
type ApiGetOrchestratorJobsJobHistoryRequest struct {
	ctx                     context.Context
	ApiService              *OrchestratorJobApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetOrchestratorJobsJobHistoryRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetOrchestratorJobsJobHistoryRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetOrchestratorJobsJobHistoryRequest) QueryString(queryString string) ApiGetOrchestratorJobsJobHistoryRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetOrchestratorJobsJobHistoryRequest) PageReturned(pageReturned int32) ApiGetOrchestratorJobsJobHistoryRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetOrchestratorJobsJobHistoryRequest) ReturnLimit(returnLimit int32) ApiGetOrchestratorJobsJobHistoryRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetOrchestratorJobsJobHistoryRequest) SortField(sortField string) ApiGetOrchestratorJobsJobHistoryRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetOrchestratorJobsJobHistoryRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetOrchestratorJobsJobHistoryRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetOrchestratorJobsJobHistoryRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetOrchestratorJobsJobHistoryRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetOrchestratorJobsJobHistoryRequest) Execute() ([]CertificateStoresJobHistoryResponse, *http.Response, error) {
	return r.ApiService.GetOrchestratorJobsJobHistoryExecute(r)
}

/*
GetOrchestratorJobsJobHistory Returns all histories of an orchestrator job according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetOrchestratorJobsJobHistoryRequest
*/
func (a *OrchestratorJobApiService) NewGetOrchestratorJobsJobHistoryRequest(ctx context.Context) ApiGetOrchestratorJobsJobHistoryRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetOrchestratorJobsJobHistoryRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /OrchestratorJobs/JobHistory
//
//	@return []CertificateStoresJobHistoryResponse
func (a *OrchestratorJobApiService) GetOrchestratorJobsJobHistoryExecute(r ApiGetOrchestratorJobsJobHistoryRequest) ([]CertificateStoresJobHistoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CertificateStoresJobHistoryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/OrchestratorJobs/JobHistory"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /OrchestratorJobs/JobStatus/Data
type ApiGetOrchestratorJobsJobStatusDataRequest struct {
	ctx                     context.Context
	ApiService              *OrchestratorJobApiService
	jobHistoryId            *int64
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Identifier of the job history record to retrieve
func (r ApiGetOrchestratorJobsJobStatusDataRequest) JobHistoryId(jobHistoryId int64) ApiGetOrchestratorJobsJobStatusDataRequest {
	r.jobHistoryId = &jobHistoryId
	return r
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetOrchestratorJobsJobStatusDataRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetOrchestratorJobsJobStatusDataRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetOrchestratorJobsJobStatusDataRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetOrchestratorJobsJobStatusDataRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetOrchestratorJobsJobStatusDataRequest) Execute() (*OrchestratorJobsCustomJobResultDataResponse, *http.Response, error) {
	return r.ApiService.GetOrchestratorJobsJobStatusDataExecute(r)
}

/*
GetOrchestratorJobsJobStatusData Retrieves the results of a custom job using the provided information

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetOrchestratorJobsJobStatusDataRequest
*/
func (a *OrchestratorJobApiService) NewGetOrchestratorJobsJobStatusDataRequest(ctx context.Context) ApiGetOrchestratorJobsJobStatusDataRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetOrchestratorJobsJobStatusDataRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /OrchestratorJobs/JobStatus/Data
//
//	@return OrchestratorJobsCustomJobResultDataResponse
func (a *OrchestratorJobApiService) GetOrchestratorJobsJobStatusDataExecute(r ApiGetOrchestratorJobsJobStatusDataRequest) (*OrchestratorJobsCustomJobResultDataResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrchestratorJobsCustomJobResultDataResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/OrchestratorJobs/JobStatus/Data"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.jobHistoryId == nil {
		return localVarReturnValue, nil, reportError("jobHistoryId is required and must be specified")
	}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	parameterAddToQuery(localVarQueryParams, "jobHistoryId", r.jobHistoryId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /OrchestratorJobs/ScheduledJobs
type ApiGetOrchestratorJobsScheduledJobsRequest struct {
	ctx                     context.Context
	ApiService              *OrchestratorJobApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetOrchestratorJobsScheduledJobsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetOrchestratorJobsScheduledJobsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetOrchestratorJobsScheduledJobsRequest) QueryString(queryString string) ApiGetOrchestratorJobsScheduledJobsRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetOrchestratorJobsScheduledJobsRequest) PageReturned(pageReturned int32) ApiGetOrchestratorJobsScheduledJobsRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetOrchestratorJobsScheduledJobsRequest) ReturnLimit(returnLimit int32) ApiGetOrchestratorJobsScheduledJobsRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetOrchestratorJobsScheduledJobsRequest) SortField(sortField string) ApiGetOrchestratorJobsScheduledJobsRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetOrchestratorJobsScheduledJobsRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetOrchestratorJobsScheduledJobsRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetOrchestratorJobsScheduledJobsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetOrchestratorJobsScheduledJobsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetOrchestratorJobsScheduledJobsRequest) Execute() ([]CSSCMSDataModelModelsOrchestratorJobsJob, *http.Response, error) {
	return r.ApiService.GetOrchestratorJobsScheduledJobsExecute(r)
}

/*
GetOrchestratorJobsScheduledJobs Returns all scheduled orchestrator jobs according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetOrchestratorJobsScheduledJobsRequest
*/
func (a *OrchestratorJobApiService) NewGetOrchestratorJobsScheduledJobsRequest(ctx context.Context) ApiGetOrchestratorJobsScheduledJobsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetOrchestratorJobsScheduledJobsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /OrchestratorJobs/ScheduledJobs
//
//	@return []CSSCMSDataModelModelsOrchestratorJobsJob
func (a *OrchestratorJobApiService) GetOrchestratorJobsScheduledJobsExecute(r ApiGetOrchestratorJobsScheduledJobsRequest) ([]CSSCMSDataModelModelsOrchestratorJobsJob, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CSSCMSDataModelModelsOrchestratorJobsJob
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/OrchestratorJobs/ScheduledJobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
