/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 24.4.2

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// KeyRotationAlertApiService KeyRotationAlertApi service
type KeyRotationAlertApiService service

// Request for POST /Alerts/KeyRotation
type ApiCreateAlertsKeyRotationRequest struct {
	ctx                                              context.Context
	ApiService                                       *KeyRotationAlertApiService
	xKeyfactorRequestedWith                          *string
	xKeyfactorApiVersion                             *string
	alertsKeyRotationKeyRotationAlertCreationRequest *AlertsKeyRotationKeyRotationAlertCreationRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateAlertsKeyRotationRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateAlertsKeyRotationRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateAlertsKeyRotationRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateAlertsKeyRotationRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information for the new alert
func (r ApiCreateAlertsKeyRotationRequest) AlertsKeyRotationKeyRotationAlertCreationRequest(alertsKeyRotationKeyRotationAlertCreationRequest AlertsKeyRotationKeyRotationAlertCreationRequest) ApiCreateAlertsKeyRotationRequest {
	r.alertsKeyRotationKeyRotationAlertCreationRequest = &alertsKeyRotationKeyRotationAlertCreationRequest
	return r
}

func (r ApiCreateAlertsKeyRotationRequest) Execute() (*AlertsKeyRotationKeyRotationAlertDefinitionResponse, *http.Response, error) {
	return r.ApiService.CreateAlertsKeyRotationExecute(r)
}

/*
CreateAlertsKeyRotation Add a key rotation alert

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateAlertsKeyRotationRequest
*/
func (a *KeyRotationAlertApiService) BuildCreateAlertsKeyRotationRequest(ctx context.Context) ApiCreateAlertsKeyRotationRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateAlertsKeyRotationRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Alerts/KeyRotation
//
//	@return AlertsKeyRotationKeyRotationAlertDefinitionResponse
func (a *KeyRotationAlertApiService) CreateAlertsKeyRotationExecute(r ApiCreateAlertsKeyRotationRequest) (*AlertsKeyRotationKeyRotationAlertDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlertsKeyRotationKeyRotationAlertDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Alerts/KeyRotation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.alertsKeyRotationKeyRotationAlertCreationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /Alerts/KeyRotation/Test
type ApiCreateAlertsKeyRotationTestRequest struct {
	ctx                                          context.Context
	ApiService                                   *KeyRotationAlertApiService
	xKeyfactorRequestedWith                      *string
	xKeyfactorApiVersion                         *string
	alertsKeyRotationKeyRotationAlertTestRequest *AlertsKeyRotationKeyRotationAlertTestRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateAlertsKeyRotationTestRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateAlertsKeyRotationTestRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateAlertsKeyRotationTestRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateAlertsKeyRotationTestRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Parameters used to test the alert
func (r ApiCreateAlertsKeyRotationTestRequest) AlertsKeyRotationKeyRotationAlertTestRequest(alertsKeyRotationKeyRotationAlertTestRequest AlertsKeyRotationKeyRotationAlertTestRequest) ApiCreateAlertsKeyRotationTestRequest {
	r.alertsKeyRotationKeyRotationAlertTestRequest = &alertsKeyRotationKeyRotationAlertTestRequest
	return r
}

func (r ApiCreateAlertsKeyRotationTestRequest) Execute() (*AlertsKeyRotationKeyRotationAlertTestResponse, *http.Response, error) {
	return r.ApiService.CreateAlertsKeyRotationTestExecute(r)
}

/*
CreateAlertsKeyRotationTest Test An Alert

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateAlertsKeyRotationTestRequest

Deprecated
*/
func (a *KeyRotationAlertApiService) BuildCreateAlertsKeyRotationTestRequest(ctx context.Context) ApiCreateAlertsKeyRotationTestRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateAlertsKeyRotationTestRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Alerts/KeyRotation/Test
//
//	@return AlertsKeyRotationKeyRotationAlertTestResponse
//
// Deprecated
func (a *KeyRotationAlertApiService) CreateAlertsKeyRotationTestExecute(r ApiCreateAlertsKeyRotationTestRequest) (*AlertsKeyRotationKeyRotationAlertTestResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlertsKeyRotationKeyRotationAlertTestResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Alerts/KeyRotation/Test"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.alertsKeyRotationKeyRotationAlertTestRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /Alerts/KeyRotation/TestAll
type ApiCreateAlertsKeyRotationTestAllRequest struct {
	ctx                                             context.Context
	ApiService                                      *KeyRotationAlertApiService
	xKeyfactorRequestedWith                         *string
	xKeyfactorApiVersion                            *string
	alertsKeyRotationKeyRotationAlertTestAllRequest *AlertsKeyRotationKeyRotationAlertTestAllRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateAlertsKeyRotationTestAllRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateAlertsKeyRotationTestAllRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateAlertsKeyRotationTestAllRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateAlertsKeyRotationTestAllRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information about the key rotation alert test
func (r ApiCreateAlertsKeyRotationTestAllRequest) AlertsKeyRotationKeyRotationAlertTestAllRequest(alertsKeyRotationKeyRotationAlertTestAllRequest AlertsKeyRotationKeyRotationAlertTestAllRequest) ApiCreateAlertsKeyRotationTestAllRequest {
	r.alertsKeyRotationKeyRotationAlertTestAllRequest = &alertsKeyRotationKeyRotationAlertTestAllRequest
	return r
}

func (r ApiCreateAlertsKeyRotationTestAllRequest) Execute() (*AlertsKeyRotationKeyRotationAlertTestResponse, *http.Response, error) {
	return r.ApiService.CreateAlertsKeyRotationTestAllExecute(r)
}

/*
CreateAlertsKeyRotationTestAll Test All Alerts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateAlertsKeyRotationTestAllRequest

Deprecated
*/
func (a *KeyRotationAlertApiService) BuildCreateAlertsKeyRotationTestAllRequest(ctx context.Context) ApiCreateAlertsKeyRotationTestAllRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateAlertsKeyRotationTestAllRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Alerts/KeyRotation/TestAll
//
//	@return AlertsKeyRotationKeyRotationAlertTestResponse
//
// Deprecated
func (a *KeyRotationAlertApiService) CreateAlertsKeyRotationTestAllExecute(r ApiCreateAlertsKeyRotationTestAllRequest) (*AlertsKeyRotationKeyRotationAlertTestResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlertsKeyRotationKeyRotationAlertTestResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Alerts/KeyRotation/TestAll"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.alertsKeyRotationKeyRotationAlertTestAllRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for DELETE /Alerts/KeyRotation/{id}
type ApiDeleteAlertsKeyRotationByIdRequest struct {
	ctx                     context.Context
	ApiService              *KeyRotationAlertApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteAlertsKeyRotationByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteAlertsKeyRotationByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteAlertsKeyRotationByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteAlertsKeyRotationByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiDeleteAlertsKeyRotationByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteAlertsKeyRotationByIdExecute(r)
}

/*
DeleteAlertsKeyRotationById Delete a key rotation alert

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Id for the key rotation alert
	@return ApiDeleteAlertsKeyRotationByIdRequest
*/
func (a *KeyRotationAlertApiService) BuildDeleteAlertsKeyRotationByIdRequest(ctx context.Context, id int32) ApiDeleteAlertsKeyRotationByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteAlertsKeyRotationByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *KeyRotationAlertApiService) DeleteAlertsKeyRotationByIdExecute(r ApiDeleteAlertsKeyRotationByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Alerts/KeyRotation/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for GET /Alerts/KeyRotation
type ApiGetAlertsKeyRotationRequest struct {
	ctx                     context.Context
	ApiService              *KeyRotationAlertApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAlertsKeyRotationRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAlertsKeyRotationRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetAlertsKeyRotationRequest) QueryString(queryString string) ApiGetAlertsKeyRotationRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetAlertsKeyRotationRequest) PageReturned(pageReturned int32) ApiGetAlertsKeyRotationRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetAlertsKeyRotationRequest) ReturnLimit(returnLimit int32) ApiGetAlertsKeyRotationRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetAlertsKeyRotationRequest) SortField(sortField string) ApiGetAlertsKeyRotationRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetAlertsKeyRotationRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetAlertsKeyRotationRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAlertsKeyRotationRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAlertsKeyRotationRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetAlertsKeyRotationRequest) Execute() ([]AlertsKeyRotationKeyRotationAlertDefinitionResponse, *http.Response, error) {
	return r.ApiService.GetAlertsKeyRotationExecute(r)
}

/*
GetAlertsKeyRotation Gets all key rotation alerts according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAlertsKeyRotationRequest
*/
func (a *KeyRotationAlertApiService) BuildGetAlertsKeyRotationRequest(ctx context.Context) ApiGetAlertsKeyRotationRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAlertsKeyRotationRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /Alerts/KeyRotation
//
//	@return []AlertsKeyRotationKeyRotationAlertDefinitionResponse
func (a *KeyRotationAlertApiService) GetAlertsKeyRotationExecute(r ApiGetAlertsKeyRotationRequest) ([]AlertsKeyRotationKeyRotationAlertDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AlertsKeyRotationKeyRotationAlertDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Alerts/KeyRotation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Alerts/KeyRotation/{id}
type ApiGetAlertsKeyRotationByIdRequest struct {
	ctx                     context.Context
	ApiService              *KeyRotationAlertApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAlertsKeyRotationByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAlertsKeyRotationByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAlertsKeyRotationByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAlertsKeyRotationByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetAlertsKeyRotationByIdRequest) Execute() (*AlertsKeyRotationKeyRotationAlertDefinitionResponse, *http.Response, error) {
	return r.ApiService.GetAlertsKeyRotationByIdExecute(r)
}

/*
GetAlertsKeyRotationById Get a key rotation alert

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Id for the key rotation alert to get
	@return ApiGetAlertsKeyRotationByIdRequest
*/
func (a *KeyRotationAlertApiService) BuildGetAlertsKeyRotationByIdRequest(ctx context.Context, id int32) ApiGetAlertsKeyRotationByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAlertsKeyRotationByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /Alerts/KeyRotation/{id}
//
//	@return AlertsKeyRotationKeyRotationAlertDefinitionResponse
func (a *KeyRotationAlertApiService) GetAlertsKeyRotationByIdExecute(r ApiGetAlertsKeyRotationByIdRequest) (*AlertsKeyRotationKeyRotationAlertDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlertsKeyRotationKeyRotationAlertDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Alerts/KeyRotation/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Alerts/KeyRotation/Schedule
type ApiGetAlertsKeyRotationScheduleRequest struct {
	ctx                     context.Context
	ApiService              *KeyRotationAlertApiService
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAlertsKeyRotationScheduleRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAlertsKeyRotationScheduleRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAlertsKeyRotationScheduleRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAlertsKeyRotationScheduleRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetAlertsKeyRotationScheduleRequest) Execute() (*AlertsAlertScheduleAlertScheduleResponse, *http.Response, error) {
	return r.ApiService.GetAlertsKeyRotationScheduleExecute(r)
}

/*
GetAlertsKeyRotationSchedule Get the schedule for key rotation alerts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAlertsKeyRotationScheduleRequest
*/
func (a *KeyRotationAlertApiService) BuildGetAlertsKeyRotationScheduleRequest(ctx context.Context) ApiGetAlertsKeyRotationScheduleRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAlertsKeyRotationScheduleRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /Alerts/KeyRotation/Schedule
//
//	@return AlertsAlertScheduleAlertScheduleResponse
func (a *KeyRotationAlertApiService) GetAlertsKeyRotationScheduleExecute(r ApiGetAlertsKeyRotationScheduleRequest) (*AlertsAlertScheduleAlertScheduleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlertsAlertScheduleAlertScheduleResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Alerts/KeyRotation/Schedule"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for PUT /Alerts/KeyRotation
type ApiUpdateAlertsKeyRotationRequest struct {
	ctx                                            context.Context
	ApiService                                     *KeyRotationAlertApiService
	xKeyfactorRequestedWith                        *string
	xKeyfactorApiVersion                           *string
	alertsKeyRotationKeyRotationAlertUpdateRequest *AlertsKeyRotationKeyRotationAlertUpdateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateAlertsKeyRotationRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateAlertsKeyRotationRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateAlertsKeyRotationRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateAlertsKeyRotationRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information for the key rotation alert
func (r ApiUpdateAlertsKeyRotationRequest) AlertsKeyRotationKeyRotationAlertUpdateRequest(alertsKeyRotationKeyRotationAlertUpdateRequest AlertsKeyRotationKeyRotationAlertUpdateRequest) ApiUpdateAlertsKeyRotationRequest {
	r.alertsKeyRotationKeyRotationAlertUpdateRequest = &alertsKeyRotationKeyRotationAlertUpdateRequest
	return r
}

func (r ApiUpdateAlertsKeyRotationRequest) Execute() (*AlertsKeyRotationKeyRotationAlertDefinitionResponse, *http.Response, error) {
	return r.ApiService.UpdateAlertsKeyRotationExecute(r)
}

/*
UpdateAlertsKeyRotation Edit a key rotation alert

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateAlertsKeyRotationRequest
*/
func (a *KeyRotationAlertApiService) BuildUpdateAlertsKeyRotationRequest(ctx context.Context) ApiUpdateAlertsKeyRotationRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateAlertsKeyRotationRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request PUT /Alerts/KeyRotation
//
//	@return AlertsKeyRotationKeyRotationAlertDefinitionResponse
func (a *KeyRotationAlertApiService) UpdateAlertsKeyRotationExecute(r ApiUpdateAlertsKeyRotationRequest) (*AlertsKeyRotationKeyRotationAlertDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlertsKeyRotationKeyRotationAlertDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Alerts/KeyRotation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.alertsKeyRotationKeyRotationAlertUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for PUT /Alerts/KeyRotation/Schedule
type ApiUpdateAlertsKeyRotationScheduleRequest struct {
	ctx                                     context.Context
	ApiService                              *KeyRotationAlertApiService
	xKeyfactorRequestedWith                 *string
	xKeyfactorApiVersion                    *string
	alertsAlertScheduleAlertScheduleRequest *AlertsAlertScheduleAlertScheduleRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateAlertsKeyRotationScheduleRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateAlertsKeyRotationScheduleRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateAlertsKeyRotationScheduleRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateAlertsKeyRotationScheduleRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiUpdateAlertsKeyRotationScheduleRequest) AlertsAlertScheduleAlertScheduleRequest(alertsAlertScheduleAlertScheduleRequest AlertsAlertScheduleAlertScheduleRequest) ApiUpdateAlertsKeyRotationScheduleRequest {
	r.alertsAlertScheduleAlertScheduleRequest = &alertsAlertScheduleAlertScheduleRequest
	return r
}

func (r ApiUpdateAlertsKeyRotationScheduleRequest) Execute() (*AlertsAlertScheduleAlertScheduleResponse, *http.Response, error) {
	return r.ApiService.UpdateAlertsKeyRotationScheduleExecute(r)
}

/*
UpdateAlertsKeyRotationSchedule Edit schedule

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateAlertsKeyRotationScheduleRequest
*/
func (a *KeyRotationAlertApiService) BuildUpdateAlertsKeyRotationScheduleRequest(ctx context.Context) ApiUpdateAlertsKeyRotationScheduleRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateAlertsKeyRotationScheduleRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request PUT /Alerts/KeyRotation/Schedule
//
//	@return AlertsAlertScheduleAlertScheduleResponse
func (a *KeyRotationAlertApiService) UpdateAlertsKeyRotationScheduleExecute(r ApiUpdateAlertsKeyRotationScheduleRequest) (*AlertsAlertScheduleAlertScheduleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AlertsAlertScheduleAlertScheduleResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Alerts/KeyRotation/Schedule"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.alertsAlertScheduleAlertScheduleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
