/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 24.4.2

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// SecurityRolesApiService SecurityRolesApi service
type SecurityRolesApiService service

// Request for POST /Security/Roles
type ApiCreateSecurityRolesRequest struct {
	ctx                                                    context.Context
	ApiService                                             *SecurityRolesApiService
	xKeyfactorRequestedWith                                *string
	xKeyfactorApiVersion                                   *string
	securityLegacySecurityRolesSecurityRoleCreationRequest *SecurityLegacySecurityRolesSecurityRoleCreationRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateSecurityRolesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateSecurityRolesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateSecurityRolesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateSecurityRolesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Security Role Creation Request
func (r ApiCreateSecurityRolesRequest) SecurityLegacySecurityRolesSecurityRoleCreationRequest(securityLegacySecurityRolesSecurityRoleCreationRequest SecurityLegacySecurityRolesSecurityRoleCreationRequest) ApiCreateSecurityRolesRequest {
	r.securityLegacySecurityRolesSecurityRoleCreationRequest = &securityLegacySecurityRolesSecurityRoleCreationRequest
	return r
}

func (r ApiCreateSecurityRolesRequest) Execute() (*SecurityLegacySecurityRolesSecurityRoleResponse, *http.Response, error) {
	return r.ApiService.CreateSecurityRolesExecute(r)
}

/*
CreateSecurityRoles Adds a new security role to the system.  The v1 endpoints for Security Roles will only work against AD Identities.  Please use the v2 endpoints instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateSecurityRolesRequest

Deprecated
*/
func (a *SecurityRolesApiService) NewCreateSecurityRolesRequest(ctx context.Context) ApiCreateSecurityRolesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateSecurityRolesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Security/Roles
//
//	@return SecurityLegacySecurityRolesSecurityRoleResponse
//
// Deprecated
func (a *SecurityRolesApiService) CreateSecurityRolesExecute(r ApiCreateSecurityRolesRequest) (*SecurityLegacySecurityRolesSecurityRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SecurityLegacySecurityRolesSecurityRoleResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Roles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.securityLegacySecurityRolesSecurityRoleCreationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /Security/Roles/{id}/Copy
type ApiCreateSecurityRolesByIdCopyRequest struct {
	ctx                                                context.Context
	ApiService                                         *SecurityRolesApiService
	id                                                 int32
	xKeyfactorRequestedWith                            *string
	xKeyfactorApiVersion                               *string
	securityLegacySecurityRolesSecurityRoleCopyRequest *SecurityLegacySecurityRolesSecurityRoleCopyRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateSecurityRolesByIdCopyRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateSecurityRolesByIdCopyRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateSecurityRolesByIdCopyRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateSecurityRolesByIdCopyRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// New security role&#39;s name and description
func (r ApiCreateSecurityRolesByIdCopyRequest) SecurityLegacySecurityRolesSecurityRoleCopyRequest(securityLegacySecurityRolesSecurityRoleCopyRequest SecurityLegacySecurityRolesSecurityRoleCopyRequest) ApiCreateSecurityRolesByIdCopyRequest {
	r.securityLegacySecurityRolesSecurityRoleCopyRequest = &securityLegacySecurityRolesSecurityRoleCopyRequest
	return r
}

func (r ApiCreateSecurityRolesByIdCopyRequest) Execute() (*SecurityLegacySecurityRolesSecurityRoleResponse, *http.Response, error) {
	return r.ApiService.CreateSecurityRolesByIdCopyExecute(r)
}

/*
CreateSecurityRolesByIdCopy Makes a copy of an existing security role.  The v1 endpoints for Security Roles will only work against AD Identities.  Please use the v2 endpoints instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Security role identifier for target role to copy
	@return ApiCreateSecurityRolesByIdCopyRequest

Deprecated
*/
func (a *SecurityRolesApiService) NewCreateSecurityRolesByIdCopyRequest(ctx context.Context, id int32) ApiCreateSecurityRolesByIdCopyRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateSecurityRolesByIdCopyRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request POST /Security/Roles/{id}/Copy
//
//	@return SecurityLegacySecurityRolesSecurityRoleResponse
//
// Deprecated
func (a *SecurityRolesApiService) CreateSecurityRolesByIdCopyExecute(r ApiCreateSecurityRolesByIdCopyRequest) (*SecurityLegacySecurityRolesSecurityRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SecurityLegacySecurityRolesSecurityRoleResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Roles/{id}/Copy"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.securityLegacySecurityRolesSecurityRoleCopyRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for DELETE /Security/Roles/{id}
type ApiDeleteSecurityRolesByIdRequest struct {
	ctx                     context.Context
	ApiService              *SecurityRolesApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteSecurityRolesByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteSecurityRolesByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteSecurityRolesByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteSecurityRolesByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiDeleteSecurityRolesByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteSecurityRolesByIdExecute(r)
}

/*
DeleteSecurityRolesById Deletes the security role whose ID is provided.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Security role identifier
	@return ApiDeleteSecurityRolesByIdRequest
*/
func (a *SecurityRolesApiService) NewDeleteSecurityRolesByIdRequest(ctx context.Context, id int32) ApiDeleteSecurityRolesByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteSecurityRolesByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *SecurityRolesApiService) DeleteSecurityRolesByIdExecute(r ApiDeleteSecurityRolesByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Roles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for GET /Security/Roles
type ApiGetSecurityRolesRequest struct {
	ctx                     context.Context
	ApiService              *SecurityRolesApiService
	xKeyfactorRequestedWith *string
	validate                *bool
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSecurityRolesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSecurityRolesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetSecurityRolesRequest) Validate(validate bool) ApiGetSecurityRolesRequest {
	r.validate = &validate
	return r
}

func (r ApiGetSecurityRolesRequest) QueryString(queryString string) ApiGetSecurityRolesRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetSecurityRolesRequest) PageReturned(pageReturned int32) ApiGetSecurityRolesRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetSecurityRolesRequest) ReturnLimit(returnLimit int32) ApiGetSecurityRolesRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetSecurityRolesRequest) SortField(sortField string) ApiGetSecurityRolesRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetSecurityRolesRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetSecurityRolesRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSecurityRolesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSecurityRolesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSecurityRolesRequest) Execute() ([]SecurityLegacySecurityRolesSecurityRoleResponse, *http.Response, error) {
	return r.ApiService.GetSecurityRolesExecute(r)
}

/*
GetSecurityRoles Returns all security roles according to the provided filter and output parameters.  The v1 endpoints for Security Roles will only work against AD Identities.  Please use the v2 endpoints instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSecurityRolesRequest

Deprecated
*/
func (a *SecurityRolesApiService) NewGetSecurityRolesRequest(ctx context.Context) ApiGetSecurityRolesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSecurityRolesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /Security/Roles
//
//	@return []SecurityLegacySecurityRolesSecurityRoleResponse
//
// Deprecated
func (a *SecurityRolesApiService) GetSecurityRolesExecute(r ApiGetSecurityRolesRequest) ([]SecurityLegacySecurityRolesSecurityRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SecurityLegacySecurityRolesSecurityRoleResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Roles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.validate != nil {
		parameterAddToQuery(localVarQueryParams, "Validate", r.validate, "")
	}
	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Security/Roles/{id}
type ApiGetSecurityRolesByIdRequest struct {
	ctx                     context.Context
	ApiService              *SecurityRolesApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSecurityRolesByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSecurityRolesByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSecurityRolesByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSecurityRolesByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSecurityRolesByIdRequest) Execute() (*SecurityLegacySecurityRolesSecurityRoleResponse, *http.Response, error) {
	return r.ApiService.GetSecurityRolesByIdExecute(r)
}

/*
GetSecurityRolesById Returns a single security role that matches the id.  The v1 endpoints for Security Roles will only work against AD Identities.  Please use the v2 endpoints instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Security role identifier
	@return ApiGetSecurityRolesByIdRequest

Deprecated
*/
func (a *SecurityRolesApiService) NewGetSecurityRolesByIdRequest(ctx context.Context, id int32) ApiGetSecurityRolesByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSecurityRolesByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /Security/Roles/{id}
//
//	@return SecurityLegacySecurityRolesSecurityRoleResponse
//
// Deprecated
func (a *SecurityRolesApiService) GetSecurityRolesByIdExecute(r ApiGetSecurityRolesByIdRequest) (*SecurityLegacySecurityRolesSecurityRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SecurityLegacySecurityRolesSecurityRoleResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Roles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Security/Roles/{id}/Identities
type ApiGetSecurityRolesByIdIdentitiesRequest struct {
	ctx                     context.Context
	ApiService              *SecurityRolesApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetSecurityRolesByIdIdentitiesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetSecurityRolesByIdIdentitiesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetSecurityRolesByIdIdentitiesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetSecurityRolesByIdIdentitiesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetSecurityRolesByIdIdentitiesRequest) Execute() ([]SecurityLegacySecurityRolesRoleIdentitiesResponse, *http.Response, error) {
	return r.ApiService.GetSecurityRolesByIdIdentitiesExecute(r)
}

/*
GetSecurityRolesByIdIdentities Returns all identities which have the security role that matches the id.  The v1 endpoints for Security Roles will only work against AD Identities.  Please use the v2 endpoints instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Security role identifier
	@return ApiGetSecurityRolesByIdIdentitiesRequest

Deprecated
*/
func (a *SecurityRolesApiService) NewGetSecurityRolesByIdIdentitiesRequest(ctx context.Context, id int32) ApiGetSecurityRolesByIdIdentitiesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetSecurityRolesByIdIdentitiesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /Security/Roles/{id}/Identities
//
//	@return []SecurityLegacySecurityRolesRoleIdentitiesResponse
//
// Deprecated
func (a *SecurityRolesApiService) GetSecurityRolesByIdIdentitiesExecute(r ApiGetSecurityRolesByIdIdentitiesRequest) ([]SecurityLegacySecurityRolesRoleIdentitiesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SecurityLegacySecurityRolesRoleIdentitiesResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Roles/{id}/Identities"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for PUT /Security/Roles
type ApiUpdateSecurityRolesRequest struct {
	ctx                                                  context.Context
	ApiService                                           *SecurityRolesApiService
	xKeyfactorRequestedWith                              *string
	xKeyfactorApiVersion                                 *string
	securityLegacySecurityRolesSecurityRoleUpdateRequest *SecurityLegacySecurityRolesSecurityRoleUpdateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateSecurityRolesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateSecurityRolesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateSecurityRolesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateSecurityRolesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Security Update Request
func (r ApiUpdateSecurityRolesRequest) SecurityLegacySecurityRolesSecurityRoleUpdateRequest(securityLegacySecurityRolesSecurityRoleUpdateRequest SecurityLegacySecurityRolesSecurityRoleUpdateRequest) ApiUpdateSecurityRolesRequest {
	r.securityLegacySecurityRolesSecurityRoleUpdateRequest = &securityLegacySecurityRolesSecurityRoleUpdateRequest
	return r
}

func (r ApiUpdateSecurityRolesRequest) Execute() (*SecurityLegacySecurityRolesSecurityRoleResponse, *http.Response, error) {
	return r.ApiService.UpdateSecurityRolesExecute(r)
}

/*
UpdateSecurityRoles Updates a security role that matches the id.  The v1 endpoints for Security Roles will only work against AD Identities.  Please use the v2 endpoints instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUpdateSecurityRolesRequest

Deprecated
*/
func (a *SecurityRolesApiService) NewUpdateSecurityRolesRequest(ctx context.Context) ApiUpdateSecurityRolesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateSecurityRolesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request PUT /Security/Roles
//
//	@return SecurityLegacySecurityRolesSecurityRoleResponse
//
// Deprecated
func (a *SecurityRolesApiService) UpdateSecurityRolesExecute(r ApiUpdateSecurityRolesRequest) (*SecurityLegacySecurityRolesSecurityRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SecurityLegacySecurityRolesSecurityRoleResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Roles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.securityLegacySecurityRolesSecurityRoleUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for PUT /Security/Roles/{id}/Identities
type ApiUpdateSecurityRolesByIdIdentitiesRequest struct {
	ctx                                              context.Context
	ApiService                                       *SecurityRolesApiService
	id                                               int32
	xKeyfactorRequestedWith                          *string
	xKeyfactorApiVersion                             *string
	securityLegacySecurityRolesRoleIdentitiesRequest *SecurityLegacySecurityRolesRoleIdentitiesRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateSecurityRolesByIdIdentitiesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateSecurityRolesByIdIdentitiesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateSecurityRolesByIdIdentitiesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateSecurityRolesByIdIdentitiesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Role identities request object which contains a list of Identity IDs to remove or add to the role
func (r ApiUpdateSecurityRolesByIdIdentitiesRequest) SecurityLegacySecurityRolesRoleIdentitiesRequest(securityLegacySecurityRolesRoleIdentitiesRequest SecurityLegacySecurityRolesRoleIdentitiesRequest) ApiUpdateSecurityRolesByIdIdentitiesRequest {
	r.securityLegacySecurityRolesRoleIdentitiesRequest = &securityLegacySecurityRolesRoleIdentitiesRequest
	return r
}

func (r ApiUpdateSecurityRolesByIdIdentitiesRequest) Execute() ([]SecurityLegacySecurityRolesRoleIdentitiesResponse, *http.Response, error) {
	return r.ApiService.UpdateSecurityRolesByIdIdentitiesExecute(r)
}

/*
UpdateSecurityRolesByIdIdentities Updates the identities which have the security role that matches the id.  The v1 endpoints for Security Roles will only work against AD Identities.  Please use the v2 endpoints instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Security role identifier
	@return ApiUpdateSecurityRolesByIdIdentitiesRequest

Deprecated
*/
func (a *SecurityRolesApiService) NewUpdateSecurityRolesByIdIdentitiesRequest(ctx context.Context, id int32) ApiUpdateSecurityRolesByIdIdentitiesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdateSecurityRolesByIdIdentitiesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request PUT /Security/Roles/{id}/Identities
//
//	@return []SecurityLegacySecurityRolesRoleIdentitiesResponse
//
// Deprecated
func (a *SecurityRolesApiService) UpdateSecurityRolesByIdIdentitiesExecute(r ApiUpdateSecurityRolesByIdIdentitiesRequest) ([]SecurityLegacySecurityRolesRoleIdentitiesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SecurityLegacySecurityRolesRoleIdentitiesResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Security/Roles/{id}/Identities"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.securityLegacySecurityRolesRoleIdentitiesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
