/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 24.4.2

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// AgentBlueprintApiService AgentBlueprintApi service
type AgentBlueprintApiService service

// Request for POST /AgentBluePrint/ApplyBlueprint
type ApiCreateAgentBluePrintApplyBlueprintRequest struct {
	ctx                     context.Context
	ApiService              *AgentBlueprintApiService
	xKeyfactorRequestedWith *string
	templateId              *string
	xKeyfactorApiVersion    *string
	requestBody             *[]string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateAgentBluePrintApplyBlueprintRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateAgentBluePrintApplyBlueprintRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Agent blueprint to apply to the agents
func (r ApiCreateAgentBluePrintApplyBlueprintRequest) TemplateId(templateId string) ApiCreateAgentBluePrintApplyBlueprintRequest {
	r.templateId = &templateId
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateAgentBluePrintApplyBlueprintRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateAgentBluePrintApplyBlueprintRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Agents to apply the blueprints to
func (r ApiCreateAgentBluePrintApplyBlueprintRequest) RequestBody(requestBody []string) ApiCreateAgentBluePrintApplyBlueprintRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiCreateAgentBluePrintApplyBlueprintRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateAgentBluePrintApplyBlueprintExecute(r)
}

/*
CreateAgentBluePrintApplyBlueprint Applies the selected agent blueprint to the provided agents

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateAgentBluePrintApplyBlueprintRequest
*/
func (a *AgentBlueprintApiService) NewCreateAgentBluePrintApplyBlueprintRequest(ctx context.Context) ApiCreateAgentBluePrintApplyBlueprintRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateAgentBluePrintApplyBlueprintRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request
func (a *AgentBlueprintApiService) CreateAgentBluePrintApplyBlueprintExecute(r ApiCreateAgentBluePrintApplyBlueprintRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/AgentBluePrint/ApplyBlueprint"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.templateId != nil {
		parameterAddToQuery(localVarQueryParams, "templateId", r.templateId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for POST /AgentBluePrint/GenerateBluePrint
type ApiCreateAgentBluePrintGenerateBluePrintRequest struct {
	ctx                     context.Context
	ApiService              *AgentBlueprintApiService
	xKeyfactorRequestedWith *string
	agentId                 *string
	name                    *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateAgentBluePrintGenerateBluePrintRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateAgentBluePrintGenerateBluePrintRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Agent to generate a blueprint from
func (r ApiCreateAgentBluePrintGenerateBluePrintRequest) AgentId(agentId string) ApiCreateAgentBluePrintGenerateBluePrintRequest {
	r.agentId = &agentId
	return r
}

// Name of the new agent blueprint
func (r ApiCreateAgentBluePrintGenerateBluePrintRequest) Name(name string) ApiCreateAgentBluePrintGenerateBluePrintRequest {
	r.name = &name
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateAgentBluePrintGenerateBluePrintRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateAgentBluePrintGenerateBluePrintRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiCreateAgentBluePrintGenerateBluePrintRequest) Execute() (*OrchestratorsAgentBlueprintResponse, *http.Response, error) {
	return r.ApiService.CreateAgentBluePrintGenerateBluePrintExecute(r)
}

/*
CreateAgentBluePrintGenerateBluePrint Generates an agent blueprint from the provided agents

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateAgentBluePrintGenerateBluePrintRequest
*/
func (a *AgentBlueprintApiService) NewCreateAgentBluePrintGenerateBluePrintRequest(ctx context.Context) ApiCreateAgentBluePrintGenerateBluePrintRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateAgentBluePrintGenerateBluePrintRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /AgentBluePrint/GenerateBluePrint
//
//	@return OrchestratorsAgentBlueprintResponse
func (a *AgentBlueprintApiService) CreateAgentBluePrintGenerateBluePrintExecute(r ApiCreateAgentBluePrintGenerateBluePrintRequest) (*OrchestratorsAgentBlueprintResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrchestratorsAgentBlueprintResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/AgentBluePrint/GenerateBluePrint"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.agentId != nil {
		parameterAddToQuery(localVarQueryParams, "agentId", r.agentId, "")
	}
	if r.name != nil {
		parameterAddToQuery(localVarQueryParams, "name", r.name, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for DELETE /AgentBluePrint/{id}
type ApiDeleteAgentBluePrintByIdRequest struct {
	ctx                     context.Context
	ApiService              *AgentBlueprintApiService
	id                      string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeleteAgentBluePrintByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeleteAgentBluePrintByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeleteAgentBluePrintByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeleteAgentBluePrintByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiDeleteAgentBluePrintByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteAgentBluePrintByIdExecute(r)
}

/*
DeleteAgentBluePrintById Deletes an agent blueprint by its Keyfactor identifier

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Keyfactor agent blueprint identifier (GUID)
	@return ApiDeleteAgentBluePrintByIdRequest
*/
func (a *AgentBlueprintApiService) NewDeleteAgentBluePrintByIdRequest(ctx context.Context, id string) ApiDeleteAgentBluePrintByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeleteAgentBluePrintByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request
func (a *AgentBlueprintApiService) DeleteAgentBluePrintByIdExecute(r ApiDeleteAgentBluePrintByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/AgentBluePrint/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for GET /AgentBluePrint
type ApiGetAgentBluePrintRequest struct {
	ctx                     context.Context
	ApiService              *AgentBlueprintApiService
	xKeyfactorRequestedWith *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAgentBluePrintRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAgentBluePrintRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetAgentBluePrintRequest) PageReturned(pageReturned int32) ApiGetAgentBluePrintRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetAgentBluePrintRequest) ReturnLimit(returnLimit int32) ApiGetAgentBluePrintRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetAgentBluePrintRequest) SortField(sortField string) ApiGetAgentBluePrintRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetAgentBluePrintRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetAgentBluePrintRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAgentBluePrintRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAgentBluePrintRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetAgentBluePrintRequest) Execute() ([]OrchestratorsAgentBlueprintResponse, *http.Response, error) {
	return r.ApiService.GetAgentBluePrintExecute(r)
}

/*
GetAgentBluePrint Returns all agent blueprints according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAgentBluePrintRequest
*/
func (a *AgentBlueprintApiService) NewGetAgentBluePrintRequest(ctx context.Context) ApiGetAgentBluePrintRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAgentBluePrintRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /AgentBluePrint
//
//	@return []OrchestratorsAgentBlueprintResponse
func (a *AgentBlueprintApiService) GetAgentBluePrintExecute(r ApiGetAgentBluePrintRequest) ([]OrchestratorsAgentBlueprintResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []OrchestratorsAgentBlueprintResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/AgentBluePrint"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /AgentBluePrint/{id}
type ApiGetAgentBluePrintByIdRequest struct {
	ctx                     context.Context
	ApiService              *AgentBlueprintApiService
	id2                     string
	xKeyfactorRequestedWith *string
	id                      *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAgentBluePrintByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAgentBluePrintByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Returns a single agent blueprint associated with the provided id
func (r ApiGetAgentBluePrintByIdRequest) Id(id string) ApiGetAgentBluePrintByIdRequest {
	r.id = &id
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAgentBluePrintByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAgentBluePrintByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetAgentBluePrintByIdRequest) Execute() (*OrchestratorsAgentBlueprintResponse, *http.Response, error) {
	return r.ApiService.GetAgentBluePrintByIdExecute(r)
}

/*
GetAgentBluePrintById Returns an agent blueprint according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id2
	@return ApiGetAgentBluePrintByIdRequest
*/
func (a *AgentBlueprintApiService) NewGetAgentBluePrintByIdRequest(ctx context.Context, id2 string) ApiGetAgentBluePrintByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAgentBluePrintByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id2: id2,
	}
}

// Executes the API request GET /AgentBluePrint/{id}
//
//	@return OrchestratorsAgentBlueprintResponse
func (a *AgentBlueprintApiService) GetAgentBluePrintByIdExecute(r ApiGetAgentBluePrintByIdRequest) (*OrchestratorsAgentBlueprintResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrchestratorsAgentBlueprintResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/AgentBluePrint/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id2, "id2")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.id != nil {
		parameterAddToQuery(localVarQueryParams, "id", r.id, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /AgentBluePrint/{id}/Jobs
type ApiGetAgentBluePrintByIdJobsRequest struct {
	ctx                     context.Context
	ApiService              *AgentBlueprintApiService
	id                      string
	xKeyfactorRequestedWith *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAgentBluePrintByIdJobsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAgentBluePrintByIdJobsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetAgentBluePrintByIdJobsRequest) PageReturned(pageReturned int32) ApiGetAgentBluePrintByIdJobsRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetAgentBluePrintByIdJobsRequest) ReturnLimit(returnLimit int32) ApiGetAgentBluePrintByIdJobsRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetAgentBluePrintByIdJobsRequest) SortField(sortField string) ApiGetAgentBluePrintByIdJobsRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetAgentBluePrintByIdJobsRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetAgentBluePrintByIdJobsRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAgentBluePrintByIdJobsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAgentBluePrintByIdJobsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetAgentBluePrintByIdJobsRequest) Execute() ([]OrchestratorsAgentBlueprintJobsResponse, *http.Response, error) {
	return r.ApiService.GetAgentBluePrintByIdJobsExecute(r)
}

/*
GetAgentBluePrintByIdJobs Gets the agent blueprint scheduled jobs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiGetAgentBluePrintByIdJobsRequest
*/
func (a *AgentBlueprintApiService) NewGetAgentBluePrintByIdJobsRequest(ctx context.Context, id string) ApiGetAgentBluePrintByIdJobsRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAgentBluePrintByIdJobsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /AgentBluePrint/{id}/Jobs
//
//	@return []OrchestratorsAgentBlueprintJobsResponse
func (a *AgentBlueprintApiService) GetAgentBluePrintByIdJobsExecute(r ApiGetAgentBluePrintByIdJobsRequest) ([]OrchestratorsAgentBlueprintJobsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []OrchestratorsAgentBlueprintJobsResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/AgentBluePrint/{id}/Jobs"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /AgentBluePrint/{id}/Stores
type ApiGetAgentBluePrintByIdStoresRequest struct {
	ctx                     context.Context
	ApiService              *AgentBlueprintApiService
	id                      string
	xKeyfactorRequestedWith *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetAgentBluePrintByIdStoresRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetAgentBluePrintByIdStoresRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetAgentBluePrintByIdStoresRequest) PageReturned(pageReturned int32) ApiGetAgentBluePrintByIdStoresRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetAgentBluePrintByIdStoresRequest) ReturnLimit(returnLimit int32) ApiGetAgentBluePrintByIdStoresRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetAgentBluePrintByIdStoresRequest) SortField(sortField string) ApiGetAgentBluePrintByIdStoresRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetAgentBluePrintByIdStoresRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetAgentBluePrintByIdStoresRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetAgentBluePrintByIdStoresRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetAgentBluePrintByIdStoresRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetAgentBluePrintByIdStoresRequest) Execute() ([]OrchestratorsAgentBlueprintStoresResponse, *http.Response, error) {
	return r.ApiService.GetAgentBluePrintByIdStoresExecute(r)
}

/*
GetAgentBluePrintByIdStores Gets the agent blueprint certificate stores

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiGetAgentBluePrintByIdStoresRequest
*/
func (a *AgentBlueprintApiService) NewGetAgentBluePrintByIdStoresRequest(ctx context.Context, id string) ApiGetAgentBluePrintByIdStoresRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetAgentBluePrintByIdStoresRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /AgentBluePrint/{id}/Stores
//
//	@return []OrchestratorsAgentBlueprintStoresResponse
func (a *AgentBlueprintApiService) GetAgentBluePrintByIdStoresExecute(r ApiGetAgentBluePrintByIdStoresRequest) ([]OrchestratorsAgentBlueprintStoresResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []OrchestratorsAgentBlueprintStoresResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/AgentBluePrint/{id}/Stores"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
