/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 24.4.2

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// PAMLocalEntriesApiService PAMLocalEntriesApi service
type PAMLocalEntriesApiService service

// Request for POST /PamProviders/Local/{providerId}/Entries
type ApiCreatePamProvidersLocalProviderIdEntriesRequest struct {
	ctx                                context.Context
	ApiService                         *PAMLocalEntriesApiService
	providerId                         int32
	xKeyfactorRequestedWith            *string
	xKeyfactorApiVersion               *string
	pAMLocalLocalPAMEntryCreateRequest *PAMLocalLocalPAMEntryCreateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreatePamProvidersLocalProviderIdEntriesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreatePamProvidersLocalProviderIdEntriesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreatePamProvidersLocalProviderIdEntriesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreatePamProvidersLocalProviderIdEntriesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Local PAM entry properties to be used
func (r ApiCreatePamProvidersLocalProviderIdEntriesRequest) PAMLocalLocalPAMEntryCreateRequest(pAMLocalLocalPAMEntryCreateRequest PAMLocalLocalPAMEntryCreateRequest) ApiCreatePamProvidersLocalProviderIdEntriesRequest {
	r.pAMLocalLocalPAMEntryCreateRequest = &pAMLocalLocalPAMEntryCreateRequest
	return r
}

func (r ApiCreatePamProvidersLocalProviderIdEntriesRequest) Execute() (*PAMLocalLocalPAMEntryResponse, *http.Response, error) {
	return r.ApiService.CreatePamProvidersLocalProviderIdEntriesExecute(r)
}

/*
CreatePamProvidersLocalProviderIdEntries Creates a new local PAM entry with the associated properties

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param providerId Keyfactor identifier of the PAM provider
	@return ApiCreatePamProvidersLocalProviderIdEntriesRequest
*/
func (a *PAMLocalEntriesApiService) BuildCreatePamProvidersLocalProviderIdEntriesRequest(ctx context.Context, providerId int32) ApiCreatePamProvidersLocalProviderIdEntriesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreatePamProvidersLocalProviderIdEntriesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		providerId: providerId,
	}
}

// Executes the API request POST /PamProviders/Local/{providerId}/Entries
//
//	@return PAMLocalLocalPAMEntryResponse
func (a *PAMLocalEntriesApiService) CreatePamProvidersLocalProviderIdEntriesExecute(r ApiCreatePamProvidersLocalProviderIdEntriesRequest) (*PAMLocalLocalPAMEntryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PAMLocalLocalPAMEntryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/PamProviders/Local/{providerId}/Entries"
	localVarPath = strings.Replace(localVarPath, "{"+"providerId"+"}", url.PathEscape(parameterValueToString(r.providerId, "providerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.providerId < 1 {
		return localVarReturnValue, nil, reportError("providerId must be greater than 1")
	}
	if r.providerId > 2147483647 {
		return localVarReturnValue, nil, reportError("providerId must be less than 2147483647")
	}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.pAMLocalLocalPAMEntryCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for DELETE /PamProviders/Local/{providerId}/Entries
type ApiDeletePamProvidersLocalProviderIdEntriesRequest struct {
	ctx                     context.Context
	ApiService              *PAMLocalEntriesApiService
	providerId              int32
	secretName              *string
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Name of the secret entry to be deleted
func (r ApiDeletePamProvidersLocalProviderIdEntriesRequest) SecretName(secretName string) ApiDeletePamProvidersLocalProviderIdEntriesRequest {
	r.secretName = &secretName
	return r
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiDeletePamProvidersLocalProviderIdEntriesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiDeletePamProvidersLocalProviderIdEntriesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiDeletePamProvidersLocalProviderIdEntriesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiDeletePamProvidersLocalProviderIdEntriesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiDeletePamProvidersLocalProviderIdEntriesRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePamProvidersLocalProviderIdEntriesExecute(r)
}

/*
DeletePamProvidersLocalProviderIdEntries Deletes a local PAM entry

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param providerId Keyfactor identifier of the PAM provider
	@return ApiDeletePamProvidersLocalProviderIdEntriesRequest
*/
func (a *PAMLocalEntriesApiService) BuildDeletePamProvidersLocalProviderIdEntriesRequest(ctx context.Context, providerId int32) ApiDeletePamProvidersLocalProviderIdEntriesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiDeletePamProvidersLocalProviderIdEntriesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		providerId: providerId,
	}
}

// Executes the API request
func (a *PAMLocalEntriesApiService) DeletePamProvidersLocalProviderIdEntriesExecute(r ApiDeletePamProvidersLocalProviderIdEntriesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/PamProviders/Local/{providerId}/Entries"
	localVarPath = strings.Replace(localVarPath, "{"+"providerId"+"}", url.PathEscape(parameterValueToString(r.providerId, "providerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.providerId < 1 {
		return nil, reportError("providerId must be greater than 1")
	}
	if r.providerId > 2147483647 {
		return nil, reportError("providerId must be less than 2147483647")
	}
	if r.secretName == nil {
		return nil, reportError("secretName is required and must be specified")
	}
	if r.xKeyfactorRequestedWith == nil {
		return nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	parameterAddToQuery(localVarQueryParams, "secretName", r.secretName, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

// Request for GET /PamProviders/Local/{providerId}/Entries
type ApiGetPamProvidersLocalProviderIdEntriesRequest struct {
	ctx                     context.Context
	ApiService              *PAMLocalEntriesApiService
	providerId              int32
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetPamProvidersLocalProviderIdEntriesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetPamProvidersLocalProviderIdEntriesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Contents of the query (ex: field1 -eq value1 AND field2 -gt value2)
func (r ApiGetPamProvidersLocalProviderIdEntriesRequest) QueryString(queryString string) ApiGetPamProvidersLocalProviderIdEntriesRequest {
	r.queryString = &queryString
	return r
}

// The current page within the result set to be returned
func (r ApiGetPamProvidersLocalProviderIdEntriesRequest) PageReturned(pageReturned int32) ApiGetPamProvidersLocalProviderIdEntriesRequest {
	r.pageReturned = &pageReturned
	return r
}

// Maximum number of records to be returned in a single call
func (r ApiGetPamProvidersLocalProviderIdEntriesRequest) ReturnLimit(returnLimit int32) ApiGetPamProvidersLocalProviderIdEntriesRequest {
	r.returnLimit = &returnLimit
	return r
}

// Field by which the results should be sorted (view results via Management Portal for sortable columns)
func (r ApiGetPamProvidersLocalProviderIdEntriesRequest) SortField(sortField string) ApiGetPamProvidersLocalProviderIdEntriesRequest {
	r.sortField = &sortField
	return r
}

// Field sort direction [0&#x3D;ascending, 1&#x3D;descending]
func (r ApiGetPamProvidersLocalProviderIdEntriesRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetPamProvidersLocalProviderIdEntriesRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetPamProvidersLocalProviderIdEntriesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetPamProvidersLocalProviderIdEntriesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetPamProvidersLocalProviderIdEntriesRequest) Execute() ([]PAMLocalLocalPAMEntryResponse, *http.Response, error) {
	return r.ApiService.GetPamProvidersLocalProviderIdEntriesExecute(r)
}

/*
GetPamProvidersLocalProviderIdEntries Returns local PAM entries for the given PAM provider according to the provided filter and output parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param providerId Keyfactor identifier of the PAM provider
	@return ApiGetPamProvidersLocalProviderIdEntriesRequest
*/
func (a *PAMLocalEntriesApiService) BuildGetPamProvidersLocalProviderIdEntriesRequest(ctx context.Context, providerId int32) ApiGetPamProvidersLocalProviderIdEntriesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetPamProvidersLocalProviderIdEntriesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		providerId: providerId,
	}
}

// Executes the API request GET /PamProviders/Local/{providerId}/Entries
//
//	@return []PAMLocalLocalPAMEntryResponse
func (a *PAMLocalEntriesApiService) GetPamProvidersLocalProviderIdEntriesExecute(r ApiGetPamProvidersLocalProviderIdEntriesRequest) ([]PAMLocalLocalPAMEntryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []PAMLocalLocalPAMEntryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/PamProviders/Local/{providerId}/Entries"
	localVarPath = strings.Replace(localVarPath, "{"+"providerId"+"}", url.PathEscape(parameterValueToString(r.providerId, "providerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.providerId < 1 {
		return localVarReturnValue, nil, reportError("providerId must be greater than 1")
	}
	if r.providerId > 2147483647 {
		return localVarReturnValue, nil, reportError("providerId must be less than 2147483647")
	}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for PUT /PamProviders/Local/{providerId}/Entries
type ApiUpdatePamProvidersLocalProviderIdEntriesRequest struct {
	ctx                                context.Context
	ApiService                         *PAMLocalEntriesApiService
	providerId                         int32
	xKeyfactorRequestedWith            *string
	xKeyfactorApiVersion               *string
	pAMLocalLocalPAMEntryUpdateRequest *PAMLocalLocalPAMEntryUpdateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdatePamProvidersLocalProviderIdEntriesRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdatePamProvidersLocalProviderIdEntriesRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdatePamProvidersLocalProviderIdEntriesRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdatePamProvidersLocalProviderIdEntriesRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Local PAM entry properties to be used
func (r ApiUpdatePamProvidersLocalProviderIdEntriesRequest) PAMLocalLocalPAMEntryUpdateRequest(pAMLocalLocalPAMEntryUpdateRequest PAMLocalLocalPAMEntryUpdateRequest) ApiUpdatePamProvidersLocalProviderIdEntriesRequest {
	r.pAMLocalLocalPAMEntryUpdateRequest = &pAMLocalLocalPAMEntryUpdateRequest
	return r
}

func (r ApiUpdatePamProvidersLocalProviderIdEntriesRequest) Execute() (*PAMLocalLocalPAMEntryResponse, *http.Response, error) {
	return r.ApiService.UpdatePamProvidersLocalProviderIdEntriesExecute(r)
}

/*
UpdatePamProvidersLocalProviderIdEntries Updates local PAM entry with the associated properties

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param providerId Keyfactor identifier of the PAM provider
	@return ApiUpdatePamProvidersLocalProviderIdEntriesRequest
*/
func (a *PAMLocalEntriesApiService) BuildUpdatePamProvidersLocalProviderIdEntriesRequest(ctx context.Context, providerId int32) ApiUpdatePamProvidersLocalProviderIdEntriesRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiUpdatePamProvidersLocalProviderIdEntriesRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		providerId: providerId,
	}
}

// Executes the API request PUT /PamProviders/Local/{providerId}/Entries
//
//	@return PAMLocalLocalPAMEntryResponse
func (a *PAMLocalEntriesApiService) UpdatePamProvidersLocalProviderIdEntriesExecute(r ApiUpdatePamProvidersLocalProviderIdEntriesRequest) (*PAMLocalLocalPAMEntryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PAMLocalLocalPAMEntryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/PamProviders/Local/{providerId}/Entries"
	localVarPath = strings.Replace(localVarPath, "{"+"providerId"+"}", url.PathEscape(parameterValueToString(r.providerId, "providerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.providerId < 1 {
		return localVarReturnValue, nil, reportError("providerId must be greater than 1")
	}
	if r.providerId > 2147483647 {
		return localVarReturnValue, nil, reportError("providerId must be less than 2147483647")
	}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.pAMLocalLocalPAMEntryUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
