/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 24.4.2

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// EnrollmentApiService EnrollmentApi service
type EnrollmentApiService service

// Request for POST /Enrollment/CSR
type ApiCreateEnrollmentCSRRequest struct {
	ctx                            context.Context
	ApiService                     *EnrollmentApiService
	xKeyfactorRequestedWith        *string
	xCertificateformat             *string
	forceEnroll                    *bool
	xKeyfactorApiVersion           *string
	enrollmentCSREnrollmentRequest *EnrollmentCSREnrollmentRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateEnrollmentCSRRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateEnrollmentCSRRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired format [PEM, DER]
func (r ApiCreateEnrollmentCSRRequest) XCertificateformat(xCertificateformat string) ApiCreateEnrollmentCSRRequest {
	r.xCertificateformat = &xCertificateformat
	return r
}

func (r ApiCreateEnrollmentCSRRequest) ForceEnroll(forceEnroll bool) ApiCreateEnrollmentCSRRequest {
	r.forceEnroll = &forceEnroll
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateEnrollmentCSRRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateEnrollmentCSRRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Information needed to perform the CSR Enrollment
func (r ApiCreateEnrollmentCSRRequest) EnrollmentCSREnrollmentRequest(enrollmentCSREnrollmentRequest EnrollmentCSREnrollmentRequest) ApiCreateEnrollmentCSRRequest {
	r.enrollmentCSREnrollmentRequest = &enrollmentCSREnrollmentRequest
	return r
}

func (r ApiCreateEnrollmentCSRRequest) Execute() (*CSSCMSDataModelModelsEnrollmentCSREnrollmentResponse, *http.Response, error) {
	return r.ApiService.CreateEnrollmentCSRExecute(r)
}

/*
CreateEnrollmentCSR Performs a CSR Enrollment based upon the provided request

### Subject Alternative Name Flags ###
| Value              | Description               |
|--------------------|---------------------------|
| other              | OtherName                 |
| rfc822             | RFC822Name                |
| dns                | DNSName                   |
| x400               | X400Address               |
| directory          | DirectoryName             |
| ediparty           | EdipartyName              |
| uri                | UniformResourceIdentifier |
| ip                 | IPAddress                 |
| ip4                | IPv4Address               |
| ip6                | IPv6Address               |
| registeredid       | RegisteredId              |
| ms_ntprincipalname | MS_NTPrincipalName        |
| ms_ntdsreplication | MS_NTDSReplication        |

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateEnrollmentCSRRequest
*/
func (a *EnrollmentApiService) CreateEnrollmentCSR(ctx context.Context) ApiCreateEnrollmentCSRRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateEnrollmentCSRRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Enrollment/CSR
//
//	@return CSSCMSDataModelModelsEnrollmentCSREnrollmentResponse
func (a *EnrollmentApiService) CreateEnrollmentCSRExecute(r ApiCreateEnrollmentCSRRequest) (*CSSCMSDataModelModelsEnrollmentCSREnrollmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsEnrollmentCSREnrollmentResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Enrollment/CSR"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}
	if r.xCertificateformat == nil {
		return localVarReturnValue, nil, reportError("xCertificateformat is required and must be specified")
	}

	if r.forceEnroll != nil {
		parameterAddToQuery(localVarQueryParams, "forceEnroll", r.forceEnroll, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	parameterAddToQuery(localVarHeaderParams, "x-certificateformat", r.xCertificateformat, "")
	// body params
	localVarPostBody = r.enrollmentCSREnrollmentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /Enrollment/CSR/Parse
type ApiCreateEnrollmentCSRParseRequest struct {
	ctx                              context.Context
	ApiService                       *EnrollmentApiService
	xKeyfactorRequestedWith          *string
	xKeyfactorApiVersion             *string
	cSSCMSDataModelModelsCSRContents *CSSCMSDataModelModelsCSRContents
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateEnrollmentCSRParseRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateEnrollmentCSRParseRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateEnrollmentCSRParseRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateEnrollmentCSRParseRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// CSR to be parsed
func (r ApiCreateEnrollmentCSRParseRequest) CSSCMSDataModelModelsCSRContents(cSSCMSDataModelModelsCSRContents CSSCMSDataModelModelsCSRContents) ApiCreateEnrollmentCSRParseRequest {
	r.cSSCMSDataModelModelsCSRContents = &cSSCMSDataModelModelsCSRContents
	return r
}

func (r ApiCreateEnrollmentCSRParseRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.CreateEnrollmentCSRParseExecute(r)
}

/*
CreateEnrollmentCSRParse Parses the provided CSR and returns the properties

This functionality is equivalent to the result of pasting a CSR into the field within the Management Portal CSR Enrollment page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateEnrollmentCSRParseRequest
*/
func (a *EnrollmentApiService) CreateEnrollmentCSRParse(ctx context.Context) ApiCreateEnrollmentCSRParseRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateEnrollmentCSRParseRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Enrollment/CSR/Parse
//
//	@return []string
func (a *EnrollmentApiService) CreateEnrollmentCSRParseExecute(r ApiCreateEnrollmentCSRParseRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []string
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Enrollment/CSR/Parse"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsCSRContents
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /Enrollment/PFX
type ApiCreateEnrollmentPFXRequest struct {
	ctx                            context.Context
	ApiService                     *EnrollmentApiService
	xKeyfactorRequestedWith        *string
	xCertificateformat             *string
	xKeyfactorApiVersion           *string
	enrollmentPFXEnrollmentRequest *EnrollmentPFXEnrollmentRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateEnrollmentPFXRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateEnrollmentPFXRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired format [PFX, ZIP, PEM, JKS, STORE, REPLACE]
func (r ApiCreateEnrollmentPFXRequest) XCertificateformat(xCertificateformat string) ApiCreateEnrollmentPFXRequest {
	r.xCertificateformat = &xCertificateformat
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateEnrollmentPFXRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateEnrollmentPFXRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The information needed to perform the PFX Enrollment
func (r ApiCreateEnrollmentPFXRequest) EnrollmentPFXEnrollmentRequest(enrollmentPFXEnrollmentRequest EnrollmentPFXEnrollmentRequest) ApiCreateEnrollmentPFXRequest {
	r.enrollmentPFXEnrollmentRequest = &enrollmentPFXEnrollmentRequest
	return r
}

func (r ApiCreateEnrollmentPFXRequest) Execute() (*CSSCMSDataModelModelsEnrollmentPFXEnrollmentResponse, *http.Response, error) {
	return r.ApiService.CreateEnrollmentPFXExecute(r)
}

/*
CreateEnrollmentPFX Performs a PFX Enrollment based upon the provided request

### IMPORTANT:
- The <b>'RenewalCertificateId'</b> field in the request should be set to <b>null</b> if the certificate is not being renewed as part of the enrollment. A value of <b>0</b> will produce an error.

### Subject Alternative Name Flags ###
| Value              | Description               |
|--------------------|---------------------------|
| other              | OtherName                 |
| rfc822             | RFC822Name                |
| dns                | DNSName                   |
| x400               | X400Address               |
| directory          | DirectoryName             |
| ediparty           | EdipartyName              |
| uri                | UniformResourceIdentifier |
| ip                 | IPAddress                 |
| ip4                | IPv4Address               |
| ip6                | IPv6Address               |
| registeredid       | RegisteredId              |
| ms_ntprincipalname | MS_NTPrincipalName        |
| ms_ntdsreplication | MS_NTDSReplication        |

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateEnrollmentPFXRequest
*/
func (a *EnrollmentApiService) CreateEnrollmentPFX(ctx context.Context) ApiCreateEnrollmentPFXRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateEnrollmentPFXRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Enrollment/PFX
//
//	@return CSSCMSDataModelModelsEnrollmentPFXEnrollmentResponse
func (a *EnrollmentApiService) CreateEnrollmentPFXExecute(r ApiCreateEnrollmentPFXRequest) (*CSSCMSDataModelModelsEnrollmentPFXEnrollmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsEnrollmentPFXEnrollmentResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Enrollment/PFX"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}
	if r.xCertificateformat == nil {
		return localVarReturnValue, nil, reportError("xCertificateformat is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	parameterAddToQuery(localVarHeaderParams, "x-certificateformat", r.xCertificateformat, "")
	// body params
	localVarPostBody = r.enrollmentPFXEnrollmentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /Enrollment/PFX/Deploy
type ApiCreateEnrollmentPFXDeployRequest struct {
	ctx                                   context.Context
	ApiService                            *EnrollmentApiService
	xKeyfactorRequestedWith               *string
	xKeyfactorApiVersion                  *string
	enrollmentEnrollmentManagementRequest *EnrollmentEnrollmentManagementRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateEnrollmentPFXDeployRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateEnrollmentPFXDeployRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateEnrollmentPFXDeployRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateEnrollmentPFXDeployRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The request to create the management jobs, which includes the request Id of the new pfx and the Ids and management job properties of the cert stores to add the pfx to
func (r ApiCreateEnrollmentPFXDeployRequest) EnrollmentEnrollmentManagementRequest(enrollmentEnrollmentManagementRequest EnrollmentEnrollmentManagementRequest) ApiCreateEnrollmentPFXDeployRequest {
	r.enrollmentEnrollmentManagementRequest = &enrollmentEnrollmentManagementRequest
	return r
}

func (r ApiCreateEnrollmentPFXDeployRequest) Execute() (*EnrollmentEnrollmentManagementResponse, *http.Response, error) {
	return r.ApiService.CreateEnrollmentPFXDeployExecute(r)
}

/*
CreateEnrollmentPFXDeploy Creates management jobs to install a newly enrolled pfx in to one or more certificate stores

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateEnrollmentPFXDeployRequest
*/
func (a *EnrollmentApiService) CreateEnrollmentPFXDeploy(ctx context.Context) ApiCreateEnrollmentPFXDeployRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateEnrollmentPFXDeployRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Enrollment/PFX/Deploy
//
//	@return EnrollmentEnrollmentManagementResponse
func (a *EnrollmentApiService) CreateEnrollmentPFXDeployExecute(r ApiCreateEnrollmentPFXDeployRequest) (*EnrollmentEnrollmentManagementResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EnrollmentEnrollmentManagementResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Enrollment/PFX/Deploy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.enrollmentEnrollmentManagementRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /Enrollment/PFX/Replace
type ApiCreateEnrollmentPFXReplaceRequest struct {
	ctx                                                                context.Context
	ApiService                                                         *EnrollmentApiService
	xKeyfactorRequestedWith                                            *string
	xKeyfactorApiVersion                                               *string
	cSSCMSDataModelModelsEnrollmentExistingEnrollmentManagementRequest *CSSCMSDataModelModelsEnrollmentExistingEnrollmentManagementRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateEnrollmentPFXReplaceRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateEnrollmentPFXReplaceRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateEnrollmentPFXReplaceRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateEnrollmentPFXReplaceRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The request to create the management jobs, which includes the request Id of the new pfx and the Id of the existing certificate
func (r ApiCreateEnrollmentPFXReplaceRequest) CSSCMSDataModelModelsEnrollmentExistingEnrollmentManagementRequest(cSSCMSDataModelModelsEnrollmentExistingEnrollmentManagementRequest CSSCMSDataModelModelsEnrollmentExistingEnrollmentManagementRequest) ApiCreateEnrollmentPFXReplaceRequest {
	r.cSSCMSDataModelModelsEnrollmentExistingEnrollmentManagementRequest = &cSSCMSDataModelModelsEnrollmentExistingEnrollmentManagementRequest
	return r
}

func (r ApiCreateEnrollmentPFXReplaceRequest) Execute() (*EnrollmentEnrollmentManagementResponse, *http.Response, error) {
	return r.ApiService.CreateEnrollmentPFXReplaceExecute(r)
}

/*
CreateEnrollmentPFXReplace Creates management jobs to install a newly enrolled pfx into the same certificate stores as the previous certificate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateEnrollmentPFXReplaceRequest
*/
func (a *EnrollmentApiService) CreateEnrollmentPFXReplace(ctx context.Context) ApiCreateEnrollmentPFXReplaceRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateEnrollmentPFXReplaceRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Enrollment/PFX/Replace
//
//	@return EnrollmentEnrollmentManagementResponse
func (a *EnrollmentApiService) CreateEnrollmentPFXReplaceExecute(r ApiCreateEnrollmentPFXReplaceRequest) (*EnrollmentEnrollmentManagementResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EnrollmentEnrollmentManagementResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Enrollment/PFX/Replace"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsEnrollmentExistingEnrollmentManagementRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for POST /Enrollment/Renew
type ApiCreateEnrollmentRenewRequest struct {
	ctx                                           context.Context
	ApiService                                    *EnrollmentApiService
	xKeyfactorRequestedWith                       *string
	collectionId                                  *int32
	xKeyfactorApiVersion                          *string
	cSSCMSDataModelModelsEnrollmentRenewalRequest *CSSCMSDataModelModelsEnrollmentRenewalRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateEnrollmentRenewRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateEnrollmentRenewRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// The collection id for the given certificate
func (r ApiCreateEnrollmentRenewRequest) CollectionId(collectionId int32) ApiCreateEnrollmentRenewRequest {
	r.collectionId = &collectionId
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateEnrollmentRenewRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateEnrollmentRenewRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The information needed to perform the renewal
func (r ApiCreateEnrollmentRenewRequest) CSSCMSDataModelModelsEnrollmentRenewalRequest(cSSCMSDataModelModelsEnrollmentRenewalRequest CSSCMSDataModelModelsEnrollmentRenewalRequest) ApiCreateEnrollmentRenewRequest {
	r.cSSCMSDataModelModelsEnrollmentRenewalRequest = &cSSCMSDataModelModelsEnrollmentRenewalRequest
	return r
}

func (r ApiCreateEnrollmentRenewRequest) Execute() (*EnrollmentRenewalApiResponse, *http.Response, error) {
	return r.ApiService.CreateEnrollmentRenewExecute(r)
}

/*
CreateEnrollmentRenew Performs a renewal based upon the passed in request

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateEnrollmentRenewRequest
*/
func (a *EnrollmentApiService) CreateEnrollmentRenew(ctx context.Context) ApiCreateEnrollmentRenewRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateEnrollmentRenewRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Enrollment/Renew
//
//	@return EnrollmentRenewalApiResponse
func (a *EnrollmentApiService) CreateEnrollmentRenewExecute(r ApiCreateEnrollmentRenewRequest) (*EnrollmentRenewalApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EnrollmentRenewalApiResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Enrollment/Renew"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.collectionId != nil {
		parameterAddToQuery(localVarQueryParams, "collectionId", r.collectionId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsEnrollmentRenewalRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Enrollment/AvailableRenewal/Id/{id}
type ApiGetEnrollmentAvailableRenewalIdByIdRequest struct {
	ctx                     context.Context
	ApiService              *EnrollmentApiService
	id                      int32
	xKeyfactorRequestedWith *string
	collectionId            *int32
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetEnrollmentAvailableRenewalIdByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetEnrollmentAvailableRenewalIdByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// The collection id for the given certificate
func (r ApiGetEnrollmentAvailableRenewalIdByIdRequest) CollectionId(collectionId int32) ApiGetEnrollmentAvailableRenewalIdByIdRequest {
	r.collectionId = &collectionId
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetEnrollmentAvailableRenewalIdByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetEnrollmentAvailableRenewalIdByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetEnrollmentAvailableRenewalIdByIdRequest) Execute() (*CSSCMSDataModelModelsEnrollmentAvailableRenewal, *http.Response, error) {
	return r.ApiService.GetEnrollmentAvailableRenewalIdByIdExecute(r)
}

/*
GetEnrollmentAvailableRenewalIdById Returns the type of renewal available for a given certificate.

### Available Renewal Types ###
| Value              | Description               |
|--------------------|---------------------------|
| 0              | None                 |
| 1             | Seeded PFX                |
| 2                | One-click                   |

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The Keyfactor certificate Id
	@return ApiGetEnrollmentAvailableRenewalIdByIdRequest
*/
func (a *EnrollmentApiService) GetEnrollmentAvailableRenewalIdById(ctx context.Context, id int32) ApiGetEnrollmentAvailableRenewalIdByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetEnrollmentAvailableRenewalIdByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /Enrollment/AvailableRenewal/Id/{id}
//
//	@return CSSCMSDataModelModelsEnrollmentAvailableRenewal
func (a *EnrollmentApiService) GetEnrollmentAvailableRenewalIdByIdExecute(r ApiGetEnrollmentAvailableRenewalIdByIdRequest) (*CSSCMSDataModelModelsEnrollmentAvailableRenewal, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsEnrollmentAvailableRenewal
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Enrollment/AvailableRenewal/Id/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id < 0 {
		return localVarReturnValue, nil, reportError("id must be greater than 0")
	}
	if r.id > 2147483647 {
		return localVarReturnValue, nil, reportError("id must be less than 2147483647")
	}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.collectionId != nil {
		parameterAddToQuery(localVarQueryParams, "collectionId", r.collectionId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Enrollment/AvailableRenewal/Thumbprint/{thumbprint}
type ApiGetEnrollmentAvailableRenewalThumbprintThumbprintRequest struct {
	ctx                     context.Context
	ApiService              *EnrollmentApiService
	thumbprint              string
	xKeyfactorRequestedWith *string
	collectionId            *int32
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetEnrollmentAvailableRenewalThumbprintThumbprintRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetEnrollmentAvailableRenewalThumbprintThumbprintRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// The collection id for the given certificate
func (r ApiGetEnrollmentAvailableRenewalThumbprintThumbprintRequest) CollectionId(collectionId int32) ApiGetEnrollmentAvailableRenewalThumbprintThumbprintRequest {
	r.collectionId = &collectionId
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetEnrollmentAvailableRenewalThumbprintThumbprintRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetEnrollmentAvailableRenewalThumbprintThumbprintRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetEnrollmentAvailableRenewalThumbprintThumbprintRequest) Execute() (*CSSCMSDataModelModelsEnrollmentAvailableRenewal, *http.Response, error) {
	return r.ApiService.GetEnrollmentAvailableRenewalThumbprintThumbprintExecute(r)
}

/*
GetEnrollmentAvailableRenewalThumbprintThumbprint Returns the type of renewal available for a given certificate.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param thumbprint The certificate thumbprint
	@return ApiGetEnrollmentAvailableRenewalThumbprintThumbprintRequest
*/
func (a *EnrollmentApiService) GetEnrollmentAvailableRenewalThumbprintThumbprint(ctx context.Context, thumbprint string) ApiGetEnrollmentAvailableRenewalThumbprintThumbprintRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetEnrollmentAvailableRenewalThumbprintThumbprintRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		thumbprint: thumbprint,
	}
}

// Executes the API request GET /Enrollment/AvailableRenewal/Thumbprint/{thumbprint}
//
//	@return CSSCMSDataModelModelsEnrollmentAvailableRenewal
func (a *EnrollmentApiService) GetEnrollmentAvailableRenewalThumbprintThumbprintExecute(r ApiGetEnrollmentAvailableRenewalThumbprintThumbprintRequest) (*CSSCMSDataModelModelsEnrollmentAvailableRenewal, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsEnrollmentAvailableRenewal
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Enrollment/AvailableRenewal/Thumbprint/{thumbprint}"
	localVarPath = strings.Replace(localVarPath, "{"+"thumbprint"+"}", url.PathEscape(parameterValueToString(r.thumbprint, "thumbprint")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.collectionId != nil {
		parameterAddToQuery(localVarQueryParams, "collectionId", r.collectionId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Enrollment/CSR/Context/My
type ApiGetEnrollmentCSRContextMyRequest struct {
	ctx                     context.Context
	ApiService              *EnrollmentApiService
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetEnrollmentCSRContextMyRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetEnrollmentCSRContextMyRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetEnrollmentCSRContextMyRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetEnrollmentCSRContextMyRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetEnrollmentCSRContextMyRequest) Execute() (*KeyfactorWebCoreModelsEnrollmentEnrollmentTemplateCAResponse, *http.Response, error) {
	return r.ApiService.GetEnrollmentCSRContextMyExecute(r)
}

/*
GetEnrollmentCSRContextMy Returns the list of available CSR enrollment templates and their associated CA mappings that the calling user has permissions on

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetEnrollmentCSRContextMyRequest
*/
func (a *EnrollmentApiService) GetEnrollmentCSRContextMy(ctx context.Context) ApiGetEnrollmentCSRContextMyRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetEnrollmentCSRContextMyRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /Enrollment/CSR/Context/My
//
//	@return KeyfactorWebCoreModelsEnrollmentEnrollmentTemplateCAResponse
func (a *EnrollmentApiService) GetEnrollmentCSRContextMyExecute(r ApiGetEnrollmentCSRContextMyRequest) (*KeyfactorWebCoreModelsEnrollmentEnrollmentTemplateCAResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KeyfactorWebCoreModelsEnrollmentEnrollmentTemplateCAResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Enrollment/CSR/Context/My"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Enrollment/PFX/Context/My
type ApiGetEnrollmentPFXContextMyRequest struct {
	ctx                     context.Context
	ApiService              *EnrollmentApiService
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetEnrollmentPFXContextMyRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetEnrollmentPFXContextMyRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetEnrollmentPFXContextMyRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetEnrollmentPFXContextMyRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetEnrollmentPFXContextMyRequest) Execute() (*KeyfactorWebCoreModelsEnrollmentEnrollmentTemplateCAResponse, *http.Response, error) {
	return r.ApiService.GetEnrollmentPFXContextMyExecute(r)
}

/*
GetEnrollmentPFXContextMy Returns the list of available PFX enrollment templates and their associated CA mappings that the calling user has permissions on

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetEnrollmentPFXContextMyRequest
*/
func (a *EnrollmentApiService) GetEnrollmentPFXContextMy(ctx context.Context) ApiGetEnrollmentPFXContextMyRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetEnrollmentPFXContextMyRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request GET /Enrollment/PFX/Context/My
//
//	@return KeyfactorWebCoreModelsEnrollmentEnrollmentTemplateCAResponse
func (a *EnrollmentApiService) GetEnrollmentPFXContextMyExecute(r ApiGetEnrollmentPFXContextMyRequest) (*KeyfactorWebCoreModelsEnrollmentEnrollmentTemplateCAResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KeyfactorWebCoreModelsEnrollmentEnrollmentTemplateCAResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Enrollment/PFX/Context/My"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for GET /Enrollment/Settings/{id}
type ApiGetEnrollmentSettingsByIdRequest struct {
	ctx                     context.Context
	ApiService              *EnrollmentApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetEnrollmentSettingsByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetEnrollmentSettingsByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetEnrollmentSettingsByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetEnrollmentSettingsByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

func (r ApiGetEnrollmentSettingsByIdRequest) Execute() (*TemplatesEnrollmentTemplateEnrollmentSettingsResponse, *http.Response, error) {
	return r.ApiService.GetEnrollmentSettingsByIdExecute(r)
}

/*
GetEnrollmentSettingsById Gets the template settings to use during enrollment. The response will be the resolved values for the settings.  If there is a template specific setting, the template specific setting will be used in the response.  If there is not a template specific setting, the global setting will be used in the response.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiGetEnrollmentSettingsByIdRequest
*/
func (a *EnrollmentApiService) GetEnrollmentSettingsById(ctx context.Context, id int32) ApiGetEnrollmentSettingsByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetEnrollmentSettingsByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request GET /Enrollment/Settings/{id}
//
//	@return TemplatesEnrollmentTemplateEnrollmentSettingsResponse
func (a *EnrollmentApiService) GetEnrollmentSettingsByIdExecute(r ApiGetEnrollmentSettingsByIdRequest) (*TemplatesEnrollmentTemplateEnrollmentSettingsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplatesEnrollmentTemplateEnrollmentSettingsResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Enrollment/Settings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id < 0 {
		return localVarReturnValue, nil, reportError("id must be greater than 0")
	}
	if r.id > 2147483647 {
		return localVarReturnValue, nil, reportError("id must be less than 2147483647")
	}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
