/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 24.4.2

API version: 2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v2

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// EnrollmentApiService EnrollmentApi service
type EnrollmentApiService service

// Request for POST /Enrollment/PFX
type ApiCreateEnrollmentPFXRequest struct {
	ctx                                      context.Context
	ApiService                               *EnrollmentApiService
	xKeyfactorRequestedWith                  *string
	xCertificateformat                       *string
	xKeyfactorApiVersion                     *string
	enrollmentPFXEnrollmentWithStoresRequest *EnrollmentPFXEnrollmentWithStoresRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateEnrollmentPFXRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateEnrollmentPFXRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired format [PFX, ZIP, PEM, JKS, STORE, REPLACE]
func (r ApiCreateEnrollmentPFXRequest) XCertificateformat(xCertificateformat string) ApiCreateEnrollmentPFXRequest {
	r.xCertificateformat = &xCertificateformat
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateEnrollmentPFXRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateEnrollmentPFXRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The information needed to perform the PFX Enrollment
func (r ApiCreateEnrollmentPFXRequest) EnrollmentPFXEnrollmentWithStoresRequest(enrollmentPFXEnrollmentWithStoresRequest EnrollmentPFXEnrollmentWithStoresRequest) ApiCreateEnrollmentPFXRequest {
	r.enrollmentPFXEnrollmentWithStoresRequest = &enrollmentPFXEnrollmentWithStoresRequest
	return r
}

func (r ApiCreateEnrollmentPFXRequest) Execute() (*EnrollmentPFXEnrollmentManagementResponse, *http.Response, error) {
	return r.ApiService.CreateEnrollmentPFXExecute(r)
}

/*
CreateEnrollmentPFX Performs a PFX Enrollment based upon the provided request

### IMPORTANT:
- The <b>'RenewalCertificateId'</b> field in the request should be set to <b>null</b> if the certificate is not being renewed as part of the enrollment. A value of <b>0</b> will produce an error.

### Subject Alternative Name Flags ###
| Value              | Description               |
|--------------------|---------------------------|
| other              | OtherName                 |
| rfc822             | RFC822Name                |
| dns                | DNSName                   |
| x400               | X400Address               |
| directory          | DirectoryName             |
| ediparty           | EdipartyName              |
| uri                | UniformResourceIdentifier |
| ip                 | IPAddress                 |
| ip4                | IPv4Address               |
| ip6                | IPv6Address               |
| registeredid       | RegisteredId              |
| ms_ntprincipalname | MS_NTPrincipalName        |
| ms_ntdsreplication | MS_NTDSReplication        |

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateEnrollmentPFXRequest
*/
func (a *EnrollmentApiService) NewCreateEnrollmentPFXRequest(ctx context.Context) ApiCreateEnrollmentPFXRequest {

	requestedWith := "APIClient"
	apiVersion := "2"

	return ApiCreateEnrollmentPFXRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request POST /Enrollment/PFX
//
//	@return EnrollmentPFXEnrollmentManagementResponse
func (a *EnrollmentApiService) CreateEnrollmentPFXExecute(r ApiCreateEnrollmentPFXRequest) (*EnrollmentPFXEnrollmentManagementResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EnrollmentPFXEnrollmentManagementResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "2"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Enrollment/PFX"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}
	if r.xCertificateformat == nil {
		return localVarReturnValue, nil, reportError("xCertificateformat is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	parameterAddToQuery(localVarHeaderParams, "x-certificateformat", r.xCertificateformat, "")
	// body params
	localVarPostBody = r.enrollmentPFXEnrollmentWithStoresRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
