/*
Copyright 2026 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 25.1.1

API version: 2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v2

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// WorkflowDefinitionApiService WorkflowDefinitionApi service
type WorkflowDefinitionApiService service

// Request for V2 POST /Workflow/Definitions
type ApiCreateWorkflowDefinitionsRequest struct {
	ctx                              context.Context
	ApiService                       *WorkflowDefinitionApiService
	xKeyfactorRequestedWith          *string
	force                            *bool
	xKeyfactorApiVersion             *string
	workflowsDefinitionCreateRequest *WorkflowsDefinitionCreateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateWorkflowDefinitionsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateWorkflowDefinitionsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Whether to force the creation of this definition in the case that it would run workflows immediately.
func (r ApiCreateWorkflowDefinitionsRequest) Force(force bool) ApiCreateWorkflowDefinitionsRequest {
	r.force = &force
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateWorkflowDefinitionsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateWorkflowDefinitionsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// A Workflows.DefinitionCreateRequest with the display name, description, key and type of the definition.
func (r ApiCreateWorkflowDefinitionsRequest) WorkflowsDefinitionCreateRequest(workflowsDefinitionCreateRequest WorkflowsDefinitionCreateRequest) ApiCreateWorkflowDefinitionsRequest {
	r.workflowsDefinitionCreateRequest = &workflowsDefinitionCreateRequest
	return r
}

// Executes the V2 POST /Workflow/Definitions request context
func (r ApiCreateWorkflowDefinitionsRequest) Execute() (*WorkflowsDefinitionResponse, *http.Response, error) {
	return r.ApiService.CreateWorkflowDefinitionsExecute(r)
}

/*
Creates a new V2 POST /Workflow/Definitions request.

CreateWorkflowDefinitions Creates a new base definition without any steps.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateWorkflowDefinitionsRequest
*/
func (a *WorkflowDefinitionApiService) NewCreateWorkflowDefinitionsRequest(ctx context.Context) ApiCreateWorkflowDefinitionsRequest {

	requestedWith := "APIClient"
	apiVersion := "2"

	return ApiCreateWorkflowDefinitionsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V2 POST /Workflow/Definitions
//
//	@return WorkflowsDefinitionResponse
func (a *WorkflowDefinitionApiService) CreateWorkflowDefinitionsExecute(r ApiCreateWorkflowDefinitionsRequest) (*WorkflowsDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowsDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "2"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.force != nil {
		parameterAddToQuery(localVarQueryParams, "force", r.force, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	// body params
	localVarPostBody = r.workflowsDefinitionCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V2 GET /Workflow/Definitions
type ApiGetWorkflowDefinitionsRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowDefinitionApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowDefinitionsRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowDefinitionsRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Contents of the query (ex: field1 -eq value1 AND field2 -gt value2)
func (r ApiGetWorkflowDefinitionsRequest) QueryString(queryString string) ApiGetWorkflowDefinitionsRequest {
	r.queryString = &queryString
	return r
}

// The current page within the result set to be returned
func (r ApiGetWorkflowDefinitionsRequest) PageReturned(pageReturned int32) ApiGetWorkflowDefinitionsRequest {
	r.pageReturned = &pageReturned
	return r
}

// Maximum number of records to be returned in a single call
func (r ApiGetWorkflowDefinitionsRequest) ReturnLimit(returnLimit int32) ApiGetWorkflowDefinitionsRequest {
	r.returnLimit = &returnLimit
	return r
}

// Field by which the results should be sorted (view results via Management Portal for sortable columns)
func (r ApiGetWorkflowDefinitionsRequest) SortField(sortField string) ApiGetWorkflowDefinitionsRequest {
	r.sortField = &sortField
	return r
}

// Field sort direction [0&#x3D;ascending, 1&#x3D;descending]
func (r ApiGetWorkflowDefinitionsRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetWorkflowDefinitionsRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowDefinitionsRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowDefinitionsRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V2 GET /Workflow/Definitions request context
func (r ApiGetWorkflowDefinitionsRequest) Execute() ([]WorkflowsDefinitionQueryResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowDefinitionsExecute(r)
}

/*
Creates a new V2 GET /Workflow/Definitions request.

GetWorkflowDefinitions Gets the Definitions matching the query specifications.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowDefinitionsRequest
*/
func (a *WorkflowDefinitionApiService) NewGetWorkflowDefinitionsRequest(ctx context.Context) ApiGetWorkflowDefinitionsRequest {

	requestedWith := "APIClient"
	apiVersion := "2"

	return ApiGetWorkflowDefinitionsRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V2 GET /Workflow/Definitions
//
//	@return []WorkflowsDefinitionQueryResponse
func (a *WorkflowDefinitionApiService) GetWorkflowDefinitionsExecute(r ApiGetWorkflowDefinitionsRequest) ([]WorkflowsDefinitionQueryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []WorkflowsDefinitionQueryResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "2"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V2 GET /Workflow/Definitions/{definitionId}
type ApiGetWorkflowDefinitionsDefinitionIdRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowDefinitionApiService
	definitionId            string
	xKeyfactorRequestedWith *string
	definitionVersion       *int32
	exportable              *bool
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowDefinitionsDefinitionIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowDefinitionsDefinitionIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// The version to retrieve. If this value is not specified, the latest version will be returned.
func (r ApiGetWorkflowDefinitionsDefinitionIdRequest) DefinitionVersion(definitionVersion int32) ApiGetWorkflowDefinitionsDefinitionIdRequest {
	r.definitionVersion = &definitionVersion
	return r
}

// Indicates if the response should be cleansed of role ids for export.
func (r ApiGetWorkflowDefinitionsDefinitionIdRequest) Exportable(exportable bool) ApiGetWorkflowDefinitionsDefinitionIdRequest {
	r.exportable = &exportable
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowDefinitionsDefinitionIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowDefinitionsDefinitionIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V2 GET /Workflow/Definitions/{definitionId} request context
func (r ApiGetWorkflowDefinitionsDefinitionIdRequest) Execute() (*WorkflowsDefinitionResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowDefinitionsDefinitionIdExecute(r)
}

/*
Creates a new V2 GET /Workflow/Definitions/{definitionId} request.

GetWorkflowDefinitionsDefinitionId Gets a workflow definition.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param definitionId The Id of the definition to retrieve.
	@return ApiGetWorkflowDefinitionsDefinitionIdRequest
*/
func (a *WorkflowDefinitionApiService) NewGetWorkflowDefinitionsDefinitionIdRequest(ctx context.Context, definitionId string) ApiGetWorkflowDefinitionsDefinitionIdRequest {

	requestedWith := "APIClient"
	apiVersion := "2"

	return ApiGetWorkflowDefinitionsDefinitionIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		definitionId: definitionId,
	}
}

// Executes the API request V2 GET /Workflow/Definitions/{definitionId}
//
//	@return WorkflowsDefinitionResponse
func (a *WorkflowDefinitionApiService) GetWorkflowDefinitionsDefinitionIdExecute(r ApiGetWorkflowDefinitionsDefinitionIdRequest) (*WorkflowsDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowsDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "2"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions/{definitionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"definitionId"+"}", url.PathEscape(parameterValueToString(r.definitionId, "definitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.definitionVersion != nil {
		parameterAddToQuery(localVarQueryParams, "definitionVersion", r.definitionVersion, "")
	}
	if r.exportable != nil {
		parameterAddToQuery(localVarQueryParams, "exportable", r.exportable, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V2 PUT /Workflow/Definitions/{definitionId}
type ApiUpdateWorkflowDefinitionsDefinitionIdRequest struct {
	ctx                              context.Context
	ApiService                       *WorkflowDefinitionApiService
	definitionId                     string
	xKeyfactorRequestedWith          *string
	force                            *bool
	xKeyfactorApiVersion             *string
	workflowsDefinitionUpdateRequest *WorkflowsDefinitionUpdateRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiUpdateWorkflowDefinitionsDefinitionIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiUpdateWorkflowDefinitionsDefinitionIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Whether to force the update of this definition in the case that it would run workflows immediately.
func (r ApiUpdateWorkflowDefinitionsDefinitionIdRequest) Force(force bool) ApiUpdateWorkflowDefinitionsDefinitionIdRequest {
	r.force = &force
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiUpdateWorkflowDefinitionsDefinitionIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiUpdateWorkflowDefinitionsDefinitionIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// The Workflows.DefinitionUpdateRequest holding the updated DisplayName and Description.
func (r ApiUpdateWorkflowDefinitionsDefinitionIdRequest) WorkflowsDefinitionUpdateRequest(workflowsDefinitionUpdateRequest WorkflowsDefinitionUpdateRequest) ApiUpdateWorkflowDefinitionsDefinitionIdRequest {
	r.workflowsDefinitionUpdateRequest = &workflowsDefinitionUpdateRequest
	return r
}

// Executes the V2 PUT /Workflow/Definitions/{definitionId} request context
func (r ApiUpdateWorkflowDefinitionsDefinitionIdRequest) Execute() (*WorkflowsDefinitionResponse, *http.Response, error) {
	return r.ApiService.UpdateWorkflowDefinitionsDefinitionIdExecute(r)
}

/*
Creates a new V2 PUT /Workflow/Definitions/{definitionId} request.

UpdateWorkflowDefinitionsDefinitionId Updates the existing definition's DisplayName and Description.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param definitionId The Id of the definition to update.
	@return ApiUpdateWorkflowDefinitionsDefinitionIdRequest
*/
func (a *WorkflowDefinitionApiService) NewUpdateWorkflowDefinitionsDefinitionIdRequest(ctx context.Context, definitionId string) ApiUpdateWorkflowDefinitionsDefinitionIdRequest {

	requestedWith := "APIClient"
	apiVersion := "2"

	return ApiUpdateWorkflowDefinitionsDefinitionIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		definitionId: definitionId,
	}
}

// Executes the API request V2 PUT /Workflow/Definitions/{definitionId}
//
//	@return WorkflowsDefinitionResponse
func (a *WorkflowDefinitionApiService) UpdateWorkflowDefinitionsDefinitionIdExecute(r ApiUpdateWorkflowDefinitionsDefinitionIdRequest) (*WorkflowsDefinitionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowsDefinitionResponse
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "2"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Definitions/{definitionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"definitionId"+"}", url.PathEscape(parameterValueToString(r.definitionId, "definitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.force != nil {
		parameterAddToQuery(localVarQueryParams, "force", r.force, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	// body params
	localVarPostBody = r.workflowsDefinitionUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
