/*
Copyright 2025 Keyfactor
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.  You may obtain a
copy of the License at http://www.apache.org/licenses/LICENSE-2.0.  Unless
required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
thespecific language governing permissions and limitations under the
License.

This reference serves to document REST-based methods to manage and integrate with Keyfactor. In addition, an embedded interface allows for the execution of calls against the current Keyfactor API instance.

Keyfactor Command Version: 24.4.2

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// WorkflowApiService WorkflowApi service
type WorkflowApiService service

// Request for V1 POST /Workflow/Certificates/Approve
type ApiCreateWorkflowCertificatesApproveRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowApiService
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
	requestBody             *[]int32
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateWorkflowCertificatesApproveRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateWorkflowCertificatesApproveRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateWorkflowCertificatesApproveRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateWorkflowCertificatesApproveRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Array of Keyfactor identifiers of the certificate requests
func (r ApiCreateWorkflowCertificatesApproveRequest) RequestBody(requestBody []int32) ApiCreateWorkflowCertificatesApproveRequest {
	r.requestBody = &requestBody
	return r
}

// Executes the V1 POST /Workflow/Certificates/Approve request context
func (r ApiCreateWorkflowCertificatesApproveRequest) Execute() (*CSSCMSDataModelModelsWorkflowApproveDenyResult, *http.Response, error) {
	return r.ApiService.CreateWorkflowCertificatesApproveExecute(r)
}

/*
Creates a new V1 POST /Workflow/Certificates/Approve request.

CreateWorkflowCertificatesApprove Approves pending certificate requests associated with the provided ids

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateWorkflowCertificatesApproveRequest
*/
func (a *WorkflowApiService) NewCreateWorkflowCertificatesApproveRequest(ctx context.Context) ApiCreateWorkflowCertificatesApproveRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateWorkflowCertificatesApproveRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 POST /Workflow/Certificates/Approve
//
//	@return CSSCMSDataModelModelsWorkflowApproveDenyResult
func (a *WorkflowApiService) CreateWorkflowCertificatesApproveExecute(r ApiCreateWorkflowCertificatesApproveRequest) (*CSSCMSDataModelModelsWorkflowApproveDenyResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsWorkflowApproveDenyResult
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Certificates/Approve"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 POST /Workflow/Certificates/Deny
type ApiCreateWorkflowCertificatesDenyRequest struct {
	ctx                                        context.Context
	ApiService                                 *WorkflowApiService
	xKeyfactorRequestedWith                    *string
	xKeyfactorApiVersion                       *string
	cSSCMSDataModelModelsWorkflowDenialRequest *CSSCMSDataModelModelsWorkflowDenialRequest
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiCreateWorkflowCertificatesDenyRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiCreateWorkflowCertificatesDenyRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiCreateWorkflowCertificatesDenyRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiCreateWorkflowCertificatesDenyRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Keyfactor identifiers of the certificate requests to be denied and any denial comments
func (r ApiCreateWorkflowCertificatesDenyRequest) CSSCMSDataModelModelsWorkflowDenialRequest(cSSCMSDataModelModelsWorkflowDenialRequest CSSCMSDataModelModelsWorkflowDenialRequest) ApiCreateWorkflowCertificatesDenyRequest {
	r.cSSCMSDataModelModelsWorkflowDenialRequest = &cSSCMSDataModelModelsWorkflowDenialRequest
	return r
}

// Executes the V1 POST /Workflow/Certificates/Deny request context
func (r ApiCreateWorkflowCertificatesDenyRequest) Execute() (*CSSCMSDataModelModelsWorkflowApproveDenyResult, *http.Response, error) {
	return r.ApiService.CreateWorkflowCertificatesDenyExecute(r)
}

/*
Creates a new V1 POST /Workflow/Certificates/Deny request.

CreateWorkflowCertificatesDeny Denies pending certificate requests associated with the provided ids

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateWorkflowCertificatesDenyRequest
*/
func (a *WorkflowApiService) NewCreateWorkflowCertificatesDenyRequest(ctx context.Context) ApiCreateWorkflowCertificatesDenyRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiCreateWorkflowCertificatesDenyRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 POST /Workflow/Certificates/Deny
//
//	@return CSSCMSDataModelModelsWorkflowApproveDenyResult
func (a *WorkflowApiService) CreateWorkflowCertificatesDenyExecute(r ApiCreateWorkflowCertificatesDenyRequest) (*CSSCMSDataModelModelsWorkflowApproveDenyResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CSSCMSDataModelModelsWorkflowApproveDenyResult
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Certificates/Deny"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	// body params
	localVarPostBody = r.cSSCMSDataModelModelsWorkflowDenialRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Workflow/Certificates/{id}
type ApiGetWorkflowCertificatesByIdRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowApiService
	id                      int32
	xKeyfactorRequestedWith *string
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowCertificatesByIdRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowCertificatesByIdRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowCertificatesByIdRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowCertificatesByIdRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Workflow/Certificates/{id} request context
func (r ApiGetWorkflowCertificatesByIdRequest) Execute() (*CertificatesCertRequestResponseModel, *http.Response, error) {
	return r.ApiService.GetWorkflowCertificatesByIdExecute(r)
}

/*
Creates a new V1 GET /Workflow/Certificates/{id} request.

GetWorkflowCertificatesById Returns certificate request details based on the provided ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The ID of the certificate request.
	@return ApiGetWorkflowCertificatesByIdRequest
*/
func (a *WorkflowApiService) NewGetWorkflowCertificatesByIdRequest(ctx context.Context, id int32) ApiGetWorkflowCertificatesByIdRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowCertificatesByIdRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,

		id: id,
	}
}

// Executes the API request V1 GET /Workflow/Certificates/{id}
//
//	@return CertificatesCertRequestResponseModel
func (a *WorkflowApiService) GetWorkflowCertificatesByIdExecute(r ApiGetWorkflowCertificatesByIdRequest) (*CertificatesCertRequestResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CertificatesCertRequestResponseModel
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Certificates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Workflow/Certificates/Denied
type ApiGetWorkflowCertificatesDeniedRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowCertificatesDeniedRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowCertificatesDeniedRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetWorkflowCertificatesDeniedRequest) QueryString(queryString string) ApiGetWorkflowCertificatesDeniedRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetWorkflowCertificatesDeniedRequest) PageReturned(pageReturned int32) ApiGetWorkflowCertificatesDeniedRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetWorkflowCertificatesDeniedRequest) ReturnLimit(returnLimit int32) ApiGetWorkflowCertificatesDeniedRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetWorkflowCertificatesDeniedRequest) SortField(sortField string) ApiGetWorkflowCertificatesDeniedRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetWorkflowCertificatesDeniedRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetWorkflowCertificatesDeniedRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowCertificatesDeniedRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowCertificatesDeniedRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Workflow/Certificates/Denied request context
func (r ApiGetWorkflowCertificatesDeniedRequest) Execute() ([]CSSCMSDataModelModelsWorkflowCertificateRequestModel, *http.Response, error) {
	return r.ApiService.GetWorkflowCertificatesDeniedExecute(r)
}

/*
Creates a new V1 GET /Workflow/Certificates/Denied request.

GetWorkflowCertificatesDenied Gets a collection of denied certificate requests based on the provided query.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowCertificatesDeniedRequest
*/
func (a *WorkflowApiService) NewGetWorkflowCertificatesDeniedRequest(ctx context.Context) ApiGetWorkflowCertificatesDeniedRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowCertificatesDeniedRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Workflow/Certificates/Denied
//
//	@return []CSSCMSDataModelModelsWorkflowCertificateRequestModel
func (a *WorkflowApiService) GetWorkflowCertificatesDeniedExecute(r ApiGetWorkflowCertificatesDeniedRequest) ([]CSSCMSDataModelModelsWorkflowCertificateRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CSSCMSDataModelModelsWorkflowCertificateRequestModel
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Certificates/Denied"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Workflow/Certificates/ExternalValidation
type ApiGetWorkflowCertificatesExternalValidationRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowCertificatesExternalValidationRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowCertificatesExternalValidationRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetWorkflowCertificatesExternalValidationRequest) QueryString(queryString string) ApiGetWorkflowCertificatesExternalValidationRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetWorkflowCertificatesExternalValidationRequest) PageReturned(pageReturned int32) ApiGetWorkflowCertificatesExternalValidationRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetWorkflowCertificatesExternalValidationRequest) ReturnLimit(returnLimit int32) ApiGetWorkflowCertificatesExternalValidationRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetWorkflowCertificatesExternalValidationRequest) SortField(sortField string) ApiGetWorkflowCertificatesExternalValidationRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetWorkflowCertificatesExternalValidationRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetWorkflowCertificatesExternalValidationRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowCertificatesExternalValidationRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowCertificatesExternalValidationRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Workflow/Certificates/ExternalValidation request context
func (r ApiGetWorkflowCertificatesExternalValidationRequest) Execute() ([]CSSCMSDataModelModelsWorkflowCertificateRequestModel, *http.Response, error) {
	return r.ApiService.GetWorkflowCertificatesExternalValidationExecute(r)
}

/*
Creates a new V1 GET /Workflow/Certificates/ExternalValidation request.

GetWorkflowCertificatesExternalValidation Gets a collection of external validation certificate requests based on the provided query.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowCertificatesExternalValidationRequest
*/
func (a *WorkflowApiService) NewGetWorkflowCertificatesExternalValidationRequest(ctx context.Context) ApiGetWorkflowCertificatesExternalValidationRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowCertificatesExternalValidationRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Workflow/Certificates/ExternalValidation
//
//	@return []CSSCMSDataModelModelsWorkflowCertificateRequestModel
func (a *WorkflowApiService) GetWorkflowCertificatesExternalValidationExecute(r ApiGetWorkflowCertificatesExternalValidationRequest) ([]CSSCMSDataModelModelsWorkflowCertificateRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CSSCMSDataModelModelsWorkflowCertificateRequestModel
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Certificates/ExternalValidation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// Request for V1 GET /Workflow/Certificates/Pending
type ApiGetWorkflowCertificatesPendingRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowApiService
	xKeyfactorRequestedWith *string
	queryString             *string
	pageReturned            *int32
	returnLimit             *int32
	sortField               *string
	sortAscending           *KeyfactorCommonQueryableExtensionsSortOrder
	xKeyfactorApiVersion    *string
}

// Type of the request [XMLHttpRequest, APIClient]
func (r ApiGetWorkflowCertificatesPendingRequest) XKeyfactorRequestedWith(xKeyfactorRequestedWith string) ApiGetWorkflowCertificatesPendingRequest {
	r.xKeyfactorRequestedWith = &xKeyfactorRequestedWith
	return r
}

func (r ApiGetWorkflowCertificatesPendingRequest) QueryString(queryString string) ApiGetWorkflowCertificatesPendingRequest {
	r.queryString = &queryString
	return r
}

func (r ApiGetWorkflowCertificatesPendingRequest) PageReturned(pageReturned int32) ApiGetWorkflowCertificatesPendingRequest {
	r.pageReturned = &pageReturned
	return r
}

func (r ApiGetWorkflowCertificatesPendingRequest) ReturnLimit(returnLimit int32) ApiGetWorkflowCertificatesPendingRequest {
	r.returnLimit = &returnLimit
	return r
}

func (r ApiGetWorkflowCertificatesPendingRequest) SortField(sortField string) ApiGetWorkflowCertificatesPendingRequest {
	r.sortField = &sortField
	return r
}

func (r ApiGetWorkflowCertificatesPendingRequest) SortAscending(sortAscending KeyfactorCommonQueryableExtensionsSortOrder) ApiGetWorkflowCertificatesPendingRequest {
	r.sortAscending = &sortAscending
	return r
}

// Desired version of the api, if not provided defaults to v1
func (r ApiGetWorkflowCertificatesPendingRequest) XKeyfactorApiVersion(xKeyfactorApiVersion string) ApiGetWorkflowCertificatesPendingRequest {
	r.xKeyfactorApiVersion = &xKeyfactorApiVersion
	return r
}

// Executes the V1 GET /Workflow/Certificates/Pending request context
func (r ApiGetWorkflowCertificatesPendingRequest) Execute() ([]CSSCMSDataModelModelsWorkflowCertificateRequestModel, *http.Response, error) {
	return r.ApiService.GetWorkflowCertificatesPendingExecute(r)
}

/*
Creates a new V1 GET /Workflow/Certificates/Pending request.

GetWorkflowCertificatesPending Gets a collection of pending certificate requests based on the provided query.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowCertificatesPendingRequest
*/
func (a *WorkflowApiService) NewGetWorkflowCertificatesPendingRequest(ctx context.Context) ApiGetWorkflowCertificatesPendingRequest {

	requestedWith := "APIClient"
	apiVersion := "1"

	return ApiGetWorkflowCertificatesPendingRequest{
		ApiService:              a,
		ctx:                     ctx,
		xKeyfactorRequestedWith: &requestedWith,
		xKeyfactorApiVersion:    &apiVersion,
	}
}

// Executes the API request V1 GET /Workflow/Certificates/Pending
//
//	@return []CSSCMSDataModelModelsWorkflowCertificateRequestModel
func (a *WorkflowApiService) GetWorkflowCertificatesPendingExecute(r ApiGetWorkflowCertificatesPendingRequest) ([]CSSCMSDataModelModelsWorkflowCertificateRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CSSCMSDataModelModelsWorkflowCertificateRequestModel
	)

	apiBasePath := a.client.AuthClient.GetServerConfig().APIPath
	if apiBasePath == "" {
		apiBasePath = "/KeyfactorAPI"
	}

	if r.xKeyfactorRequestedWith == nil {
		requestedWith := "APIClient"
		r.xKeyfactorRequestedWith = &requestedWith
	}

	if r.xKeyfactorApiVersion == nil {
		apiVersion := "1"
		r.xKeyfactorApiVersion = &apiVersion
	}

	localVarPath := apiBasePath + "/Workflow/Certificates/Pending"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xKeyfactorRequestedWith == nil {
		return localVarReturnValue, nil, reportError("xKeyfactorRequestedWith is required and must be specified")
	}

	if r.queryString != nil {
		parameterAddToQuery(localVarQueryParams, "QueryString", r.queryString, "")
	}
	if r.pageReturned != nil {
		parameterAddToQuery(localVarQueryParams, "PageReturned", r.pageReturned, "")
	}
	if r.returnLimit != nil {
		parameterAddToQuery(localVarQueryParams, "ReturnLimit", r.returnLimit, "")
	}
	if r.sortField != nil {
		parameterAddToQuery(localVarQueryParams, "SortField", r.sortField, "")
	}
	if r.sortAscending != nil {
		parameterAddToQuery(localVarQueryParams, "SortAscending", r.sortAscending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xKeyfactorApiVersion != nil {
		parameterAddToQuery(localVarHeaderParams, "x-keyfactor-api-version", r.xKeyfactorApiVersion, "")
	}
	parameterAddToQuery(localVarHeaderParams, "x-keyfactor-requested-with", r.xKeyfactorRequestedWith, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
